.c-textfield.c-dropdown {
	&:not([data-c-dropdown-readonly]){
		> div:first-child {
			@media (hover:hover) {
				&:hover {
					cursor: pointer;
					--g-background-color-opacity: var(--g-opacity2);

					& * {
						cursor: pointer;
					}
				}
			}

			&:active {
				--g-background-color-opacity: var(--g-opacity2);
			}

			&[data-c-readonly]::before {
				min-height: 2px;
				border-radius: 2px 2px 0 0;
			}

			&[data-c-focused] {
				--g-background-color-opacity: 1;
				--g-background-color: var(--g-color-surface);
				border-color: rgba(var(--g-color-on-surface), var(--g-opacity2));

				&::before {
					background-color: rgb(var(--g-color-accent));

					animation: dropdown-start-focus .3s var(--g-transition-spring);
				}
			}
		}
	}
}

@keyframes dropdown-start-focus {
	from { width: 0 }
	to { width: calc(100% - var(--c-textfield-border-radius) * 2) }
}

:is(.c-dropdown-header, .c-dropdown-footer) {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 4px;

	&:empty {
		display: none;
	}
}

.c-dropdown-footer {
	padding-bottom: 4px;
}

.c-dropdown-header {
	padding-top: 4px;
}

.c-modal.c-menu.c-dropdown-menu > div {
	padding: 0;
	gap: 0;
}

.c-dropdown-items {
	display: grid;
	grid-template-columns: 1fr;
	gap: 4px;
	flex: 1;
	padding: 4px 0;
	max-height: 100%;
	width: 100%;
	overflow: auto;
}