@use '../../../styles/units.scss' as u;

.body {
	padding: u.Rem(12px) u.Rem(16px) u.Rem(16px) u.Rem(16px);
	display: flex;
	gap: u.Rem(32px);
	flex-wrap: wrap;
}

.bodyControl {
	width: u.Rem(512px);
	> p {
		font-size: var(--g-font-size-xs);
		margin-top: u.Rem(16px);
	}

	> [data-css-color] {
		padding: u.Rem(12px);
		width: min(100%, u.Rem(512px));
		border-radius: u.Rem(4px);
		height: u.Rem(128px);
		margin-top: u.Rem(8px);
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: u.Rem(12px);
		transition-property: background-color;
		transition-duration: var(--g-duration-transition);

		@media (max-width: u.Rem(360px)) {
			grid-template-columns: 1fr;
			height: u.Rem(192px);
		}

		> span {
			padding: inherit;
			border-radius: u.Rem(4px);
			font-weight: bold;
			transition-property: background-color;
			transition-duration: var(--g-duration-transition);
		}
	}
}

.bodyList {
	flex: 1;
	height: fit-content;
	display: grid;
	gap: u.Rem(16px);
	list-style: none;
	grid-template-columns: repeat(auto-fill, minmax(u.Rem(192px), 1fr));

	&:empty {
		display: none;
	}

	& p {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: u.Rem(1px);
		font-size: u.Rem(14px);

		> :first-child {
			margin-right: u.Rem(7px);
		}
	}

	& div {
		margin-top: u.Rem(4px);
		padding: u.Rem(4px);
		border-radius: u.Rem(4px);
		display: grid;
		grid-template-columns: 1fr 1fr;

		& span {
			padding: u.Rem(4px);
			border-radius: u.Rem(2px);
			text-align: center;
			font-size: var(--g-font-size-xs);
			font-weight: bold;
		}
	}
}