.body {
	padding: 12px 16px 16px 16px;
	display: flex;
	gap: 32px;
	flex-wrap: wrap;
}

.bodyControl {
	width: 512px;
	> p {
		font-size: var(--g-font-size-xs);
		margin-top: 16px;
	}

	> [data-css-color] {
		padding: 12px;
		width: min(100%, 512px);
		border-radius: 4px;
		height: 128px;
		margin-top: 8px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 12px;

		:root[data-animation=on] & {
			transition-property: background-color;
			transition-duration: .25s;
		}

		@media (prefers-reduced-motion: no-preference) {
			:root[data-animation=auto] & {
				transition-property: background-color;
				transition-duration: .25s;
			}
		}

		@media (max-width: 360px) {
			grid-template-columns: 1fr;
			height: 192px;
		}

		> span {
			padding: inherit;
			border-radius: 4px;
			font-weight: bold;

			:root[data-animation=on] & {
				transition-property: background-color;
				transition-duration: .25s;
			}

			@media (prefers-reduced-motion: no-preference) {
				:root[data-animation=auto] & {
					transition-property: background-color;
					transition-duration: .25s;
				}
			}
		}
	}
}

.bodyList {
	flex: 1;
	height: fit-content;
	display: grid;
	gap: 16px;
	list-style: none;
	grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));

	&:empty {
		display: none;
	}

	& p {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 1px;
		font-size: 14px;

		> :first-child {
			margin-right: 7px;
		}
	}

	& div {
		margin-top: 4px;
		padding: 4px;
		border-radius: 4px;
		display: grid;
		grid-template-columns: 1fr 1fr;

		& span {
			padding: 4px;
			border-radius: 2px;
			text-align: center;
			font-size: var(--g-font-size-xs);
			font-weight: bold;
		}
	}
}