---
import { joinClassList } from '@/utils/attributes'

import { CAppBar, type AppBarProps } from '.'
import './index.scss'

type Props = AppBarProps
const {
	'class': className,
	AppBarTagName      = 'header',
	AppBarLeadingAttr  = {},
	AppBarTrailingAttr = {},
	AppBarContentAttr  = {},
	AppBarHeadingAttr  = {},
	AppBarFlexAttr     = {},
	...other
} = Astro.props
const {'class': contentClass , ...contentOther } = AppBarContentAttr
const {'class': headingClass , ...headingOther } = AppBarHeadingAttr
const {'class': leadingClass , ...leadingOther } = AppBarLeadingAttr
const {'class': trailingClass, ...trailingOther} = AppBarTrailingAttr
const {'class': flexClass    , ...flexOther} = AppBarFlexAttr

const Dynamic = AppBarTagName as 'header'
const cls = CAppBar.Classes
---
<Dynamic
	class={joinClassList(cls.appbar, className)}
	{...other}>
	<div
		class={joinClassList(cls.leading, leadingClass)}
		{...leadingOther}><slot name='leading'/></div>
	<div
		class={joinClassList(cls.content, contentClass)}
		{...contentOther}>
		<h2
			class={joinClassList(cls.headline, headingClass)}
			{...headingOther}><slot name='headline'/></h2>
		<slot />
	</div>
	<div
		class={joinClassList(cls.flex, flexClass)}
		{...flexOther}/>
	<div
		class={joinClassList(cls.trailing, trailingClass)}
		{...trailingOther}><slot name='trailing'/></div>
</Dynamic>