.appbar {
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    min-height: 56px;
    gap: 8px;

    > div {
        display: flex;
        align-items: center;
    }
}

.appbar-headline {
    gap: 8px;
    flex: 1;
    overflow: hidden;

    > h2 {
        font-size: var(--font-size-m);
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }
}

:is(.appbar-leading, .appbar-trailing) {
    gap: 4px;

    &:empty {
        display: none;
    }
}