.c-appbar {
	width: 100%;
	padding: 8px 4px;
	display: flex;
	align-items: center;
	gap: 4px;
}

.c-appbar-content {
	display: flex;
	align-items: center;
	gap: 8px;
	flex: 1;
	overflow: hidden;
}

.c-appbar-headline {
	font-size: var(--g-font-size-m);
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	text-wrap: nowrap;
}

.c-appbar-leading,
.c-appbar-trailing {
	display: contents;
}