---
import { attrClassList } from '@/utils/attributes'
import { AppBarClasses, type AppBarProps } from '.'
import './index.scss'

type Props = AppBarProps
const {
	'class': className,
	AppTagName      = 'header',
	AppLeadingAttr  = {},
	AppTrailingAttr = {},
	AppContentAttr  = {},
	AppHeadingAttr  = {},
	...other
} = Astro.props
const {'class': contentClassName , ...contentOther } = AppContentAttr
const {'class': headingClassName , ...headingOther } = AppHeadingAttr
const {'class': leadingClassName , ...leadingOther } = AppLeadingAttr
const {'class': trailingClassName, ...trailingOther} = AppTrailingAttr

const Dynamic = AppTagName as 'header'
---
<Dynamic
	class={attrClassList(AppBarClasses.appbar, className)}
	{...other}>
	{Astro.slots.has('leading') &&
		<div class={attrClassList(AppBarClasses.leading, leadingClassName)} {...leadingOther}>
			<slot name='leading'/>
		</div>
	}
	<div class={attrClassList(AppBarClasses.content, contentClassName)} {...contentOther}>
		{Astro.slots.has('headline') &&
			<h2
				class={attrClassList(AppBarClasses.headline, headingClassName)}
				{...headingOther}>
				<slot name='headline'/>
			</h2>
		}
		<slot />
	</div>
	{Astro.slots.has('trailing') &&
		<div class={attrClassList(AppBarClasses.trailing, trailingClassName)} {...trailingOther}>
			<slot name='trailing'/>
		</div>
	}
</Dynamic>