---
import { joinClassList } from '@/utils/attributes'

import {
	MenuClasses,
	type MenuItemProps
} from '.'
import Button from '@/native-components/Button/index.astro'
import './index.scss'

type Props = MenuItemProps
const {
	'class': className,
	role,
	...other
} = Astro.props
---

<Button
	class={joinClassList(MenuClasses.item, className)}
	role={role ?? "menuitem"}
	{...other}>
	<slot/>
</Button>