---
import { attrClassList } from '@/utils/attributes'
import { type MenuHeaderProps, MenuClasses } from '.'
import './index.scss'

type Props = MenuHeaderProps
const {
	'class': className,
	...other
} = Astro.props
---

<div class={attrClassList(MenuClasses.header, className)} {...other}>
	<slot/>
</div>