---
import Html from '@/layouts/Html/index.astro'
import Appbar from '@/layouts/Appbar/index.astro'
import BottomBar from '@/layouts/BottomBar/index.astro'
import Main from '@/layouts/Main/index.astro'
import { RoutesLinks } from '@/enums/links'
import CSS from './_index.module.scss'
import logo from '@/assets/logo.svg';
import Splash from '@/layouts/Splash/index.astro';

export const prerender = true
---

<Html componentCount={2} title="About Redmerah" description="Welcome to Redmerah, your one-stop for becoming a productivity powerhouse. We're more than just a platform; we're your partner in streamlining your workflow and conquering your to-do list. Ever feel overwhelmed by a overflowing task list? Redmerah can help. With the right tools at your fingertips, you can tackle any project with confidence.">
	<Appbar route={RoutesLinks.about} />
	<Main>
		<article class={CSS.article}>
			<h1>Redmerah: Unleash Your Inner Powerhouse</h1>
			<p>Welcome to Redmerah, your one-stop for becoming a productivity powerhouse. We're more than just a platform; we're your partner in streamlining your workflow and conquering your to-do list. Ever feel overwhelmed by a overflowing task list? Redmerah can help. With the right tools at your fingertips, you can tackle any project with confidence.</p>
			<section>
				<h2 id="Supercharged-by-Innovation"><a href="#Supercharged-by-Innovation">Supercharged by Innovation</a></h2>
				<p>Redmerah stays ahead of the curve by harnessing the latest web technologies. This translates to applications that run smoothly and offer robust features, whether you're conquering tasks online or working offline.  Stuck on a plane with no Wi-Fi? No problem! Redmerah keeps your data readily available, even without an internet connection. We understand that reliable connectivity isn't always a guarantee, and that's why we prioritize flexibility. With Redmerah, you can work seamlessly even in remote locations, ensuring your productivity never takes a backseat.</p>
				<p>Speaking of data, we prioritize your privacy. Unlike other platforms that hoard your information like digital dragons guarding their treasure, Redmerah applications save everything locally on your device. This means your settings, history, and all your important data remain under your control. You decide what stays and what goes. Redmerah empowers you to be the master of your digital domain.</p>
			</section>
			<section>
				<h2 id="Designed-for-You-by-Humans"><a href="#Designed-for-You-by-Humans">Designed for You, by Humans</a></h2>
				<p>We're obsessed with crafting user interfaces (UI) and user experiences (UX) that are a joy to use. Our applications are meticulously designed to adapt seamlessly to any device you choose, be it a desktop computer, a tablet, or your trusty smartphone. We believe that productivity shouldn't be a chore. Our interfaces are intuitive and aesthetically pleasing, making it a pleasure to organize your tasks and conquer your goals. No matter your tech savviness, Redmerah's user-friendly design makes it easy to get started and maximize your efficiency</p>
			</section>
			<section>
				<h2 id="Focus-on-What-Matters"><a href="#Focus-on-What-Matters">Focus on What Matters</a></h2>
				<p>Unlike other platforms that bombard you with ads, turning your screen into a chaotic marketplace, Redmerah is a distraction-free zone. We prioritize functionality over flashy banners or intrusive pop-ups. Here, you can concentrate on getting things done without the annoyance of constant interruptions</p>
			</section>
			<section>
				<h2 id="Fueling-the-Future"><a href="#Fueling-the-Future">Fueling the Future</a></h2>
				<p>Redmerah is a passionate project driven by the support of amazing people like you. We operate on donations and sponsorships, and if you find our tools valuable, we encourage you to consider becoming a sponsor. Reach out to us at <a href="mailto:redmerah1813@gmail.com">redmerah1813@gmail.com</a>. Every contribution fuels our passion to develop even more useful applications that empower you to achieve more.</p>
			</section>
			<section>
				<h2 id="Your-Voice-Shapes-Our-Journey"><a href="#Your-Voice-Shapes-Our-Journey">Your Voice Shapes Our Journey</a></h2>
				<p>Have an idea for a feature? Encountered a bug? We&#39;re all ears! Contact us at <a href="mailto:redmerah1813@gmail.com">redmerah1813@gmail.com</a>, and we&#39;ll listen. Your feedback is the cornerstone of our development process, and it helps us create tools that truly meet your needs.</p>
				<p>Thank you for joining the Redmerah community! We're thrilled to have you on board as we embark on this journey to unlock your full potential.</p>
			</section>
		</article>
	</Main>
	<BottomBar />
	<Splash src={logo.src} alt={`Redmerah splash icon`} />
</Html>

<script is:inline src='/scripts/theme.js'/>
<script is:inline src='/scripts/platform.js'/>