---
import UIBasic from "./_pages/_UIBasic.astro"
import UIScientific from "./_pages/_UIScientific.astro"
import UIConverter from "./_pages/_UIConverter.astro"
import UIProgrammer from "./_pages/_UIProgrammer.astro"
import UIDate from "./_pages/_UIDate.astro"
import { CSSClasses } from "../_styles/_css"
---

<main class={CSSClasses.body}>
	<UIBasic />
	<UIScientific />
	<UIConverter />
	<UIProgrammer />
	<UIDate />
</main>