.main {
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: .5rem 1rem 1rem 1rem;
	display: flex;
	gap: .5rem;

	@media (max-width: 40rem) {
		flex-direction: column;
		gap: 1rem;
	}

	> div:not(.slider) {
		width: 100%;
		flex: 1;
		display: flex;
		flex-direction: column;

		@media (max-width: 40rem) {
			display: block;
			width: 100% !important;
		}
	}

	& label {
		padding-bottom: .25rem;
		color: rgb(var(--br-theme-color-accent));
		user-select: none;
	}

	& textarea {
		flex: 1;
		field-sizing: fixed !important;
		font-family: var(--br-theme-font-family-monospace);

		@media (max-width: 40rem) {
			min-height: calc(100dvh - 13rem) !important;
		}

		&:not([data-text-wrap]) {
			white-space: pre;
		}
	}
}

.slider {
	--margin: 1.5rem;
	--width: .25rem;
	min-width: var(--width);
	max-width: var(--width);
	height: calc(100% - var(--margin));
	margin-top: var(--margin);
	cursor: ew-resize;
	display: flex;
	align-items: center;
	border-radius: var(--width);
	position: relative;
	transition-property: opacity, background-color;
	transition-duration: var(--br-theme-duration-transition);

	@media (max-width: 40rem) {
		display: none;
	}

	&:hover {
		background-color: rgb(var(--br-theme-color-accent));

		> br-icon {
			opacity: 0;
		}
	}

	> br-icon {
		user-select: none;
		position: absolute;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
		pointer-events: none;
		transition-property: opacity;
		transition-duration: var(--br-theme-duration-transition);
	}
}