.main {
	background-color: rgb(var(--br-theme-color-surface));
	width: 100%;
	height: 100%;
	border-radius: .5rem 0 0 0;
	border: 1px solid rgba(var(--br-theme-color-on-surface), .08);
	border-right: none;
	border-bottom: none;
	overflow: auto;

	@media (width < 37.5rem) {
		border: none;
		background-color: transparent;
		border-radius: 0;
	}
}

.page_clock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;

	> h2 {
		font-family: var(--br-theme-font-family-monospace);
		text-align: center;
		font-size: max(1.5rem, 10dvw);
		font-weight: bold;

		@media (max-width: 37.5rem) {
			font-size: 16dvw;
		}
	}

	> p {
		text-align: center;
		font-size: max(1.25rem, 3dvw);
		color: rgb(var(--br-theme-color-accent));
		font-weight: bold;
		user-select: none;
	}
}

.page_stopwatch {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	height: 100%;

	> h2 {
		font-family: var(--br-theme-font-family-monospace);
		text-align: center;
		font-size: max(1.5rem, 8dvw);
		font-weight: bold;
		margin-top: 1em;

		@media (max-width: 37.5rem) {
			font-size: 14dvw;
		}
	}

	> [data-css=actions] {
		display: flex;
		justify-content: center;
		gap: .5rem;
		flex-wrap: wrap;
	}

	> [data-css=laps] {
		padding: 1rem;
		display: none;
		justify-content: center;
		flex: 1;
		overflow: auto;
	}

	& table {
		height: fit-content;
		font-family: var(--br-theme-font-family-monospace);
	}

	& th {
		color: rgb(var(--br-theme-color-accent))
	}

	& tr:focus {
		outline: auto;
	}

	& :where(th, td) {
		text-align: start;
		padding: .2rem 1rem;
	}
}

.page_timer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;

	> h2 {
		font-family: var(--br-theme-font-family-monospace);
		text-align: center;
		font-size: max(1.5rem, 10dvw);
		font-weight: bold;

		@media (max-width: 37.5rem) {
			font-size: 16dvw;
		}
	}

	> div {
		display: flex;
		justify-content: center;
		gap: .5rem;
		flex-wrap: wrap;
	}
}