.c-side-navigation {
	display: flex;
	flex-direction: column;
	padding: 8px;
	gap: 4px;
	width: 56px;
	max-width: 56px;
	height: 100%;
	transition-duration: .3s;

	:root[data-platform=desktop] &:not([data-c-expanded]) {
		width: 52px;
		max-width: 52px;
	}

	&[data-c-expanded] {
		width: 280px;
		max-width: 280px;
	}

	&:not([data-c-expanded]) > div {
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	> div {
		width: 100%;
		max-width: inherit;
		display: flex;
		flex-direction: column;
		gap: 4px;

		&:empty {
			display: none;
		}
	}
}

.c-side-navigation-content {
	flex: 1;
	overflow: auto;
	align-items: start;
}

.c-btn.c-side-navigation-item {
	&[data-c-selected] > .c-icon:first-child {
		color: rgb(var(--g-color-accent));
	}

	&:not([data-c-icon]) {
		padding: 4px 8px;
		justify-content: flex-start;
		width: 100%;
		white-space: nowrap;

		@media (hover: none) {
			min-height: 40px !important;

			:root[data-corner=full-round] & {
				border-radius: 20px !important;
			}
		}
	}
}

.c-side-navigation-item-text {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}