.side-navigation {
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 4px;
    width: 56px;
    max-width: 56px;
    height: 100%;
    transition-duration: .3s;
    
    &[data-expand] {
        width: 280px;
        max-width: 280px;
    }

    &:not([data-expand]) > div {
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    > div {
        width: 100%;
        max-width: inherit;
        display: flex;
        flex-direction: column;
        gap: 4px;

        &:empty {
            display: none;
        }
    }
}

.side-navigation-content {
    flex: 1;
    overflow: auto;
    align-items: start;
}

.btn.side-navigation-item {
    &[data-selected] > .btn-layer > .icon:first-child {
        color: rgb(var(--color-accent));
    }

    &:not([data-icon]) {
        --btn-padding: 4px 8px;
        justify-content: flex-start;
        width: 100%;


        @media (hover: none) {
            min-height: 40px !important;

            [data-corner=full-round] & {
                border-radius: 20px !important;
            }
        }

        &[data-trailing]{
            > .btn-layer {
                width: 100%;
            }
        }

        > .btn-layer {
            white-space: nowrap;
        }
    }
}