---
import { CComboBox, type ComboBoxOptionProps } from '.'
import { joinClassList } from '@/utils/attributes'
import { CButton } from '../Button'
import './index.scss'

type Props = ComboBoxOptionProps
const {
	'class': className,
	...other
} = Astro.props

const cls = CComboBox.Classes
---
<option
	class={joinClassList(CButton.Classes.button, cls.option, className)}
	{...other}><slot /></option>