---
import { joinClassList } from '@/utils/attributes'

import {CButton, type IconButtonProps} from '.'
import Icon from '@/components/Icon/index.astro'
import Button from './index.astro'
import './index.scss'

type Props = IconButtonProps

const {
	'class': className,
	IconButtonCode,
	IconButtonFilled,
	IconButtonIconAttr = {},
	...other
} = Astro.props
const {
	IconFilled,
	IconCode,
	...iconOther
} = IconButtonIconAttr
const cls = CButton.Classes
---
<Button
	class={joinClassList(cls.icon, className)}
	{...other}>
	<Icon
		IconCode={IconCode ?? IconButtonCode}
		IconFilled={IconFilled ?? IconButtonFilled}
		{...iconOther}
	/>
</Button>