// Priority state (lowest: important):
// - Normal
// - Focus
// - Selected | Unselected
// - Hover
// - Active (pressed)
// - Disabled

.c-btn {
	--c-btn-border-radius: 8px;
	--c-btn-border-opacity: 0;
	--c-btn-padding: 4px 12px;
	--c-btn-icon-animation: none;
	--c-btn-border-color: var(--g-color-on-surface);
	--g-background-color: var(--g-color-on-surface);

	border: 1px solid;
	border-color: transparent;
	border-color: rgba(var(--c-btn-border-color), var(--c-btn-border-opacity));
	display: flex;
	outline-offset: 4px;
	align-items: center;
	border-radius: var(--c-btn-border-radius);
	display: flex;
	font-size: var(--g-font-size-xs);
	line-height: normal;
	justify-content: center;
	min-height: 40px;
	position: relative;
	scrollbar-width: none;
	transition-duration: .3s;
	user-select: none;
	-ms-overflow-style: none;

	& * {
		user-select: none;
	}

	:root[data-platform=mobile] & { font-weight: 500 }
	:root[data-corner=sharp] & { --c-btn-border-radius: 0px }
	:root[data-corner=semi-round] & { --c-btn-border-radius: 4px }
	:root[data-corner=full-round] & { --c-btn-border-radius: 20px }

	&:is(:disabled,[data-c-disabled]) {
		color: rgba(var(--g-color-on-surface), var(--g-opacity-inv4));
		cursor: not-allowed;

		& * {
			cursor: not-allowed;
		}
	}

	&:not(:is(:disabled,[data-c-disabled])){
		&[data-c-selected]:not([data-c-focused],.c-filled-btn,.c-tonal-btn,.c-outlined-btn) {
			color: rgb(var(--g-color-accent))
		}

		&[data-c-focused] {
			--g-background-color-opacity: var(--g-opacity2);
		}

		@media (hover:hover) {
			&:hover {
				--g-background-color-opacity: var(--g-opacity1);
				cursor: pointer;

				> .c-btn-layer > .c-icon {
					animation: var(--c-btn-icon-animation);
				}
			}
		}

		&:active {
			--g-background-color-opacity: var(--g-opacity0);
			--c-btn-border-opacity: var(--g-opacity1);

			&:not([data-c-noscale]) {
				> .c-btn-layer {
					scale: .85;
				}
			}
		}
	}

	&::-webkit-scrollbar {
		display: none;
	}

	:root[data-platform=desktop] & {
		min-height: 36px;
	}

	:root[data-platform=desktop][data-corner=full-round] & {
		--c-btn-border-radius: 18px;
	}

	&[data-c-compact] {
		min-height: 36px;

		:root[data-corner=full-round] & {
			--c-btn-border-radius: 18px;
		}
	}

	&::before {
		--c-btn-indicator-weight: 4px;
		--c-btn-indicator-size: max(4px, calc(100% - var(--c-btn-border-radius) * 2));
		--c-btn-indicator-border-radius: var(--c-btn-indicator-weight);

		background-color: rgb(var(--g-color-accent));
		border-radius: var(--c-btn-indicator-border-radius);
		content: '';
		height: 0;
		opacity: 0;
		position: absolute;
		transition-duration: .3s;
		width: 0;

		:root[data-corner=sharp] & {
			--c-btn-indicator-border-radius: 0;
		}
	}

	&[data-c-selected]::before {
		opacity: 1;
	}

	&:is(.c-filled-btn)::before {
		background-color: rgb(var(--g-color-on-accent));
	}

	&[data-c-indicator=top]{
		&::before {
			left: 50%;
			min-height: var(--c-btn-indicator-weight);
			top: -1px;
			transform: translateX(-50%);
			width: var(--c-btn-indicator-size);
		}

		&:is(.c-filled-btn,.c-tonal-btn,.c-outlined-btn):not([data-c-focused])::before {
			border-radius: 0 0 var(--c-btn-indicator-border-radius) var(--c-btn-indicator-border-radius);
		}
	}

	&[data-c-indicator=bottom]{
		&::before {
			bottom: -1px;
			left: 50%;
			min-height: var(--c-btn-indicator-weight);
			transform: translateX(-50%);
			width: var(--c-btn-indicator-size);
		}

		&:is(.c-filled-btn,.c-tonal-btn,.c-outlined-btn):not([data-c-focused])::before {
			border-radius: var(--c-btn-indicator-border-radius) var(--c-btn-indicator-border-radius) 0 0;
		}
	}

	&[data-c-indicator=left]{
		&::before {
			height: var(--c-btn-indicator-size);
			left: -1px;
			min-width: var(--c-btn-indicator-weight);
			top: 50%;
			transform: translateY(-50%);
		}

		&:is(.c-filled-btn,.c-tonal-btn,.c-outlined-btn):not([data-c-focused])::before {
			border-radius: 0 var(--c-btn-indicator-border-radius) var(--c-btn-indicator-border-radius) 0;

			:root[data-corner=full-round] & {
				border-radius: 999px;
			}
		}
	}

	&[data-c-indicator=right]{
		&::before {
			height: var(--c-btn-indicator-size);
			min-width: var(--c-btn-indicator-weight);
			right: -1px;
			top: 50%;
			transform: translateY(-50%);
		}

		&:is(.c-filled-btn,.c-tonal-btn,.c-outlined-btn):not([data-c-focused])::before {
			border-radius: var(--c-btn-indicator-border-radius) 0 0 var(--c-btn-indicator-border-radius);

			:root[data-corner=full-round] & {
				border-radius: 999px;
			}
		}
	}
}

.c-square-btn {
	--c-btn-padding: 4px;
	--c-squre-btn-size: 40px;
	min-height: var(--c-squre-btn-size);
	max-height: var(--c-squre-btn-size);
	min-width: var(--c-squre-btn-size);
	max-width: var(--c-squre-btn-size);

	:root[data-platform=desktop] & {
		--c-squre-btn-size: 36px;
	}

	&[data-c-compact] {
		--c-squre-btn-size: 36px;
	}
}

.c-floating-action-btn {
	--c-btn-padding: 16px;
	--c-btn-border-radius: 16px;
	min-height: 56px;
	box-shadow: var(--g-elevation3);
	min-width: 80px;

	:root[data-corner=sharp] & { --c-btn-border-radius: 0px }
	:root[data-corner=semi-round] & { --c-btn-border-radius: 8px }
	:root[data-corner=full-round] & { --c-btn-border-radius: 28px }
}

.c-filled-btn {
	--g-background-color-opacity: 1;
	--g-background-color: var(--g-color-accent);
	--c-btn-border-color: var(--g-color-on-surface);
	--c-btn-border-opacity: var(--g-opacity1);
	font-weight: 500;
	color: rgb(var(--g-color-on-accent));

	&:is(:disabled,[data-c-disabled]) {
		--g-background-color: var(--g-color-on-surface);
		--g-background-color-opacity: var(--g-opacity1);
	}

	&:not(:is(:disabled,[data-c-disabled])){
		&[data-c-focused] {
			--g-background-color-opacity: var(--g-opacity-inv3);
		}

		@media (hover:hover) {
			&:hover {
				--g-background-color-opacity: var(--g-opacity-inv3);
			}
		}

		&:active {
			--g-background-color-opacity: var(--g-opacity-inv5);
			--c-btn-border-opacity: var(--g-opacity1);
		}
	}
}

.c-tonal-btn {
	--g-background-color-opacity: var(--g-opacity1);

	&:is(:disabled,[data-c-disabled]) {
		--g-background-color-opacity: var(--g-opacity0);
	}

	&:not(:is(:disabled,[data-c-disabled])){
		&[data-c-focused] {
			--g-background-color-opacity: var(--g-opacity0);
		}

		@media (hover:hover) {
			&:hover {
				--g-background-color-opacity: var(--g-opacity2);
			}
		}

		&:active {
			--g-background-color-opacity: var(--g-opacity1);
			--c-btn-border-opacity: var(--g-opacity1);
		}
	}
}

.c-btn-layer {
	align-items: center;
	border-radius: inherit;
	display: flex;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	gap: 8px;
	height: 100%;
	justify-content: center;
	overflow: hidden;
	padding: var(--c-btn-padding);
	transition-duration: .3s;

	&::-webkit-scrollbar {
		display: none;
	}

	> .c-icon {
		position: relative
	}
}

.c-outlined-btn {
	--c-btn-border-opacity: var(--g-opacity-border);

	&:is(:disabled,[data-c-disabled]) {
		--c-btn-border-color: var(--g-color-on-surface);
		--c-btn-border-opacity: var(--g-opacity5);
	}

	&:not(:is(:disabled,[data-c-disabled])){
		&:active {
			--c-btn-border-opacity: var(--g-opacity-border);
		}
	}
}