---
import { joinClassList } from '@/utils/attributes'

import {type ButtonProps, CButton} from '.'
import './index.scss'

type Props = ButtonProps

const {
	'class': className,
	ButtonVariant,
	ButtonFocused,
	...other
} = Astro.props
const cls = CButton.Classes
---
<button
	class={joinClassList(
		cls.Button,
		className
	)}
	data-c-button-variant={ButtonVariant}
	data-c-button-focused={ButtonFocused? '' : undefined}
	{...other}><slot /></button>