// Priority state (lowest: important):
// - Normal
// - Focus
// - Selected | Unselected
// - Hover
// - Active (pressed)
// - Disabled

.btn {
    --btn-border-opacity: 0;
    --btn-padding: 4px 12px;
    --btn-icon-animation: none;
    --bg-color: var(--color-on-surface);
    --btn-border-color: var(--color-on-surface);

    border: 1px solid;
    border-color: transparent;
    border-color: rgba(var(--btn-border-color), var(--btn-border-opacity));
    display: flex;
    outline-offset: 4px;
    align-items: center;
    border-radius: 8px;
    display: flex;
    font-size: var(--font-size-xs);
    line-height: normal;
    justify-content: center;
    min-height: 40px;
    position: relative;
    scrollbar-width: none;
    transition-duration: .3s;

    -ms-overflow-style: none;

    [data-corner=sharp] & { border-radius: 0 }
    [data-corner=semi-round] & { border-radius: 4px }
    [data-corner=full-round] & { border-radius: 20px }

    &:is(:disabled,[data-disabled]) {
        color: rgba(var(--color-on-surface), var(--opacity-inv4));
        cursor: not-allowed;

        & * {
            cursor: not-allowed;
        }
    }

    &:not(:is(:disabled,[data-disabled])){
        &[data-selected]:not([data-focused],.filled-btn,.tonal-btn,.outlined-btn) {
            color: rgb(var(--color-accent))
        }

        &[data-focused] {
            --bg-opacity: var(--opacity2);
        }

        @media (hover:hover) {
            &:hover {
                --bg-opacity: var(--opacity1);
                cursor: pointer;

                > .btn-layer > .icon {
                    animation: var(--btn-icon-animation);
                }
            }
        }

        &:active {
            --bg-opacity: var(--opacity0);
            --btn-border-opacity: var(--opacity1);

            &:not([data-noscale]) {
                > .btn-layer {
                    scale: .85;
                }
            }
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

    @media (hover: hover) {
        &[data-desktop-compact] {
            --btn-padding: 0 8px;
            min-height: 32px;

            [data-corner=full-round] & {
                border-radius: 16px;
            }
        }
    }

    &[data-compact] {
        --btn-padding: 0 8px;
        min-height: 32px;

        [data-corner=full-round] & {
            border-radius: 16px;
        }
    }

    &::before {
        --btn-indicator-weight: 4px;
        --btn-indicator-size: max(16px, calc(100% - 20px));
        --btn-indicator-border-radius: var(--btn-indicator-weight);

        background-color: rgb(var(--color-accent));
        border-radius: var(--btn-indicator-border-radius);
        content: '';
        height: 0;
        opacity: 0;
        position: absolute;
        transition-duration: .3s;
        width: 0;

        [data-corner=sharp] & {
            --btn-indicator-border-radius: 0;
        }

        [data-corner=full-round] & {
            --btn-indicator-size: max(var(--btn-indicator-weight), calc(100% - 40px));
        }
    }

    &[data-selected]::before {
        opacity: 1;
    }

    &:is(.filled-btn)::before {
        background-color: rgb(var(--color-on-accent));
    }

    &:is([data-indicator=top],[data-indicator=bottom])::before {
        --btn-indicator-size: max(16px, calc(100% - 24px));

        [data-corner=full-round] & {
            --btn-indicator-size: max(var(--btn-indicator-weight), calc(100% - 40px));
        }
    }

    &[data-indicator=top]{
        &::before {
            left: 50%;
            min-height: var(--btn-indicator-weight);
            top: 0;
            transform: translateX(-50%);
            width: var(--btn-indicator-size);
        }

        &:not(.btn-transparent:not([data-focused]))::before {
            border-radius: 0 0 var(--btn-indicator-border-radius) var(--btn-indicator-border-radius);
        }
    }

    &[data-indicator=bottom]{
        &::before {
            bottom: 0;
            left: 50%;
            min-height: var(--btn-indicator-weight);
            transform: translateX(-50%);
            width: var(--btn-indicator-size);
        }

        &:not(.btn-transparent:not([data-focused]))::before {
            border-radius: var(--btn-indicator-border-radius) var(--btn-indicator-border-radius) 0 0;
        }
    }

    &[data-indicator=left]{
        &::before {
            height: var(--btn-indicator-size);
            left: 0;
            min-width: var(--btn-indicator-weight);
            top: 50%;
            transform: translateY(-50%);
        }

        &:not(.btn-transparent:not([data-focused]))::before {
            border-radius: 0 var(--btn-indicator-border-radius) var(--btn-indicator-border-radius) 0;

            [data-corner=full-round] & {
                border-radius: 999px;
            }
        }
    }

    &[data-indicator=right]{
        &::before {
            height: var(--btn-indicator-size);
            min-width: var(--btn-indicator-weight);
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &:not(.btn-transparent:not([data-focused]))::before {
            border-radius: var(--btn-indicator-border-radius) 0 0 var(--btn-indicator-border-radius);

            [data-corner=full-round] & {
                border-radius: 999px;
            }
        }
    }
}

.square-btn {
    --btn-padding: 0;
    --icon-btn-size: 40px;
    min-height: var(--icon-btn-size);
    max-height: var(--icon-btn-size);
    min-width: var(--icon-btn-size);
    max-width: var(--icon-btn-size);

    @media (hover: hover) {
        &[data-desktop-compact] {
            --icon-btn-size: 32px;
        }
    }

    &[data-compact] {
        --icon-btn-size: 32px;
    }
}

.floating-action-btn {
    --btn-padding: 4px 16px;
    min-height: 56px;
    box-shadow: var(--elevation3);
    border-radius: 16px;
    min-width: 80px;

    [data-corner=sharp] & { border-radius: 0 }
    [data-corner=semi-round] & { border-radius: 8px }
    [data-corner=full-round] & { border-radius: 28px }

    &::before {
        --btn-indicator-size: max(16px, calc(100% - 32px));

        [data-corner=full-round] & {
            --btn-indicator-size: max(var(--btn-indicator-weight), calc(100% - 28px * 2));
        }
    }

    &:is([data-indicator=top],[data-indicator=bottom])::before {
        --btn-indicator-size: max(16px, calc(100% - 32px));

        [data-corner=full-round] & {
            --btn-indicator-size: max(var(--btn-indicator-weight), calc(100% - 28px * 2));
        }
    }

    @media (hover: hover) {
        &[data-desktop-compact] {
            --btn-padding: 4px 12px;
            min-height: 40px;
            border-radius: 8px;

            [data-corner=sharp] & { border-radius: 0 }
            [data-corner=semi-round] & { border-radius: 4px }
            [data-corner=full-round] & { border-radius: 20px }

            &::before {
                --btn-indicator-size: max(16px, calc(100% - 20px));

                [data-corner=full-round] & {
                    --btn-indicator-size: max(var(--btn-indicator-weight), calc(100% - 40px));
                }
            }

            &:is([data-indicator=top],[data-indicator=bottom])::before {
                --btn-indicator-size: max(16px, calc(100% - 24px));

                [data-corner=full-round] & {
                    --btn-indicator-size: max(var(--btn-indicator-weight), calc(100% - 40px));
                }
            }
        }
    }

    &[data-compact] {
        --btn-padding: 4px 12px;
        min-height: 40px;
        border-radius: 8px;

        [data-corner=sharp] & { border-radius: 0 }
        [data-corner=semi-round] & { border-radius: 4px }
        [data-corner=full-round] & { border-radius: 20px }

        &::before {
            --btn-indicator-size: max(16px, calc(100% - 20px));

            [data-corner=full-round] & {
                --btn-indicator-size: max(var(--btn-indicator-weight), calc(100% - 40px));
            }
        }

        &:is([data-indicator=top],[data-indicator=bottom])::before {
            --btn-indicator-size: max(16px, calc(100% - 24px));

            [data-corner=full-round] & {
                --btn-indicator-size: max(var(--btn-indicator-weight), calc(100% - 40px));
            }
        }
    }
}

.filled-btn {
    --bg-opacity: 1;
    --bg-color: var(--color-accent);
    --btn-border-color: var(--color-on-surface);
    --btn-border-opacity: var(--opacity1);
    font-weight: 500;
    color: rgb(var(--color-on-accent));

    &:is(:disabled,[data-disabled]) {
        --bg-color: var(--color-on-surface);
        --bg-opacity: var(--opacity1);
    }

    &:not(:is(:disabled,[data-disabled])){
        &[data-focused] {
            --bg-opacity: var(--opacity-inv3);
        }

        @media (hover:hover) {
            &:hover {
                --bg-opacity: var(--opacity-inv3);
            }
        }

        &:active {
            --bg-opacity: var(--opacity-inv5);
            --btn-border-opacity: var(--opacity1);
        }
    }
}

.tonal-btn {
    --bg-opacity: var(--opacity1);

    &:is(:disabled,[data-disabled]) {
        --bg-opacity: var(--opacity0);
    }

    &:not(:is(:disabled,[data-disabled])){
        &[data-focused] {
            --bg-opacity: var(--opacity0);
        }

        @media (hover:hover) {
            &:hover {
                --bg-opacity: var(--opacity2);
            }
        }

        &:active {
            --bg-opacity: var(--opacity1);
            --btn-border-opacity: var(--opacity1);
        }
    }
}

.btn-layer {
    align-items: center;
    border-radius: inherit;
    display: flex;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    gap: 8px;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    padding: var(--btn-padding);
    transition-duration: .3s;

    &::-webkit-scrollbar {
        display: none;
    }

    > .icon {
        position: relative
    }
}

.outlined-btn {
    --btn-border-opacity: var(--opacity-border);

    &:is(:disabled,[data-disabled]) {
        --btn-border-color: var(--color-on-surface);
        --btn-border-opacity: var(--opacity5);
    }

    &:not(:is(:disabled,[data-disabled])){
        &:active {
            --btn-border-opacity: var(--opacity-border);
        }
    }
}