---
import { joinClassList } from '@/utils/attributes'

import {type LinkButtonProps, CButton} from './index'
import './index.scss'

type Props = LinkButtonProps

const {
	'class': className,
	LinkButtonNewTab,
	LinkButtonVariant,
	LinkButtonFocused,
	target,
	rel,
	...other
} = Astro.props
const cls = CButton.Classes
---
<a
	class={joinClassList(cls.button, className)}
	data-c-button-variant={LinkButtonVariant}
	data-c-button-focused={LinkButtonFocused? '' : undefined}
	target={target ?? (LinkButtonNewTab? '_blank' : undefined)}
	rel={rel ?? (LinkButtonNewTab? 'noopener noreferrer' : undefined)}
	{...other}><slot /></a>