---
import { toggleAttribute } from '@/utils/attributes'

import { ButtonVariant, ButtonIndicatorPosition } from '.'
import './index.scss'

type Props = astroHTML.JSX.AnchorHTMLAttributes  & {
	variant?: ButtonVariant
	focus?: boolean
	compact?: boolean
	openInNewTab?: boolean
	selected?: boolean
	disableScale?: boolean
	indicatorPosition?: ButtonIndicatorPosition
	elevation?: 1 | 2 | 3 | 4 | 5
	layerAttr?: astroHTML.JSX.HTMLAttributes
	classList?: string[]
}

const {
	openInNewTab,
	indicatorPosition = ButtonIndicatorPosition.bottom,
	variant = ButtonVariant.transparent,
	focus,
	compact,
	selected,
	elevation,
	layerAttr,
	disableScale,
	classList = [],
	...other
} = Astro.props

---

<a
	class:list={['btn', {
		'filled-btn': variant == ButtonVariant.filled,
		'tonal-btn': variant == ButtonVariant.tonal,
		'outlined-btn': variant == ButtonVariant.outlined
	}, ...classList]}
	data-indicator={selected? indicatorPosition : undefined}
	data-selected={toggleAttribute(selected)}
	data-elevation={toggleAttribute(elevation, true)}
	data-focus={toggleAttribute(focus)}
	data-noscale={toggleAttribute(disableScale)}
	data-compact={toggleAttribute(compact)}
	target={openInNewTab? '_blank' : undefined}
	rel={openInNewTab? 'noopener noreferrer' : undefined}
	{...other}>
	<div class="btn-layer" {...layerAttr}>
		<slot/>
	</div>
</a>