---
import { setElementAttributeIfExist } from '@/utils/attributes'

import { ButtonVariant, ButtonIndicatorPosition } from '.'
import './index.scss'

type Props = astroHTML.JSX.AnchorHTMLAttributes  & {
	variant?: ButtonVariant
	focus?: boolean
	compact?: boolean
	openInNewTab?: boolean
	selected?: boolean
	indicatorPosition?: ButtonIndicatorPosition
	elevation?: 1 | 2 | 3 | 4 | 5
	classList?: string[]
}

const {
	openInNewTab,
	indicatorPosition = ButtonIndicatorPosition.bottom,
	variant = ButtonVariant.transparent,
	focus,
	compact,
	selected,
	elevation,
	classList = [],
	...other
} = Astro.props

---

<a
	class:list={['c-btn', {
		'c-filled-btn': variant == ButtonVariant.filled,
		'c-tonal-btn': variant == ButtonVariant.tonal,
		'c-outlined-btn': variant == ButtonVariant.outlined
	}, ...classList]}
	data-c-indicator={selected? indicatorPosition : undefined}
	data-c-selected={setElementAttributeIfExist(selected)}
	data-c-elevation={setElementAttributeIfExist(elevation, true)}
	data-c-focus={setElementAttributeIfExist(focus)}
	data-c-compact={setElementAttributeIfExist(compact)}
	target={openInNewTab? '_blank' : undefined}
	rel={openInNewTab? 'noopener noreferrer' : undefined}
	{...other}>
	<slot/>
</a>