---
import type { HEXColor } from '@/types/color'


type Props = {
	title?: string
	description?: string
	lang?: string
	accentColor?: HEXColor
}

const {
	title = 'Redmerah • Increase your productivity with our apps',
	description = 'Get things done faster with zero interruptions! Redmerah offers powerful, privacy-focused tools to boost your productivity. Free, secure & data stays local.',
	lang = 'en-US',
	accentColor = '#FF0000'
} = Astro.props
---

<html lang={ lang }>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={ description }>
		<title>{ title }</title>
		<script is:inline src='/scripts/root-settings.min.js'/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap">
		<link rel="preload" href="/icons/FluentSystemIcons-Resizable.woff2" as="font" type="font/woff2" crossorigin>
		<slot name="favicon">
			<link rel="shortcut icon" type="image/ico" href="/favicon/favicon.ico" />
			<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
			<link rel="manifest" href="/favicon/site.webmanifest">
		</slot>
		<slot name="open-graph-protocol" />
		<style is:global>
			* {
				box-sizing: border-box;
				font-family: inherit;
				letter-spacing: inherit;
				transition-timing-function: cubic-bezier(.25, 0, 0, 1);
			}

			body {
				margin: 0;
			}

			@font-face {
				font-family: "FluentSystemIcons-Resizable";
				font-display: swap;
				src: url("/icons/FluentSystemIcons-Resizable.woff2") format("woff2"),
					url("/icons/FluentSystemIcons-Resizable.woff") format("woff"),
					url("/icons/FluentSystemIcons-Resizable.ttf") format("truetype");
			}
		</style>
	</head>
	<body>
		<br-theme
			br:color-accent={accentColor}
			br:theme-mode="auto"
			br:font-family-icon="FluentSystemIcons-Resizable"
			br:font-family-sans-serif="'Figtree', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'"
			br:font-family-monospace="'Google Sans Code', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace">
			<br-tooltip>
				<slot />
			</br-tooltip>
		</br-theme>
		<script src="@/web-components/components/br-theme.ts"/>
		<script src="@/web-components/components/br-tooltip.ts"/>
	</body>
</html>