@use '../../styles/units.scss' as u;

@font-face {
	font-family: "FluentSystemIcons-Resizable";
	src: url("/icons/FluentSystemIcons-Resizable.woff2") format("woff2"),
		 url("/icons/FluentSystemIcons-Resizable.woff") format("woff"),
		 url("/icons/FluentSystemIcons-Resizable.ttf") format("truetype");
}

.c-icon {
	--c-icon-size: #{u.Rem(20px)};
	display: block;
	font-family: FluentSystemIcons-Resizable;
	font-size: var(--c-icon-size);
	font-style: normal;
	font-variant: normal;
	font-weight: normal !important;
	line-height: var(--c-icon-size);
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&[data-c-icon-inline] {
		display: inline;
		font-size: inherit;
	}
}