.body {
	padding: 8px;
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	gap: 8px;
}

.body_latex_editor {
	max-width: 100%;
	padding: 8px 8px 0 8px;
	overflow: hidden;

	&:last-child {
		padding-bottom: 8px;
	}

	& textarea {
		font-family: var(--g-font-family-monospace);

		&:not([data-text-wrap]) {
			white-space: pre;
		}
	}

	> div:not(:global(.c-area-textfield)) {
		padding: 12px;
		max-width: 100%;
		overflow: auto;
	}

	& math {
		width: fit-content;
		font-family: Cambria Math, TeX Gyre Pagella Math, XITS Math, math;
		padding: revert;
		margin: revert;

		& * {
			padding: revert;
			margin: revert;
		}
	}
}

.body_new_equation_top {
	padding: 0 8px;
}

.body_new_equation_bottom {
	padding: 0 8px !important;
	position: relative;
	left: -8px;
	display: flex;
	gap: 4px;
}