@use '../../../styles/units.scss' as u;

.body {
	padding: u.Rem(8px) u.Rem(16px) u.Rem(16px) u.Rem(16px);

	> ul {
		list-style: none;

		> li {
			font-weight: normal;
			font-family: var(--g-font-family-monospace);
		}
	}

	> button {
		position: relative;

		&[data-c-button-variant=filled]::after {
			display: none;
		}

		&::after {
			$height: 2px;

			content: '';
			display: block;
			width: 100%;
			height: u.Rem($height);
			background-color: rgb(var(--g-color-accent));
			border-radius: u.Rem(calc($height / 2));
			position: absolute;
			bottom: 0;
			left: 0;
			animation: loading 1s infinite;
		}
	}
}

@keyframes loading {
	0% {
		clip-path: xywh(0 0 0 100%);
	}
	50% {
		clip-path: xywh(0 0 100% 100%);
	}
	100% {
		clip-path: xywh(100% 0 0 100%);
	}
}