.body {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(var(--color-on-surface), var(--opacity1));
    border-bottom: none;
    border-right: none;
    border-radius: 8px 0 0 0;
    background-color: rgb(var(--color-surface));

    :root[data-corner=sharp] & { border-radius: 0px }
    :root[data-corner=semi-round] & { border-radius: 4px 0 0 0 }
    :root[data-corner=full-round] & { border-radius: 20px 0 0 0 }
}

.body_toolbar {
    min-height: 56px;
    border-bottom: 1px solid rgba(var(--color-on-surface), var(--opacity-border));
    padding: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;

    :root[data-platform=desktop] & {
        min-height: 52px;
    }
}

.body_toolbar_menu {
    min-width: 164px;

    :root[data-platform=mobile] & {
        min-width: 180px;
    }

    > div {
        position: relative !important;
        padding-top: 16px !important;
    }
}
.body_toolbar_menu_close {
    position: absolute !important;
    right: 4px;
    top: 4px;
}

.body_toolbar_menu_icons {
    padding: 0 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
}