---
import { joinClassList } from '@/utils/attributes'

import {
	MenuClasses,
	type MenuProps
} from '.'
import Popover from '@/components/Popover/index.astro'
import './index.scss'

type Props = MenuProps
const {
	'class': className,
	MenuContentAttr,
	MenuSubMenusAttr,
	PopoverGap = 8,
	PopoverPadding = 5, // +1px border
	role,
	...other
} = Astro.props
const {'class': contentClass, ...contentOther} = MenuContentAttr ?? {}
const {'class': submenusClass, ...submenusOther} = MenuSubMenusAttr ?? {}
---

<Popover
	role={role ?? 'menu'}
	class={joinClassList(MenuClasses.menu, className)}
	PopoverGap={PopoverGap}
	PopoverPadding={PopoverPadding}
	{...other}>
	<div class={joinClassList(MenuClasses.content, contentClass)} {...contentOther}>
		<slot />
	</div>
	<div class={joinClassList(MenuClasses.submenus, submenusClass)} {...submenusOther}>
		<slot name="submenus"/>
	</div>
</Popover>
<script>
	import { registerMenuRef } from '.'
	registerMenuRef()
</script>