---
import { joinClassList } from '@/utils/attributes'
import {CMenu, type MenuProps} from '.'
import Popover from '@/components/Popover/index.astro'
import './index.scss'
import { pxToRem } from '@/utils/css'

type Props = MenuProps
const {
	'class': className,
	MenuContentAttr,
	PopoverGap = pxToRem(8),
	PopoverPadding = pxToRem(5), // +1px border
	role,
	...other
} = Astro.props
const {'class': contentClass, ...contentOther} = MenuContentAttr ?? {}

const cls = CMenu.Classes
---

<Popover
	role={role ?? 'menu'}
	class={joinClassList(cls.Menu, className)}
	PopoverGap={PopoverGap}
	PopoverPadding={PopoverPadding}
	{...other}>
	<div
		class={joinClassList(cls.Content, contentClass)}
		{...contentOther}><slot /></div>
</Popover>