---
import { joinClassList } from '@/utils/attributes'
import {CMenu, type MenuItemProps} from '.'
import Button from '@/components/Button/index.astro'
import './index.scss'

type Props = MenuItemProps
const {
	'class': className,
	role,
	...other
} = Astro.props

const cls = CMenu.Classes
---

<Button
	class={joinClassList(cls.Item, className)}
	role={role ?? "menuitem"}
	{...other}><slot/></Button>