---
import { joinClassList } from '@/utils/attributes'

import {
	MenuClasses,
	type MenuIndentProps
} from '.'
import './index.scss'

type Props = MenuIndentProps
const {
	'class': className,
	...other
} = Astro.props
---

<div class={joinClassList(MenuClasses.indent, className)} {...other}></div>