---
import { joinClassList } from '@/utils/attributes'
import {type MenuHeaderProps, CMenu} from '.'
import './index.scss'

type Props = MenuHeaderProps
const {
	'class': className,
	...other
} = Astro.props

const cls = CMenu.Classes
---
<div
	class={joinClassList(cls.Header, className)}
	{...other}><slot/></div>