@use '../../../styles/units.scss' as u;

.content {
	display: grid;
	gap: u.Rem(8px);
	list-style: none;
	grid-template-columns: repeat(auto-fill, minmax(u.Rem(124px), 1fr));

	& img {
		width: u.Rem(48px);
	}

	& :global(.c-button){
		--color: rgb(var(--g-color-accent));

		background-color: rgb(var(--g-color-surface)) !important;
		border: 1px solid rgba(var(--g-color-on-surface), var(--g-opacity2));
		padding: u.Rem(12px);
		flex-direction: column;
		text-align: center;
		justify-content: center;
		text-transform: capitalize;
		position: relative;
		width: 100%;
		transition-property: scale;
		transition-duration: var(--g-duration-transition);

		&::after {
			display: block;
			content: '';
			position: absolute;
			width: calc(100% + u.Rem(8px));
			height: calc(100% + u.Rem(8px));
			opacity: 0;
			border: u.Rem(2px) solid var(--color);
			left: u.Rem(-6px);
			top: u.Rem(-6px);
			border-radius: var(--g-border-radius8);
			pointer-events: none;
			corner-shape: squircle;
		}

		&:focus-visible {
			outline: none;

			&::after {
				opacity: 1;
			}
		}

		&:hover {
			&::after {
				opacity: 1;
			}
		}

		&:active {
			scale: .9;

			&::after {
				opacity: 1;
			}
		}

		> span {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			max-width: 100%;
		}
	}

	& :global(.c-icon) {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(calc(-50% + u.Rem(40px)));
	}
}

.main {
	width: u.Rem(1080px + 32px);
	padding: u.Rem(32px) u.Rem(24px);
	padding-bottom: u.Rem(64px);
	max-width: 100%;

	> h1 {
		font-size: min(u.Rem(56px), 10dvw);
		font-weight: normal;
	}
}