.content {
	display: grid;
	margin-top: 32px;
	gap: 8px;
	grid-template-columns: repeat(auto-fill, minmax(124px, 1fr));

	& img {
		width: 48px;
	}

	& :global(.c-button){
		padding: 12px;
		flex-direction: column;
		text-align: center;
		justify-content: center;
		text-transform: capitalize;
		position: relative;
		width: 100%;

		> span {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			max-width: 100%;
		}
	}

	& :global(.c-icon) {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(calc(-50% + 40px));
	}
}

.main {
	min-height: calc(100dvh - 180px);
	width: 1080px;
	padding: 32px 16px;
	padding-bottom: 64px;
	max-width: 100%;

	> h1 {
		font-size: var(--g-font-size-d)
	}
}