---
import UIGenerate from './_pages/_UIGenerate.astro'
import UIScan from './_pages/_UIScan.astro'
import { CSSClasses } from '../_styles/_css'
---

<main class={CSSClasses.body}>
	<UIGenerate/>
	<UIScan/>
</main>