@use '../../../../styles/units.scss' as u;

$DEVICE_SMALL_SCREEN: u.Rem(800px);

.body {
	display: flex;
	width: 100%;
	gap: u.Rem(16px);
	padding: 0 u.Rem(16px) u.Rem(16px) u.Rem(16px);
	justify-content: center;

	@media (max-width: $DEVICE_SMALL_SCREEN) {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
}

.pickerImageRect {
	--color: #fff;
	--border-color: #fff;
	--position-x: 0%;
	--position-y: 0%;
	touch-action: none;
	margin-top: u.Rem(8px);
	outline: u.Rem(1px) solid rgba(var(--g-color-on-surface),var(--g-opacity-border));
	border-radius: var(--g-border-radius4);
	box-shadow: var(--g-elevation2);
	position: relative;

	&:focus-visible::after {
		outline: auto;
	}

	&:not([data-no-image]) {
		cursor: crosshair;
	}

	&[data-no-image] {
		visibility: hidden;
	}

	&::after {
		pointer-events: none;
		content: '';
		display: block;
		left: var(--position-x);
		top: var(--position-y);
		translate: -50% -50%;
		background-color: var(--color);
		width: u.Rem(20px);
		height: u.Rem(20px);
		box-shadow: var(--g-elevation2);
		border-radius: 50%;
		border: u.Rem(2px) solid var(--border-color);
		position: absolute;
		transition-property: border-color, background-color;
		transition-duration: var(--g-duration-transition);
	}

	> canvas {
		border-radius: var(--g-border-radius4);
	}
}

.bodyInputs {
	width: u.Rem(280px);
	display: flex !important;
	flex-direction: column;
	gap: u.Rem(8px);
	position: sticky;
	top: 0;

	@media (max-width: $DEVICE_SMALL_SCREEN) {
		width: 100%;
	}

	> [data-css-preview] {
		width: calc(100% - u.Rem(44px) - u.Rem(8px));
		border-radius: var(--g-border-radius4);
		height: u.Rem(32px);
		margin-top: u.Rem(21px);
		transition-property: background-color;
		transition-duration: var(--g-duration-transition);
	}

	> [data-css-group] {
		display: flex;
		align-items: center;
		gap: u.Rem(8px);

		> label {
			width: u.Rem(44px);
			display: block;
			margin-bottom: u.Rem(2px);
		}

		> :global(.c-textfield) {
			flex: 1;
			padding-right: u.Rem(2px);
		}

		& input {
			padding-right: 0;
		}
	}
}

.bodyPicker {
	width: u.Rem(512px);

	@media (max-width: $DEVICE_SMALL_SCREEN) {
		width: 100%;
	}

	& label {
		display: block;
		margin-bottom: u.Rem(2px);
	}

	& select {
		width: 100%
	}
}

.pickerRect {
	--color: #fff;
	--border-color: #fff;
	--position-x: 0%;
	--position-y: 0%;
	width: 100%;
	height: u.Rem(280px);
	margin-top: u.Rem(8px);
	border-radius: var(--g-border-radius4);
	box-shadow: var(--g-elevation2);
	position: relative;
	cursor: crosshair;
	outline: none;
	touch-action: none;

	&:focus-visible {
		&::after {
			outline: auto;
		}
	}

	&::after {
		pointer-events: none;
		content: '';
		display: block;
		left: var(--position-x);
		top: var(--position-y);
		translate: -50% -50%;
		background-color: var(--color);
		width: u.Rem(20px);
		height: u.Rem(20px);
		box-shadow: var(--g-elevation2);
		border-radius: 50%;
		border: u.Rem(2px) solid var(--border-color);
		position: absolute;
		transition-property: border-color, background-color;
		transition-duration: var(--g-duration-transition);
	}
}

.pickerSlider {
	--gradient: #fff;
	--color: #fff;
	--border-color: #fff;
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	background-color: transparent;
	border-radius: u.Rem(999px);

	&::-webkit-slider-runnable-track {
		-webkit-appearance: none;
		appearance: none;
		cursor: pointer;
		height: u.Rem(12px);
		box-shadow: var(--g-elevation1);
		border-radius: u.Rem(9999px);
		background: var(--gradient);
	}

	&::-moz-range-track {
		appearance: none;
		height: u.Rem(12px);
		cursor: pointer;
		box-shadow: var(--g-elevation1);
		border-radius: u.Rem(9999px);
		background: var(--gradient);
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		position: relative;
		cursor: pointer;
		top: u.Rem(-4px);
		width: u.Rem(20px);
		box-shadow: var(--g-elevation2);
		height: u.Rem(20px);
		border-radius: 50%;
		border: u.Rem(2px) solid var(--border-color);
		background: var(--color);
		transition-property: border-color, background-color;
		transition-duration: var(--g-duration-transition);

		&:active {
			cursor: pointer;
		}
	}

	&::-moz-range-thumb {
		position: relative;
		cursor: pointer;
		top: u.Rem(-4px);
		box-shadow: var(--g-elevation2);
		width: u.Rem(20px);
		height: u.Rem(20px);
		border-radius: 50%;
		border: u.Rem(2px) solid var(--border-color);
		background: var(--color);
		transition-property: border-color, background-color;
		transition-duration: var(--g-duration-transition);

		&:active {
			cursor: pointer;
		}
	}
}