---
import { setElementAttributeIfExist } from '@/utils/attributes'
import './index.scss'

type Props = astroHTML.JSX.HTMLAttributes & {
	compact?: boolean
	classList?: string[]
}

const { compact, classList = [], ...other } = Astro.props
---

<div class:list={['c-list', ...classList]} data-c-compact={setElementAttributeIfExist(compact)} {...other}>
	<div class='c-list-leading'><slot name="leading" /></div>
	<div class='c-list-content'>
		<div class='c-list-title'><slot /></div>
		<div class='c-list-subtitle'><slot name="subtitle"/></div>
	</div>
	<div class='c-list-trailing'><slot name="trailing" /></div>
</div>