.list {
    min-height: 40px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    padding: 4px 0;
    width: 100%;
    border-radius: 8px;
    
    [data-corner=sharp] & {border-radius: 0}
    [data-corner=semi-round] & {border-radius: 4px}
    [data-corner=full-round] & {border-radius: 20px}
    
    &[data-trailing] {
        [data-corner=full-round] & {border-radius: 25px}
    }

    &[data-compact] {
        gap: 8px;
        min-height: 40px;
    }
}

.list-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.list-leading {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    height: 100%;

    &:empty {
        display: none;
    }
}

.list-subtitle {
    color: rgba(var(--color-on-surface), var(--opacity-inv3));
    font-size: var(--font-size-xs);
    text-align: start;
    width: 100%;
}

.list-title {
    text-align: start;
    font-size: var(--font-size-xxs);
    width: 100%;
}

.list-trailing {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    height: 100%;
    font-size: var(--font-size-xs);

    &:empty {
        display: none;
    }
}