---
import { joinClassList } from '@/utils/attributes'
import {CList, type ListProps} from '.'
import './index.scss'

type Props = ListProps
const {
	'class': className,
	ListVariant,
	ListTagName      = 'div',
	ListLeadingAttr  = {},
	ListTrailingAttr = {},
	ListContentAttr  = {},
	ListSubtitleAttr = {},
	...other
} = Astro.props
const {'class': leadingClass , ...leadingOther } = ListLeadingAttr
const {'class': trailingClass, ...trailingOther} = ListTrailingAttr
const {'class': contentClass , ...contentOther } = ListContentAttr
const {'class': subtitleClass, ...subtitleOther} = ListSubtitleAttr

const Dynamic = ListTagName as 'div'
const cls = CList.Classes

---
<Dynamic
	class={joinClassList(cls.List, className)}
	data-c-list-variant={ListVariant}
	{...other}>
	<div
		class={joinClassList(cls.Leading, leadingClass)}
		{...leadingOther}><slot name='leading'/></div>
	<div
		class={joinClassList(cls.Content, contentClass)}
		{...contentOther}>
		<slot/>
		{Astro.slots.has('subtitle') && <div
			class={joinClassList(cls.Subtitle, subtitleClass)}
			{...subtitleOther}><slot name='subtitle'/></div>
		}
	</div>
	<div
		class={joinClassList(cls.Trailing, trailingClass)}
		{...trailingOther}><slot name='trailing'/></div>
</Dynamic>