.c-expander {
	width: 100%;
}

.c-expander-header {
	list-style: none;

	> .c-list {
		--g-background-color: var(--g-color-on-surface);
		--c-expander-border-opacity: 0;
		--c-expander-border-color: var(--g-color-on-surface);
		border: 1px solid transparent;
		padding: 0;
		user-select: none;
		padding: 4px 12px;
		border: 1px solid;
		border-color: transparent;
		border-color: rgba(var(--c-expander-border-color), var(--c-expander-border-opacity));
		transition-property: all, border-color;

		:root[data-animation=on] & {
			transition-duration: .2s, 0s;
		}

		&[data-c-trailing] {
			padding-right: 4px;
		}

		&[data-c-open]:not([data-c-variant=transparent]) {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

		&[data-c-open] {
			--g-background-color-opacity: var(--g-opacity3);
		}

		&:not(:has( .c-btn:hover, .c-btn:active)) {
			@media (hover:hover) {
				&:hover {
					--g-background-color-opacity: var(--g-opacity2);
					--c-expander-border-opacity: var(--g-opacity2);
					cursor: pointer;
				}
			}

			&:active {
				--g-background-color-opacity: var(--g-opacity0);
				--c-expander-border-opacity: var(--g-opacity3);
			}
		}

		&[data-c-variant=filled] {
			--g-background-color-opacity: 1;
			--g-background-color: var(--g-color-accent);
			--c-expander-border-color: var(--g-color-on-surface);
			--c-expander-border-opacity: var(--g-opacity1);
			color: rgb(var(--g-color-on-accent));

			&[data-c-open] {
				--g-background-color-opacity: 1;
			}

			&:not(:has( .c-btn:hover, .c-btn:active)) {
				@media (hover:hover) {
					&:hover {
						--g-background-color-opacity: var(--g-opacity-inv4);
					}
				}

				&:active {
					color: rgb(var(--g-color-on-surface));
					--g-background-color-opacity: var(--g-opacity5);
					--c-expander-border-opacity: var(--g-opacity1);
					border-color: rgb(var(--g-color-accent));
				}
			}

			& .c-list-subtitle {
				color: rgba(var(--g-color-on-accent), var(--g-opacity-inv1));
			}
		}

		&[data-c-variant=tonal] {
			--g-background-color-opacity: var(--g-opacity2);

			&[data-c-open] {
				border-bottom: 1px solid rgb(var(--g-color-background));
			}

			&:not(:has( .c-btn:hover, .c-btn:active)) {
				@media (hover:hover) {
					&:hover {
						--g-background-color-opacity: var(--g-opacity4);
					}
				}

				&:active {
					--g-background-color-opacity: var(--g-opacity2);
					--c-expander-border-opacity: var(--g-opacity4);
				}
			}
		}

		&[data-c-variant=outlined] {
			--c-expander-border-opacity: var(--g-opacity-border);

			&:not(:has( .c-btn:hover, .c-btn:active)) {
				&:active {
					--c-expander-border-opacity: var(--g-opacity-border);
				}
			}
		}
	}
}

.c-expander-body {
	overflow: hidden;
	padding: 12px;
	border-radius: 8px;

	:root[data-corner=sharp] & {border-radius: 0}
	:root[data-corner=semi-round] & {border-radius: 4px}
	:root[data-corner=full-round] & {border-radius: 20px}

	&[data-c-open] {
		border-radius: 0 0 8px 8px;
		:root[data-corner=sharp] & {border-radius: 0}
		:root[data-corner=semi-round] & {border-radius: 0 0 4px 4px}
		:root[data-corner=full-round] & {border-radius: 0 0 20px 20px}

		&[data-c-trailing] {
			:root[data-corner=full-round] & {border-radius: 0 0 25px 25px}
		}
	}

	&[data-c-variant=filled] {
		background-color: rgba(var(--g-color-accent), var(--g-opacity1));
	}

	&[data-c-variant=tonal] {
		background-color: rgba(var(--g-color-on-surface), var(--g-opacity2));
	}

	&[data-c-variant=outlined][data-c-open] {
		border: 1px solid rgba(var(--g-color-on-surface), var(--g-opacity-border));
		border-top: none;
	}
}

.c-expander-icon {
	&[data-c-open] .c-icon {
		rotate: 180deg;
	}

	& .c-icon {
		:root[data-animation=on] & {
			transition-duration: .2s;
		}
	}
}