---
import { attrClassList } from '@/utils/attributes'
import {
	type TextFieldProps,
	TextFieldClasses
} from '.'
import './index.scss'

type Props = TextFieldProps
const {
	'class': className,
	TextFieldInputAttr    = {},
	TextFieldLeadingAttr  = {},
	TextFieldTrailingAttr = {},
	...other
} = Astro.props
const {'class': inputClassName   , type: inputType ="text", ...inputOther} = TextFieldInputAttr
const {'class': leadingClassName , ...leadingOther } = TextFieldLeadingAttr
const {'class': trailingClassName, ...trailingOther} = TextFieldTrailingAttr
---

<div class={attrClassList(TextFieldClasses.textfield, className)} {...other}>
	<div class={attrClassList(TextFieldClasses.leading, leadingClassName)} {...leadingOther}>
		<slot name="leading"/>
	</div>
	<input
		type={inputType}
		class={attrClassList(TextFieldClasses.input, inputClassName)}
		{...inputOther}
	/>
	<div class={attrClassList(TextFieldClasses.trailing, trailingClassName)} {...trailingOther}>
		<slot name="trailing"/>
	</div>
</div>