---
import { joinClassList } from '@/utils/attributes'

import {
	type TextFieldProps,
	TextFieldClasses
} from '.'
import './index.scss'

type Props = TextFieldProps
const {
	'class': className,
	TextFieldInputAttr    = {},
	TextFieldLeadingAttr  = {},
	TextFieldTrailingAttr = {},
	...other
} = Astro.props
const {'class': inputClass   , type: inputType = "text", ...inputOther} = TextFieldInputAttr
const {'class': leadingClass , ...leadingOther } = TextFieldLeadingAttr
const {'class': trailingClass, ...trailingOther} = TextFieldTrailingAttr
---

<div class={joinClassList(TextFieldClasses.textfield, className)} {...other}>
	<div class={joinClassList(TextFieldClasses.leading, leadingClass)} {...leadingOther}>
		<slot name="leading"/>
	</div>
	<input
		type={inputType}
		class={joinClassList(TextFieldClasses.input, inputClass)}
		{...inputOther}
	/>
	<div class={joinClassList(TextFieldClasses.trailing, trailingClass)} {...trailingOther}>
		<slot name="trailing"/>
	</div>
</div>