---
import { joinClassList } from '@/utils/attributes'
import {
	type DialogProps,
	DialogClasses
} from '.'
import './index.scss'

type Props = DialogProps
const {
	'class': className,
	DialogImportant,
	DialogContainerAttr,
	DialogHeaderAttr,
	DialogContentAttr,
	DialogFooterAttr,
	...other
} = Astro.props
const {'class': containerClass, ...containerOther} = DialogContainerAttr ?? {}
const {'class': headerClass   , ...headerOther   } = DialogHeaderAttr    ?? {}
const {'class': contentClass  , ...contentOther  } = DialogContentAttr   ?? {}
const {'class': footerClass   , ...footerOther   } = DialogFooterAttr    ?? {}
---

<dialog
	class={joinClassList(DialogClasses.dialog, className)}
	data-c-dialog-important={DialogImportant? '' : undefined}
	{...other}>
	<div class={joinClassList(DialogClasses.container, containerClass)} {...containerOther}>
		<div
			class={joinClassList(DialogClasses.header, headerClass)}
			{...headerOther}><slot name="header"/></div>
		<div class={joinClassList(DialogClasses.content, contentClass)} {...contentOther}>
			<slot />
		</div>
		<div
			class={joinClassList(DialogClasses.footer, footerClass)}
			{...footerOther}><slot name="footer"/></div>
	</div>
</dialog>
<script>
	import { registerDialogRef } from '.'
	registerDialogRef()
</script>