---
import Button from './index.astro'
import { attrClassList } from '@/utils/attributes'
import Icon from '@/native-components/Icon/index.astro'
import { ButtonClasses, type IconButtonProps } from '.'

import './index.scss'

type Props = IconButtonProps

const {
	'class': className,
	IconButtonCode,
	IconButtonFilled,
	IconButtonIconAttr = {},
	...other
} = Astro.props
const {
	IconFilled,
	IconCode,
	...iconOther
} = IconButtonIconAttr
---
<Button
	class={attrClassList(ButtonClasses.icon, className)}
	{...other}>
	<Icon
		IconCode={IconCode ?? IconButtonCode}
		IconFilled={IconFilled ?? IconButtonFilled}
		{...iconOther}
	/>
</Button>