---
import Button from './index.astro'
import { attrClassList } from '@/utils/attributes'
import Icon from '@/native-components/Icon/index.astro'
import { ButtonClasses, type IconButtonProps } from '.'

import './index.scss'

type Props = IconButtonProps

const {
	'class': className,
	'c:icon': icon,
	'c:filled': filled,
	'c:attrIcon': attrIcon = {},
	...other
} = Astro.props
const {
	'c:filled': iconFilled,
	'c:icon': iconIcon,
	...iconOther
} = attrIcon
---
<Button
	class={attrClassList(ButtonClasses.icon, className)}
	{...other}>
	<Icon
		c:icon={iconIcon ?? icon}
		c:filled={iconFilled ?? filled}
		{...iconOther}
	/>
</Button>