---
import { attrClassList } from '@/utils/attributes'
import { type ButtonProps, ButtonClasses } from './index'

import './index.scss'

type Props = ButtonProps

const {
	'c:variant': variant,
	'c:focused': focused,
	'class': className,
	...other
} = Astro.props
---
<button
	class={attrClassList(
		ButtonClasses.btn,
		className
	)}
	data-c-variant={variant}
	data-c-focused={focused? '' : undefined}
	{...other}>
	<slot />
</button>