---
import { attrClassList } from '@/utils/attributes'

import {
	type ButtonProps,
	ButtonClasses
} from '.'
import './index.scss'

type Props = ButtonProps

const {
	'class': className,
	ButtonVariant,
	ButtonFocused,
	...other
} = Astro.props
---
<button
	class={attrClassList(
		ButtonClasses.button,
		className
	)}
	data-c-button-variant={ButtonVariant}
	data-c-button-focused={ButtonFocused? '' : undefined}
	{...other}>
	<slot />
</button>