---
import List from '@/components/List/index.astro'
import { CList } from '@/components/List'
import { joinClassList } from '@/utils/attributes'
import { CToast, type ToastProps } from '.'
import './index.scss'

type Props = ToastProps
const {
	'class': className,
	popover = 'auto',
	ToastAutoclose = true,
	ToastCloseDelay = 5000,
	ToastPosition: position = CToast.Position.TopCenter,
	ToastContentAttr,
	...other
} = Astro.props
const {
	'class': contentClass,
	ListVariant: contentVariant = CList.Variant.Transparent,
	...toastOther
} = ToastContentAttr ?? {}

const cls = CToast.Classes
---

<div
	popover={popover}
	class={joinClassList(cls.Toast, className)}
	data-c-toast-position={position}
	data-c-toast-close-delay={ToastCloseDelay}
	data-c-toast-autoclose={ToastAutoclose? '' : undefined}
	{...other}>
	<List
		ListVariant={contentVariant}
		class={joinClassList(cls.Content, contentClass)}
		{...toastOther}>
		<slot />
		<slot name="leading" slot="leading"/>
		<slot name="subtitle" slot="subtitle"/>
		<slot name="trailing" slot="trailing"/>
	</List>
</div>
<script>
	import { CToast } from '.'
	CToast.register()
</script>