.c-popover.c-toast {
	box-shadow: var(--g-elevation3);
	width: max-content;
	max-width: min(500px, calc(100% - 16px));

	> div > .c-list {
		padding: 12px;

		> .c-list-content {
			> .c-list-title {
				font-size: var(--g-font-size-m);
				font-weight: 500;
			}
			> .c-list-subtitle {
				color: rgb(var(--g-color-on-surface));
				font-size: var(--g-font-size-xs);
			}
		}
	}
}

.c-toast-actions {
	display: flex;
	width: 100%;
	gap: 8px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	padding: 12px;
	background-color: rgb(var(--g-color-background));
	border-top: 1px solid rgba(var(--g-color-on-surface), var(--g-opacity2));

	&:empty {
		display: none;
	}

	> * {
		flex: 1 1 100px;
		max-width: 340px;

		&:first-child:last-child {
			max-width: 100%;
		}
	}
}