@use '../../styles/units.scss' as u;

.c-toast {
	position: fixed;
	background-color: rgba(var(--g-color-surface), var(--g-opacity-glass));
	backdrop-filter: blur(var(--g-blur-glass));
	border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity3));
	border-radius: var(--g-border-radius8);
	inset: u.Rem(8px) auto auto u.Rem(8px);
	max-height: calc(100dvh - u.Rem(16px));
	max-width: calc(100% - u.Rem(16px));
	width: max-content;
	outline: none;
	overflow: hidden;
	opacity: 0;
	scale: .85;
	box-shadow: var(--g-elevation3);
	transition-timing-function: var(--g-transition-spring-inverse);
	transition-property: display, overlay, opacity, translate, scale;
	transition-duration: var(--g-duration-transition);
	transition-behavior: allow-discrete;

	&[data-c-toast-position=top-left] {
		top: u.Rem(8px);
		left: u.Rem(8px);
		translate: 0 calc(-100% - u.Rem(8px));
	}

	&[data-c-toast-position=top-center] {
		top: u.Rem(8px);
		left: 50%;
		translate: -50% calc(-100% - u.Rem(8px));
	}

	&[data-c-toast-position=top-right] {
		top: u.Rem(8px);
		right: u.Rem(8px);
		translate: 0 calc(-100% - u.Rem(8px));
	}

	&[data-c-toast-position=bottom-left] {
		bottom: u.Rem(8px);
		left: u.Rem(8px);
		translate: 0 calc(100% + u.Rem(8px));
	}

	&[data-c-toast-position=bottom-center] {
		bottom: u.Rem(8px);
		left: 50%;
		translate: -50% calc(100% + u.Rem(8px));
	}

	&[data-c-toast-position=bottom-right] {
		bottom: u.Rem(8px);
		right: u.Rem(8px);
		translate: 0 calc(100% + u.Rem(8px));
	}

	&:popover-open {
		scale: 1;
		opacity: 1;
		translate: 0 0;
		transition-timing-function: var(--g-transition-spring);

		&[data-c-toast-position*=center] {
			translate: -50% 0;
		}
	}

	:root[data-theme=dark] & {
		border: u.Rem(1px) solid rgba(0, 0, 0, var(--g-opacity-inv5));
		background-color: rgba(46, 46, 46, var(--g-opacity-glass));
	}
	:root[data-theme=auto] & {
		@media (prefers-color-scheme: dark) {
			border: u.Rem(1px) solid rgba(0, 0, 0, var(--g-opacity-inv5));
			background-color: rgba(46, 46, 46, var(--g-opacity-glass));
		}
	}

	&::backdrop {
		background-color: transparent;
	}

	&:not([data-c-toast-draggable]) > .c-toast-draghandle {
		display: none;
	}

	&[data-c-toast-dragging] {
		will-change: top, left;
	}
}

@starting-style {
	.c-toast {
		&:popover-open {
			scale: .85;
			opacity: 0;

			&[data-c-toast-position=top-left] {
				translate: 0 calc(-100% - u.Rem(8px));
			}

			&[data-c-toast-position=top-center] {
				translate: -50% calc(-100% - u.Rem(8px));
			}

			&[data-c-toast-position=top-right] {
				translate: 0 calc(-100% - u.Rem(8px));
			}

			&[data-c-toast-position=bottom-left] {
				translate: 0 calc(100% + u.Rem(8px));
			}

			&[data-c-toast-position=bottom-center] {
				translate: -50% calc(100% + u.Rem(8px));
			}

			&[data-c-toast-position=bottom-right] {
				translate: 0 calc(100% + u.Rem(8px));
			}
		}
	}
}

.c-toast-content {
	position: relative;
	max-height: inherit;
	max-width: 100%;
	width: 100%;
	overflow: auto;
	border-radius: inherit;

	> .c-list-content {
		font-size: var(--g-font-size-xs);
	}
}