---
import Html from '@/layouts/Html/index.astro'
import Appbar from '@/layouts/Appbar/index.astro'
import BottomBar from '@/layouts/BottomBar/index.astro'
import Main from '@/layouts/Main/index.astro'
import Splash from '@/layouts/Splash/index.astro'
import Article from '@/layouts/Article/index.astro'
import { RoutesLinks } from '@/enums/links'
import coverPicture from '@/assets/images/terms_page.jpg'
---

<Html title="Terms & Conditions • Redmerah" description="Understand the terms and conditions governing your use of Redmerah's services. This page outlines important legal information.">
	<Splash>
		<svg width="512" height="512" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_864_188)">
				<path d="M256 320V240C256 222.327 241.673 208 224 208C206.327 208 192 222.327 192 240V464C192 478.91 192 486.365 189.564 492.246C186.316 500.087 180.087 506.316 172.246 509.564C166.365 512 158.91 512 144 512V512C129.09 512 121.635 512 115.754 509.564C107.913 506.316 101.684 500.087 98.4359 492.246C96 486.365 96 478.91 96 464V240C96 169.308 153.308 112 224 112C294.692 112 352 169.308 352 240V320C352 343.016 352.037 357.876 352.812 369.25C353.559 380.194 354.829 384.378 355.656 386.375C360.528 398.131 369.869 407.472 381.625 412.344C383.622 413.171 387.806 414.441 398.75 415.188C399.166 415.216 399.586 415.243 400.011 415.27C416.056 416.266 424.079 416.764 429.607 419.361C437.289 422.97 442.625 428.648 445.75 436.538C448 442.216 448 449.478 448 464V464C448 479.086 448 486.63 445.427 492.653C442.092 500.457 435.2 507.05 427.256 510.035C421.125 512.339 414.085 512.026 400.006 511.402C397.324 511.283 394.728 511.14 392.219 510.969C376.39 509.889 360.548 507.509 344.906 501.031C309.622 486.416 281.584 458.378 266.969 423.094C260.491 407.452 258.111 391.61 257.031 375.781C255.981 360.383 256 341.703 256 320Z" fill="url(#paint0_linear_864_188)"/>
				<rect x="32" y="32" width="448" height="288" rx="64" fill="#7A0000" stroke="#FF1414" stroke-width="64"/>
			</g>
			<defs>
				<linearGradient id="paint0_linear_864_188" x1="288" y1="288" x2="288" y2="512" gradientUnits="userSpaceOnUse">
					<stop stop-color="#A30000"/>
					<stop offset="1" stop-color="#FF1414"/>
				</linearGradient>
				<clipPath id="clip0_864_188">
					<rect width="512" height="512" fill="white"/>
				</clipPath>
			</defs>
		</svg>
	</Splash>
	<Appbar route={RoutesLinks.terms}/>
	<Main>
		<Article
			disabledAuthor
			title="Terms & Conditions"
			subtitle="What you can expect and what we expect from you."
			coverPictureUrl={coverPicture.src}>
			<p>Welcome to Redmerah!</p>
			<p>These terms and conditions outline the rules and regulations for the use of Redmerah's Website, located at <a href="https://redmerah.com">https://redmerah.com</a>.</p>
			<p>By accessing this website we assume you accept these terms and conditions. Do not continue to use Redmerah if you do not agree to take all of the terms and conditions stated on this page.</p>
			<p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same. Our Terms and Conditions were created with the help of the <a href="https://www.privacypolicyonline.com/terms-conditions-generator/">Terms & Conditions Generator</a>.</p>
			<section>
				<h2 id="Cookies"><a href="#Cookies">Cookies</a></h2>
				<p>We employ the use of cookies. By accessing Redmerah, you agreed to use cookies in agreement with the Redmerah's Privacy Policy.</p>
				<p>Most interactive websites use cookies to let us retrieve the user's details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>
			</section>
			<section>
			<h2 id="License"><a href="#License">License</a></h2>
				<p>Unless otherwise stated, Redmerah and/or its licensors own the intellectual property rights for all material on Redmerah. All intellectual property rights are reserved. You may access this from Redmerah for your own personal use subjected to restrictions set in these terms and conditions.</p>
				<p>You must not:</p>
				<ul>
					<li>Republish material from Redmerah</li>
					<li>Sell, rent or sub-license material from Redmerah</li>
					<li>Reproduce, duplicate or copy material from Redmerah</li>
					<li>Redistribute content from Redmerah</li>
				</ul>
				<p>This Agreement shall begin on the date hereof.</p>
				<p>Parts of this website offer an opportunity for users to post and exchange opinions and information in certain areas of the website. Redmerah does not filter, edit, publish or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Redmerah,its agents and/or affiliates. Comments reflect the views and opinions of the person who post their views and opinions. To the extent permitted by applicable laws, Redmerah shall not be liable for the Comments or for any liability, damages or expenses caused and/or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.</p>
				<p>Redmerah reserves the right to monitor all Comments and to remove any Comments which can be considered inappropriate, offensive or causes breach of these Terms and Conditions.</p>
				<p>You warrant and represent that:</p>
				<ul>
					<li>You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;</li>
					<li>The Comments do not invade any intellectual property right, including without limitation copyright, patent or trademark of any third party;</li>
					<li>The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material which is an invasion of privacy</li>
					<li>The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.</li>
				</ul>
				<p>You hereby grant Redmerah a non-exclusive license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.</p>
			</section>
			<section>
				<h2 id="Hyperlinking-to-our-Content"><a href="#Hyperlinking-to-our-Content">Hyperlinking to our Content</a></h2>
				<p>The following organizations may link to our Website without prior written approval:</p>
				<ul>
					<li>Government agencies;</li>
					<li>Search engines;</li>
					<li>News organizations;</li>
					<li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
					<li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
				</ul>
				<p>These organizations may link to our home page, to publications or to other Website information so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services; and (c) fits within the context of the linking party's site.</p>
				<p>We may consider and approve other link requests from the following types of organizations:</p>
				<ul>
					<li>commonly-known consumer and/or business information sources;</li>
					<li>dot.com community sites;</li>
					<li>associations or other groups representing charities;</li>
					<li>online directory distributors;</li>
					<li>internet portals;</li>
					<li>accounting, law and consulting firms; and</li>
					<li>educational institutions and trade associations.</li>
				</ul>
				<p>We will approve link requests from these organizations if we decide that: (a) the link would not make us look unfavorably to ourselves or to our accredited businesses; (b) the organization does not have any negative records with us; (c) the benefit to us from the visibility of the hyperlink compensates the absence of Redmerah; and (d) the link is in the context of general resource information.</p>
				<p>These organizations may link to our home page so long as the link: (a) is not in any way deceptive; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party's site.</p>
				<p>If you are one of the organizations listed in paragraph 2 above and are interested in linking to our website, you must inform us by sending an e-mail to Redmerah. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to our Website, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.</p>
				<p>Approved organizations may hyperlink to our Website as follows:</p>
				<ul>
					<li>By use of our corporate name; or</li>
					<li>By use of the uniform resource locator being linked to; or</li>
					<li>By use of any other description of our Website being linked to that makes sense within the context and format of content on the linking party's site.</li>
				</ul>
				<p>No use of Redmerah's logo or other artwork will be allowed for linking absent a trademark license agreement.</p>
			</section>
			<section>
				<h2 id="iFrames"><a href="#iFrames">iFrames</a></h2>
				<p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>
			</section>
			<section>
				<h2 id="Content-Liability"><a href="#Content-Liability">Content Liability</a></h2>
				<p>We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>
			</section>
			<section>
				<h2 id="Reservation-of-Rights"><a href="#Reservation-of-Rights">Reservation of Rights</a></h2>
				<p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it's linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.</p>
			</section>
			<section>
				<h2 id="Removal-of-links-from-our-website"><a href="#Removal-of-links-from-our-website">Removal of links from our website</a></h2>
				<p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</p>
				<p>We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.</p>
			</section>
			<section>
				<h2 id="Disclaimer"><a href="#Disclaimer">Disclaimer</a></h2>
				<p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:</p>
				<ul>
					<li>limit or exclude our or your liability for death or personal injury;</li>
					<li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
					<li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
					<li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
				</ul>
				<p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>
				<p>As long as the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.</p>
			</section>
		</Article>
	</Main>
	<BottomBar/>
	<script src="./_scripts/_index.ts"/>
</Html>