.c-side-navigation {
	display: flex;
	flex-direction: column;
	gap: 4px;
	height: 100%;
	width: 280px;
	padding: 4px;
	max-width: 280px;
	max-height: 100%;

	:root[data-animation=on] & {
		transition-duration: .2s;
	}

	@media (prefers-reduced-motion: no-preference) {
		:root[data-animation=auto] & {
			transition-duration: .2s;
		}
	}
}

.c-side-navigation-content {
	flex: 1;
	overflow: auto;
	display: inherit;
	flex-direction: inherit;
	gap: inherit;
	height: inherit;
	width: 100%;
	max-width: inherit;
	max-height: 100%;
}

.c-btn.c-side-navigation-btn {
	justify-content: flex-start;

	&::before {
		content: '';
		display: block;
		background-color: rgb(var(--g-color-accent));
		position: absolute;
		left: 1px;
		width: 3px;
		top: 50%;
		opacity: 0;
		transform: translateY(-50%);
		height: 3px;
		border-radius: 999px;

		:root[data-animation=on] & {
			transition-duration: .2s;
			transition-property: height;
		}

		@media (prefers-reduced-motion: no-preference) {
			:root[data-animation=auto] & {
				transition-duration: .2s;
				transition-property: height;
			}
		}
	}

	&[data-c-selected]::before {
		height: calc(100% - 16px);
		opacity: 1;

		@media (hover: none) {
			height: calc(100% - 20px);
		}
	}
}

.c-side-navigation-btn-leading {
	display: none;
}

.c-side-navigation-btn-content {
	flex: 1;
	display: inherit;
	gap: inherit
}

.c-side-navigation-footer,
.c-side-navigation-header {
	display: contents;
}