---
import {
	type SideNavigationButtonProps,
	SideNavigationClasses,
} from '.'
import { attrClassList } from '@/utils/attributes'
import Button from '@/native-components/Button/index.astro'
import './index.scss'

type Props = SideNavigationButtonProps

const {
	'class': className,
	'c:selected': selected,
	'c:attrLeading': attrLeading = {},
	'c:attrContent': attrContent = {},
	...other
} = Astro.props
const {'class': leadingClassName, ...leadingOther} = attrLeading
const {'class': contentClassName, ...contentOther} = attrContent
---

<Button
	class={attrClassList(SideNavigationClasses.button, className)}
	data-c-selected={selected? '' : undefined}
	{...other}>
	{Astro.slots.has('leading') &&
		<div
			class={attrClassList(SideNavigationClasses.buttonLeading, leadingClassName)}
			{...leadingOther}>
			<slot name="leading"/>
		</div>
	}
	<div
		class={attrClassList(SideNavigationClasses.buttonContent, contentClassName)}
		{...contentOther}>
		<slot />
	</div>
</Button>