---
import { attrClassList } from '@/utils/attributes'

import {
	type TooltipProps,
	TooltipClasses
} from '.'
import './index.scss'

type Props = TooltipProps
const {
	'class': className,
	TooltipStartDelay,
	TooltipEndDelay,
	TooltipGap,
	TooltipUseAnchor,
	TooltipPosition,
	...other
} = Astro.props
---

<div
	class={attrClassList(TooltipClasses.tooltip, className)}
	data-c-tooltip-start-delay={TooltipStartDelay}
	data-c-tooltip-end-delay={TooltipEndDelay}
	data-c-tooltip-gap={TooltipGap}
	data-c-tooltip-position={TooltipPosition}
	data-c-tooltip-use-anchor={TooltipUseAnchor? "" : undefined}
	{...other}>
	<slot />
</div>
<script>
	import { registerTooltipRef } from '.'
	registerTooltipRef()
</script>