@use '../../../../styles/units.scss' as u;

.body {
	padding: u.Rem(8px) u.Rem(16px) u.Rem(16px) u.Rem(16px);
	width: 100%;

	// NOTE: this cause bug (container not show all) when vertical scroll appear
	// height: 100%;

	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	> ul {
		height: max-content;
		list-style: none;
		width: min(100%, u.Rem(720px));
		display: flex;
		flex-wrap: wrap;
		gap: u.Rem(8px);

		> li {
			flex: 1 1 u.Rem(200px);
			background-color: rgb(var(--g-color-surface));
			border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity3));
			padding: u.Rem(8px);
			border-radius: var(--g-border-radius4);
			display: flex;
			gap: u.Rem(8px);

			&:hover {
				border-color: rgb(var(--g-color-accent));
			}

			> :global(.c-icon) {
				margin-top: u.Rem(4px);
			}

			& span {
				font-weight: bold;
				color: rgb(var(--g-color-accent));
			}
		}
	}
}