.btn_rotate_icon {
	--c-btn-icon-animation: rotate-icon .8s var(--g-transition-spring) !important;
}

@keyframes rotate-icon {
	 50% { rotate: 180deg; }
	100% { rotate:   0deg; }
}

.btn_rotate_full_icon {
	--c-btn-icon-animation: rotate-full-icon .8s var(--g-transition-spring) !important;
}

@keyframes rotate-full-icon {
	to { rotate: 360deg; }
}

.btn_move_right_icon {
	--c-btn-icon-animation: move-right-icon .8s var(--g-transition-spring) !important;
}

@keyframes move-right-icon {
	 50% { transform: translateX(8px); }
	100% { transform: translateX(0px); }
}

.btn_scale_up_icon {
	--c-btn-icon-animation: scale-up-icon .8s var(--g-transition-spring) !important;
}

@keyframes scale-up-icon {
	 50% { scale: 1.3; }
	100% { scale:   1; }
}

.btn_shrink_horizontal_icon {
	--c-btn-icon-animation: shrink-horizontal-icon .8s var(--g-transition-spring) !important;
}

@keyframes shrink-horizontal-icon {
	 50% { transform: scaleX(.5) }
	100% { transform: scaleX(1) }
}