* {
    --bg-color: transparent; // rgb value (eg. '9, 23, 200')
    --bg-opacity: 0;
    
    background-color: transparent;
    background-color: rgba(var(--bg-color), var(--bg-opacity));
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition-timing-function: var(--transition-spring);
    -webkit-tap-highlight-color: transparent;
}

a, button, .icon, :is(a, button, .icon) * {
    user-select: none;
    text-decoration: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    align-items: center;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    max-width: 100%; 

    &[data-no-pointer-event] {
        pointer-events: none;

        & :is([data-keep-pointer-event], [data-keep-pointer-event] *) {
            pointer-events: auto;
            user-select: none;
        }
    }
}

code {
    font-family: var(--font-family-monospace);
}

img {
    display: block;
}

kbd {
    border-radius: .3em;
    background-color: rgb(var(--color-on-surface));
    font-size: .85em;
    color: rgb(var(--color-surface));
    padding: .2em .4em;
    box-shadow: 0 .1em .3em -.15em rgba(var(--color-on-surface), 1);
}