// root attributes
// * data-theme=auto|light|dark (default: light)
// * data-animation=auto|on|off (default: off)

:root {
	// background color
	--g-color-background-light: 243, 243, 243;
	--g-color-background-dark :  32,  32,  32;

	// surface colors
	--g-color-surface-light   : 251, 251, 251;
	--g-color-on-surface-light:  31,  31,  31;
	--g-color-surface-dark    :  43,  43,  43;
	--g-color-on-surface-dark : 250, 250, 250;

	// error colors
	--g-color-error-light   : 194,   0,   0;
	--g-color-error-dark    : 255, 148, 148;
	--g-color-on-error-light: 255, 255, 255;
	--g-color-on-error-dark :   0,   0,   0;

	--g-color-background: var(--g-color-background-light);
	--g-color-accent    : var(--g-color-accent-light    );
	--g-color-on-accent : var(--g-color-on-accent-light );
	--g-color-surface   : var(--g-color-surface-light   );
	--g-color-on-surface: var(--g-color-on-surface-light);
	--g-color-error     : var(--g-color-error-light     );
	--g-color-on-error  : var(--g-color-on-error-light  );

	// opacity level
	--g-opacity0: .02;
	--g-opacity1: .04;
	--g-opacity2: .08;
	--g-opacity3: .12;
	--g-opacity4: .16;
	--g-opacity5: .20;
	--g-opacity-inv0: .92;
	--g-opacity-inv1: .84;
	--g-opacity-inv2: .76;
	--g-opacity-inv3: .68;
	--g-opacity-inv4: .60;
	--g-opacity-inv5: .52;
	--g-opacity-border: .32;
	--g-opacity-glass: .88;

	// blur
	--g-blur-glass: 16px;

	// font family
	--g-font-family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
	--g-font-family-monospace: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

	// transitions
	--g-transition-spring: cubic-bezier(.25, 0, 0, 1);
	--g-transition-spring-bounce: cubic-bezier(.25, 0, 0, 2);
	--g-transition-spring-inverse: cubic-bezier(1, 0, 0.75, 1);
	--g-transition-spring-bounce-inverse: cubic-bezier(1, -1, 0.75, 1);

	// font sizes

	// s: small
	--g-font-size-s: 12px;
	--g-font-size-xs: 14px;
	--g-font-size-xxs: 16px;

	// m: medium
	--g-font-size-m: 20px;
	--g-font-size-xm: 24px;
	--g-font-size-xxm: 28px;

	// l: large
	--g-font-size-l: 32px;
	--g-font-size-xl: 36px;
	--g-font-size-xxl: 40px;

	// d: display
	--g-font-size-d: 44px;
	--g-font-size-xd: 48px;
	--g-font-size-xxd: 52px;

	// elevation
	--g-elevation-color-1: rgba(0, 0, 0, 0.04);
	--g-elevation-color-2: rgba(0, 0, 0, 0.16);
	--g-elevation1: 0px 2px  4px var(--g-elevation-color-1);
	--g-elevation2: 0px 4px  8px var(--g-elevation-color-2);
	--g-elevation3: 0px 8px 16px var(--g-elevation-color-2);
	--g-elevation4: 0px 16px 32px var(--g-elevation-color-2);
	--g-elevation5: 0px 32px 64px var(--g-elevation-color-2);

	// z-index
	--g-z-index-select-popover: 9;

	background-color: rgb(var(--g-color-background));
	font-family: var(--g-font-family-sans-serif);
	color: rgb(var(--g-color-on-surface));
	color-scheme: light;

	& * {
		color-scheme: inherit;
	}

	&[data-theme="dark"] {
		// elevation
		--g-elevation-color-1: rgba(0, 0, 0, .12);
		--g-elevation-color-2: rgba(0, 0, 0, .28);

		--g-color-background: var(--g-color-background-dark);
		--g-color-accent: var(--g-color-accent-dark);
		--g-color-on-accent: var(--g-color-on-accent-dark);
		--g-color-surface: var(--g-color-surface-dark);
		--g-color-on-surface: var(--g-color-on-surface-dark);
		--g-color-error: var(--g-color-error-dark);
		--g-color-on-error: var(--g-color-on-error-dark);

		color-scheme: dark;
	}

	&[data-theme="auto"] {
		@media (prefers-color-scheme: dark) {
			// elevation
			--g-elevation-color-1: rgba(0, 0, 0, .12);
			--g-elevation-color-2: rgba(0, 0, 0, .28);

			--g-color-background: var(--g-color-background-dark);
			--g-color-accent: var(--g-color-accent-dark);
			--g-color-on-accent: var(--g-color-on-accent-dark);
			--g-color-surface: var(--g-color-surface-dark);
			--g-color-on-surface: var(--g-color-on-surface-dark);
			--g-color-error: var(--g-color-error-dark);
			--g-color-on-error: var(--g-color-on-error-dark);

			color-scheme: dark;
		}
	}
}