---
import { joinClassList } from '@/utils/attributes'

import {CApp, type AppProps} from '.'
import './index.scss'

type Props = AppProps

const cls = CApp.Classes
const {
	'class': className,
	AppTagName          = 'div',
	AppAppBarAttr       = {},
	AppBottomBarAttr    = {},
	AppBodyAttr         = {},
	AppContainerAttr    = {},
	AppLeftSideBarAttr  = {},
	AppRightSideBarAttr = {},
	...other
} = Astro.props
const {'class': appBarClass      , ...appBarOther      } = AppAppBarAttr
const {'class': bottomBarClass   , ...bottomBarOther   } = AppBottomBarAttr
const {'class': bodyClass        , ...bodyOther        } = AppBodyAttr
const {'class': containerClass   , ...containerOther   } = AppContainerAttr
const {'class': leftSideBarClass , ...leftSideBarOther } = AppLeftSideBarAttr
const {'class': rightSideBarClass, ...rightSideBarOther} = AppRightSideBarAttr
const AppDynamic = AppTagName as 'div'
---

<AppDynamic
	class={joinClassList(cls.App, className)}
	{...other}>
	<div
		class={joinClassList(cls.LeftSideBar, leftSideBarClass)}
		{...leftSideBarOther}><slot name='left-sidebar'/></div>
	<div
		class={joinClassList(cls.Container, containerClass)}
		{...containerOther}>
		<div
			class={joinClassList(cls.AppBar, appBarClass)}
			{...appBarOther}><slot name='appbar'/></div>
		<div
			class={joinClassList(cls.Body)}
			{...bodyOther}>
			<slot/>
		</div>
		<div
			class={joinClassList(cls.BottomBar, bottomBarClass)}
			{...bottomBarOther}><slot name='bottombar'/></div>
	</div>
	<div
		class={joinClassList(cls.RightSideBar, rightSideBarClass)}
		{...rightSideBarOther}><slot name='right-sidebar'/></div>
</AppDynamic>