.desktop_only {
    @media (max-width: 540px) {
        display: none !important;
    }
}

.footer {
    padding: 0 32px 64px 32px;

    > p {
        text-align: center;
        color: rgb(var(--color-acc));
        font-weight: bold;
        text-shadow: var(--elevation1);
    }

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding-top: 8px;
        flex-wrap: wrap;
    }

    & a {
        display: inline-block;
        border-bottom: 2px solid rgb(var(--color-acc));
        padding-top: 8px;
        transition: all .3s var(--transition-spring);

        @media (hover: hover) {
            &:hover {
                color: rgb(var(--color-acc));
                padding-top: 0;
                padding-bottom: 8px;
            }
        }

        &:active {
            color: rgb(var(--color-acc));
            padding-top: 0;
            padding-bottom: 8px;
            border-bottom-style: dashed;
            letter-spacing: 1px;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    width: 1440px;
    max-width: 100%;

    > :global(.btn){ 
        --padding: 4px 12px 4px 8px;
        font-size: var(--font-size-m);

        & img {
            width: 24px;
        }
    }

    > :is(nav, div) {
        display: flex;
        align-items: center;
        gap: 1px;
    }

    > nav {
        flex: 1;
    }
}

.main {
    min-height: calc(100dvh - 178px);
    width: 796px;
    padding: 32px 16px;
    padding-bottom: 64px;
    max-width: 100%;

    > :global(.textfield) {
        width: 100%;
        margin-bottom: 16px;
    }

    > div {
        display: grid;
        gap: 4px;
        grid-template-columns: repeat(auto-fill, minmax(124px, 1fr));

        &:empty {
            display: none;
        }

        & img {
            width: 40px;
        }

        & :global(.btn){ 
            --padding: 12px;
    
            &[data-pinned] {
                order: -1;
            }
        }

        & :global(.btn-layer) {
            flex-direction: column;
            text-align: center;
            justify-content: flex-start;
            text-transform: capitalize;
            position: relative;
            width: 100%;
        }

        & :global(.icon) {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(calc(-50% + 40px));
        }
    }

}

.mobile_only {
    @media (min-width: 541px) {
        display: none !important;
    }
}