.main {
	min-height: calc(100dvh - 178px);
	width: 796px;
	padding: 32px 16px;
	padding-bottom: 64px;
	max-width: 100%;

	> div :global(.c-textfield) {
		width: 100%;
		margin-bottom: 16px;
	}

	> div:last-child {
		display: grid;
		gap: 4px;
		grid-template-columns: repeat(auto-fill, minmax(124px, 1fr));

		&:empty {
			display: none;
		}

		& img {
			width: 48px;
		}

		& :global(.c-btn){
			padding: 12px;
			flex-direction: column;
			text-align: center;
			justify-content: flex-start;
			text-transform: capitalize;
			position: relative;
			width: 100%;

			&[data-pinned] {
				order: -1;
			}
		}

		& :global(.c-icon) {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(calc(-50% + 40px));
		}
	}
}