---
import { ButtonClasses } from '@/native-components/Button'
import { attrClassList } from '@/utils/attributes'
import Icon from '@/native-components/Icon/index.astro'
import {
	type SelectProps,
	SelectClasses,
	SelectVariant as SSelectVariant
} from '.'
import './index.scss'
import { ICON_CHEVRON_DOWN } from '@/constants/icons'

type Props = SelectProps

const {
	SelectContentAttr     = {},
	SelectPopoverAttr     = {},
	SelectPlaceholderAttr = {},
	SelectIconAttr        = {},
	SelectVariant         = SSelectVariant.tonal,
	SelectUseIcon         = true,
	'class': className,
	role,
	...other
} = Astro.props

const {'class': iconClassName       , ...iconOther   } = SelectIconAttr
const {'class': contentClassName    , ...contentOther} = SelectContentAttr
const {'class': popoverClassName    , ...popoverOther} = SelectPopoverAttr
const {'class': placeholderClassName, tabindex, ...placeholderOther} = SelectPlaceholderAttr
---

<div
	class={attrClassList(SelectClasses.select, className)}
	data-c-select-variant={SelectVariant}
	data-c-select-use-icon={SelectUseIcon? '' : undefined}
	role={role ?? 'listbox'}
	{...other}>
	<div
		class={attrClassList(SelectClasses.popover, popoverClassName)}
		{...popoverOther}>
		<div
			class={attrClassList(SelectClasses.content, contentClassName)}
			{...contentOther}>
			<slot/>
			<div
				class={attrClassList(
					ButtonClasses.button,
					SelectClasses.placeholder,
					placeholderClassName
				)}
				tabindex={tabindex ?? 0}
				{...placeholderOther}>
				<slot name="placeholder">
					Choose item
				</slot>
			</div>
		</div>
	</div>
	<Icon
		class={attrClassList(
			SelectClasses.icon,
			iconClassName
		)}
		IconCode={ICON_CHEVRON_DOWN}
		{...iconOther}
	/>
</div>
<script>
	import { registerSelect } from '.'
	registerSelect()
</script>