---
import { ButtonClasses } from '@/native-components/Button'
import { attrClassList } from '@/utils/attributes'
import Icon from '@/native-components/Icon/index.astro'
import {
	type SelectProps,
	SelectClasses,
	SelectVariant
} from '.'
import './index.scss'
import { ICON_CHEVRON_DOWN } from '@/constants/icons'

type Props = SelectProps

const {
	'class': className,
	'c:attrContent': attrContent = {},
	'c:attrPopover': attrPopover = {},
	'c:attrPlaceholder': attrPlaceholder = {},
	'c:attrIcon': attrIcon = {},
	'c:variant': variant = SelectVariant.tonal,
	'c:useIcon': useIcon = true,
	role,
	...other
} = Astro.props

const {'class': iconClassName, ...iconOther} = attrIcon
const {'class': contentClassName, ...contentOther} = attrContent
const {'class': popoverClassName, ...popoverOther} = attrPopover
const {'class': placeholderClassName, tabindex, ...placeholderOther} = attrPlaceholder
---

<div
	class={attrClassList(SelectClasses.select, className)}
	data-c-variant={variant}
	data-c-use-icon={useIcon? '' : undefined}
	role={role ?? 'listbox'}
	{...other}>
	<div
		class={attrClassList(SelectClasses.popover, popoverClassName)}
		{...popoverOther}>
		<div
			class={attrClassList(SelectClasses.content, contentClassName)}
			{...contentOther}>
			<slot/>
			<div
				class={attrClassList(
					ButtonClasses.btn,
					SelectClasses.placeholder,
					placeholderClassName
				)}
				tabindex={tabindex ?? 0}
				{...placeholderOther}>
				<slot name="placeholder">
					Choose item
				</slot>
			</div>
		</div>
	</div>
	<Icon
		class={attrClassList(
			SelectClasses.icon,
			iconClassName
		)}
		c:icon={ICON_CHEVRON_DOWN}
		{...iconOther}
	/>
</div>