.c-select {
	--c-select-z-index: var(--g-z-index-select-popover);
	position: relative;
}

.c-select-content {
	.c-select[data-c-select-expanded] & {
		max-height: calc(100dvh - 16px);
		max-width: 100%;
		width: 100%;
		padding: 4px;
		display: flex;
		flex-direction: column;
		gap: 4px;
		overflow: auto;
		align-items: stretch;
		justify-content: flex-start;
	}
}

.c-select-icon {
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;

	.c-select[data-c-select-variant=filled] & {
		color: rgb(var(--g-color-on-accent))
	}

	.c-select:not([data-c-select-use-icon]) &,
	.c-select[data-c-select-expanded] & {
		display: none;
	}
}

.c-select-option.c-button {
	position: relative;
	width: 100%;
	justify-content: flex-start;

	&::before {
		content: '';
		display: block;
		background-color: rgb(var(--g-color-accent));
		position: absolute;
		left: 1px;
		width: 3px;
		top: 50%;
		opacity: 0;
		transform: translateY(-50%);
		height: 3px;
		border-radius: 999px;

		:root[data-animation=on] & {
			transition-duration: .2s;
			transition-property: height;
		}

		@media (prefers-reduced-motion: no-preference) {
			:root[data-animation=auto] & {
				transition-duration: .2s;
				transition-property: height;
			}
		}
	}

	.c-select:not([data-c-select-expanded])[data-c-select-variant=filled] & {
		background-color: rgb(var(--g-color-accent));
		color: rgb(var(--g-color-on-accent));

		&:not(:disabled){
			&[data-c-button-focused] {
				background-color: rgba(var(--g-color-accent), var(--g-opacity-inv3));
			}

			@media (hover:hover) {
				&:hover {
					background-color: rgba(var(--g-color-accent), var(--g-opacity-inv3));
				}
			}

			&:active {
				background-color: rgba(var(--g-color-accent), var(--g-opacity-inv5));
			}
		}
	}

	.c-select:not([data-c-select-expanded])[data-c-select-variant=tonal] & {
		background-color: rgba(var(--g-color-on-surface), var(--g-opacity2));

		&:not(:disabled){
			&[data-c-button-focused] {
				background-color: rgba(var(--g-color-on-surface), var(--g-opacity1));
			}

			@media (hover:hover) {
				&:hover {
					background-color: rgba(var(--g-color-on-surface), var(--g-opacity1));
				}
			}

			&:active {
				background-color: rgba(var(--g-color-on-surface), var(--g-opacity0));
			}
		}
	}

	.c-select:not([data-c-select-expanded])[data-c-select-variant=outlined] & {
		border: 1px solid rgba(var(--g-color-on-surface), var(--g-opacity-border));
	}

	.c-select[data-c-select-expanded] & {
		outline-offset: 0px;
	}

	&:is([aria-selected=false],:disabled) {
		min-height: 28px;

		.c-select:not([data-c-select-expanded]) & {
			display: none;
		}
	}

	&[aria-selected=true]:not(:disabled) {
		.c-select[data-c-select-use-icon]:not([data-c-select-expanded]) & {
			padding-right: 48px;
		}

		.c-select[data-c-select-expanded] & {
			// .c-tonal-btn {
			background-color: rgba(var(--g-color-on-surface), var(--g-opacity2));

			&:not(:disabled) {
				&[data-c-button-focused] {
					background-color: rgba(var(--g-color-on-surface), var(--g-opacity1));
				}

				@media (hover:hover) {
					&:hover {
						background-color: rgba(var(--g-color-on-surface), var(--g-opacity1));
					}
				}

				&:active {
					background-color: rgba(var(--g-color-on-surface), var(--g-opacity0));
				}
			}
			// }

			&::before {
				height: max(50%, 3px);
				opacity: 1;
			}
		}
	}
}

.c-select-placeholder.c-button {
	.c-select[data-c-select-use-icon] & {
		padding-right: 48px;
	}

	.c-select:not([data-c-select-expanded])[data-c-select-variant=filled] & {
		background-color: rgb(var(--g-color-accent));
		color: rgb(var(--g-color-on-accent));

		&:not(:disabled){
			&[data-c-button-focused] {
				background-color: rgba(var(--g-color-accent), var(--g-opacity-inv3));
			}

			@media (hover:hover) {
				&:hover {
					background-color: rgba(var(--g-color-accent), var(--g-opacity-inv3));
				}
			}

			&:active {
				background-color: rgba(var(--g-color-accent), var(--g-opacity-inv5));
			}
		}
	}

	.c-select:not([data-c-select-expanded])[data-c-select-variant=tonal] & {
		background-color: rgba(var(--g-color-on-surface), var(--g-opacity2));

		&:not(:disabled){
			&[data-c-button-focused] {
				background-color: rgba(var(--g-color-on-surface), var(--g-opacity1));
			}

			@media (hover:hover) {
				&:hover {
					background-color: rgba(var(--g-color-on-surface), var(--g-opacity1));
				}
			}

			&:active {
				background-color: rgba(var(--g-color-on-surface), var(--g-opacity0));
			}
		}
	}

	.c-select:not([data-c-select-expanded])[data-c-select-variant=outlined] & {
		border: 1px solid rgba(var(--g-color-on-surface), var(--g-opacity-border));
	}

	.c-select[data-c-select-expanded] & {
		display: none;
	}

	.c-select-option[aria-selected=true]:not(:disabled) ~ & {
		display: none;
	}
}

.c-select-popover {
	border-radius: 8px;

	.c-select[data-c-select-expanded] & {
		max-height: calc(100dvh - 16px);
		max-width: calc(100dvw - 16px);
		width: max-content;
		box-sizing: content-box;
		position: fixed;
		overflow: hidden;
		top: 0;
		left: 0;
		box-shadow: var(--g-elevation3);
		z-index: var(--c-select-z-index);
		background-color: rgb(var(--g-color-surface));
		border: 1px solid rgba(var(--g-color-on-surface), var(--g-opacity3));

		:root[data-theme=dark] & {
			border: 1px solid rgba(0, 0, 0, var(--g-opacity-inv5));
			background-color: rgb(46, 46, 46);
		}
		:root[data-theme=auto] & {
			@media (prefers-color-scheme: dark) {
				border: 1px solid rgba(0, 0, 0, var(--g-opacity-inv5));
				background-color: rgb(46, 46, 46);
			}
		}
	}
}