---
import { attrClassList } from '@/utils/attributes'
import { type SelectOptionProps, SelectClasses } from '.'
import Button from '@/native-components/Button/index.astro'
import './index.scss'

type Props = SelectOptionProps
const {
	'class': className,
	'aria-selected': ariaSelected,
	SelectOptionSelected,
	role,
	...other
} = Astro.props
---

<Button
	role={role ?? 'option'}
	class={attrClassList(SelectClasses.option, className)}
	aria-selected={ariaSelected ?? SelectOptionSelected ?? 'false'}
	{...other}>
	<slot />
</Button>