@use '../../../../styles/units.scss' as u;

.body {
	padding: u.Rem(8px) u.Rem(16px) u.Rem(16px) u.Rem(16px);
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.output {
	font-size: var(--g-font-size-d);
	display: grid;
	grid-template-columns: 1fr 1fr;

	> span {
		display: block;

		&:first-of-type {
			text-align: end;
			padding-right: .5em;
			border-right: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity-border));
		}

		&:last-of-type {
			padding-left: .5em;
		}
	}
}

.control {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(u.Rem(250px), 1fr));
	gap: u.Rem(16px);
	width: min(100%, u.Rem(720px));
	padding: u.Rem(16px) 0;

	> button {
		--outline-color: #000;
		aspect-ratio: 21 / 9;
		cursor: pointer;
		display: block;
		font-size: var(--g-font-size-l);
		font-weight: bold;
		border: none;
		outline: u.Rem(2px) solid transparent;
		outline-offset: u.Rem(4px);
		border-radius: var(--g-border-radius4);
		box-shadow: var(--g-elevation2);
		transition-duration: var(--g-duration-transition);

		&:focus-visible {
			outline-color: rgb(var(--g-color-on-surface));
		}

		&[data-focused] {
			outline-color: rgb(var(--g-color-on-surface));
		}

		&:hover {
			outline-color: rgb(var(--g-color-on-surface));
		}

		&:active {
			outline-offset: u.Rem(-8px);
			outline-color: var(--outline-color);
		}
	}
}

.preview {
	--color: #fff;
	--background-color: #000;
	width: min(100%, u.Rem(512px));
	list-style: none;

	& li {
		padding: .4em .8em;
		border-radius: var(--g-border-radius4);
		color: var(--color);
		background-color: var(--background-color);
		transition-duration: var(--g-duration-transition);

		&:not(:last-child) {
			margin-bottom: u.Rem(8px);
		}

		&[data-css-inverse] {
			background-color: var(--color);
			color: var(--background-color);
		}
	}
}

.wcag {
	display: grid !important;
	grid-template-columns: repeat(auto-fit, minmax(u.Rem(192px), 1fr));
	padding-bottom: u.Rem(16px);
	gap: u.Rem(8px);
	width: min(100%, u.Rem(512px));

	> p {
		border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity-border));
		padding: u.Rem(16px) u.Rem(16px) u.Rem(8px) u.Rem(16px);
		border-radius: var(--g-border-radius4);
		position: relative;

		&::after {
			content: 'WCAG';
			border-radius: var(--g-border-radius4);
			position: absolute;
			left: calc(u.Rem(8px) + 0.2em);
			top: 0;
			translate: 0 -50%;
			padding: 0 .5em;
			font-size: var(--g-font-size-xs);
			color: rgb(var(--g-color-accent));
			font-weight: bold;
			background-color: rgb(var(--g-color-background));
			border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity-border));
		}

		> span {
			> span {
				display: none;
				font-weight: bold;
			}

			&[data-pass="true"] > span[data-pass] {
				display: inline;
				color: rgb(var(--g-color-accent));
			}

			&[data-pass="false"] > span[data-fail] {
				display: inline;
				color: rgb(var(--g-color-error));
			}
		}
	}
}