@use '../../../styles/units.scss' as u;

.article {
	padding: u.Rem(64px) u.Rem(16px);
	width: u.Rem(1080px);
	max-width: 100%;

	& :is(p, li) {
		font-size: var(--g-font-size-m);
		text-align: justify;

		@media (max-width: u.Rem(500px)) {
			font-size: var(--g-font-size-xxs);
		}

		> a {
			border-bottom: .1em solid rgb(var(--g-color-accent));
			position: relative;
			transition-duration: var(--g-duration-transition);
			&:hover {
				border-bottom-style: dashed;
			}

			&:active {
				border-bottom-style: solid;
				background-color: rgb(var(--g-color-accent));
				color: rgb(var(--g-color-on-accent));
				border-radius: u.Rem(4px);
				padding: 0 .3em;
			}
		}
	}

	& h2 {
		scroll-margin-top: u.Rem(64px);
		font-size: var(--g-font-size-l);
		margin-top: 1em;
		font-weight: 500;

		@media (max-width: u.Rem(500px)) {
			font-size: u.Rem(32px);
		}

		&:target {
			color: rgb(var(--g-color-accent));
		}

		> a {
			transition-duration: var(--g-duration-transition);
			&:hover {
				text-decoration: underline;
			}

			&:active {
				text-decoration: underline dotted;
			}
		}
	}

	& :is(ul, ol) {
		margin-left: 2em;
	}

	> h1 {
		font-size: min(10dvw, u.Rem(56px));
		margin-bottom: u.Rem(64px);
		color: rgb(var(--g-color-accent));
		width: fit-content;
		padding-bottom: .1em;
	}

	> :not(h1) {
		margin-top: 1em;
	}

	> section > :not(:first-child) {
		margin-top: 1em;
	}
}