@use '../../../styles/units.scss' as u;

.article {
	padding: u.Rem(64px) u.Rem(16px);
	width: u.Rem(1080px);
	max-width: 100%;

	& :is(p, li) {
		font-size: var(--g-font-size-m);
		text-align: justify;

		@media (max-width: u.Rem(500px)) {
			font-size: var(--g-font-size-xxs);
		}

		> a {
			text-decoration: underline;
			text-underline-offset: 0.2em;
			text-decoration-color: rgb(var(--g-color-accent));
			transition-duration: var(--g-duration-transition);

			&:hover {
				color: rgb(var(--g-color-accent));
			}

			&:active {
				text-decoration-style: dashed;
				color: rgb(var(--g-color-accent));
			}
		}
	}

	& h2 {
		scroll-margin-top: u.Rem(64px);
		font-size: var(--g-font-size-l);
		margin-top: 1em;
		font-weight: 500;

		@media (max-width: u.Rem(500px)) {
			font-size: u.Rem(32px);
		}

		&:target {
			color: rgb(var(--g-color-accent));
		}

		> a {
			transition-duration: var(--g-duration-transition);
			text-underline-offset: u.Rem(4px);

			&:hover {
				text-decoration: underline;
			}

			&:active {
				text-decoration: underline dashed;
			}
		}
	}

	& :is(ul, ol) {
		margin-left: 2em;
	}

	> h1 {
		font-size: min(10dvw, u.Rem(56px));
		margin-bottom: u.Rem(8px);
		color: transparent;
		letter-spacing: u.Rem(1px);
		-webkit-text-stroke-width: u.Rem(2px);
		-webkit-text-stroke-color: rgb(var(--g-color-accent));
	}

	> :not(h1) {
		margin-top: 1em;
	}

	> section > :not(:first-child) {
		margin-top: 1em;
	}
}