:is(.c-modal,.c-popover).c-emoji-picker {
	width: 360px;

	&[data-c-draggable] .c-emoji-picker-tabs {
		padding-top: 12px;
	}
}

.c-emoji-picker-emojis {
	min-height: 285px;
	max-height: 285px;
	overflow: auto;

	&[data-c-hidden] {
		display: none;
	}

	> div {
		position: relative;
		display: grid;
		padding: 8px;
		padding-top: 36px;
		width: 100%;
		justify-items: center;
		grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
		gap: 4px;

		> h3 {
			position: absolute;
			left: 16px;
			top: 10px;
			font-weight: 500;
		}

		> .c-btn {
			max-width: 100%;
			min-width: 100%;
			font-size: 20px;

			:root[data-platform=mobile] & {
				font-size: 24px;
			}
		}
	}
}

.c-emoji-picker-search {
	padding: 0 8px 12px 8px;
}

.c-emoji-picker-tabs {
	display: grid !important;
	padding: 8px;
	width: 100%;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
	gap: 4px;

	> div > .c-btn.c-icon-btn {
		max-width: 100%;
		min-width: 100%;
	}
}