.c-textareafield {
	display: block;
	width: 100%;
	min-height: 32px;
	font-size: var(--g-font-size-xs);
	padding: 4.5px 10px;
	border-radius: 4px;
	background-color: rgba(var(--g-color-on-surface), var(--g-opacity2));
	border: 2px solid transparent;
	border-bottom-color: rgb(var(--g-color-accent));
	outline: none;
	transition-property: border-color;
	transition-duration: var(--g-duration-transition);

	&:focus:read-write {
		border-color: rgb(var(--g-color-accent));
	}

	&:hover:not(:focus:read-write) {
		--c: rgba(var(--g-color-accent), var(--g-opacity-inv5));
		border-top-color: var(--c);
		border-left-color: var(--c);
		border-right-color: var(--c);
	}
}