@use '../../styles/units.scss' as u;

.footer {
	padding: 0 u.Rem(32px) u.Rem(64px) u.Rem(32px);

	> p {
		text-align: center;
		color: rgb(var(--g-color-accent));
		font-weight: bold;
		text-shadow: var(--g-elevation1);
	}

	> div {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: u.Rem(16px);
		padding-top: u.Rem(8px);
		flex-wrap: wrap;
	}

	& a {
		display: inline-block;
		border-bottom: u.Rem(2px) solid rgb(var(--g-color-accent));
		padding-top: u.Rem(8px);

		:root[data-animation=on] & {
			transition-duration: .2s;
		}

		@media (prefers-reduced-motion: no-preference) {
			:root[data-animation=auto] & {
				transition-duration: .2s;
			}
		}

		@media (hover: hover) {
			&:hover {
				color: rgb(var(--g-color-accent));
				padding-top: 0;
				padding-bottom: u.Rem(8px);
			}
		}

		&:active {
			color: rgb(var(--g-color-accent));
			padding-top: 0;
			padding-bottom: u.Rem(8px);
			border-bottom-style: dashed;
			letter-spacing: u.Rem(1px);
		}
	}
}