---
import { attrClassList } from '@/utils/attributes'
import { AppClasses, type AppProps } from '.'
import './index.scss'

type Props = AppProps
const {
	'class': className,
	AppTagName          = 'div',
	AppAppBarAttr       = {},
	AppBottomBarAttr    = {},
	AppBodyAttr         = {},
	AppContainerAttr    = {},
	AppLeftSideBarAttr  = {},
	AppRightSideBarAttr = {},
	...other
} = Astro.props
const {'class': appBarClassName      , ...appBarOther      } = AppAppBarAttr
const {'class': bottomBarClassName   , ...bottomBarOther   } = AppBottomBarAttr
const {'class': bodyClassName        , ...bodyOther        } = AppBodyAttr
const {'class': containerClassName   , ...containerOther   } = AppContainerAttr
const {'class': leftSideBarClassName , ...leftSideBarOther } = AppLeftSideBarAttr
const {'class': rightSideBarClassName, ...rightSideBarOther} = AppRightSideBarAttr

const AppDynamic = AppTagName as 'div'
---

<AppDynamic class={attrClassList(AppClasses.app, className)} {...other}>
	{Astro.slots.has('appbar') &&
		<div
			class={attrClassList(AppClasses.appBar, appBarClassName)}
			{...appBarOther}>
			<slot name='appbar'/>
		</div>
	}
	<div
		class={attrClassList(AppClasses.container, containerClassName)}
		{...containerOther}>
		{Astro.slots.has('left-sidebar') &&
			<div
				class={attrClassList(AppClasses.leftSideBar, leftSideBarClassName)}
				{...leftSideBarOther}>
				<slot name='left-sidebar'/>
			</div>
		}
		<div
			class={attrClassList(AppClasses.body)}
			{...bodyOther}>
			<slot/>
		</div>
		{Astro.slots.has('right-sidebar') &&
			<div
				class={attrClassList(AppClasses.rightSideBar, rightSideBarClassName)}
				{...rightSideBarOther}>
				<slot name='right-sidebar'/>
			</div>
		}
	</div>
	{Astro.slots.has('bottombar') &&
		<div
			class={attrClassList(AppClasses.bottomBar, bottomBarClassName)}
			{...bottomBarOther}>
			<slot name='bottombar'/>
		</div>
	}
</AppDynamic>