---
import { joinClassList } from '@/utils/attributes'

import {
	AppClasses,
	type AppProps
} from '.'
import './index.scss'

type Props = AppProps
const {
	'class': className,
	AppTagName          = 'div',
	AppAppBarAttr       = {},
	AppBottomBarAttr    = {},
	AppBodyAttr         = {},
	AppContainerAttr    = {},
	AppLeftSideBarAttr  = {},
	AppRightSideBarAttr = {},
	...other
} = Astro.props
const {'class': appBarClass      , ...appBarOther      } = AppAppBarAttr
const {'class': bottomBarClass   , ...bottomBarOther   } = AppBottomBarAttr
const {'class': bodyClass        , ...bodyOther        } = AppBodyAttr
const {'class': containerClass   , ...containerOther   } = AppContainerAttr
const {'class': leftSideBarClass , ...leftSideBarOther } = AppLeftSideBarAttr
const {'class': rightSideBarClass, ...rightSideBarOther} = AppRightSideBarAttr

const AppDynamic = AppTagName as 'div'
---

<AppDynamic class={joinClassList(AppClasses.app, className)} {...other}>
	{Astro.slots.has('appbar') &&
		<div
			class={joinClassList(AppClasses.appBar, appBarClass)}
			{...appBarOther}>
			<slot name='appbar'/>
		</div>
	}
	<div
		class={joinClassList(AppClasses.container, containerClass)}
		{...containerOther}>
		{Astro.slots.has('left-sidebar') &&
			<div
				class={joinClassList(AppClasses.leftSideBar, leftSideBarClass)}
				{...leftSideBarOther}>
				<slot name='left-sidebar'/>
			</div>
		}
		<div
			class={joinClassList(AppClasses.body)}
			{...bodyOther}>
			<slot/>
		</div>
		{Astro.slots.has('right-sidebar') &&
			<div
				class={joinClassList(AppClasses.rightSideBar, rightSideBarClass)}
				{...rightSideBarOther}>
				<slot name='right-sidebar'/>
			</div>
		}
	</div>
	{Astro.slots.has('bottombar') &&
		<div
			class={joinClassList(AppClasses.bottomBar, bottomBarClass)}
			{...bottomBarOther}>
			<slot name='bottombar'/>
		</div>
	}
</AppDynamic>