---
import { joinClassList } from '@/utils/attributes'

import {
	type SideBarProps,
	SideBarClasses,
} from '.'
import './index.scss'

type Props = SideBarProps

const {
	'class': className,
	SideBarMinimized,
	SideBarTagName     = 'div',
	SideBarContentAttr = {},
	SideBarHeaderAttr  = {},
	SideBarFooterAttr  = {},
	...other
} = Astro.props
const {'class': contentClass, ...contentOther} = SideBarContentAttr
const {'class': headerClass , ...headerOther } = SideBarHeaderAttr
const {'class': footerClass , ...footerOther } = SideBarFooterAttr
const Dynamic = SideBarTagName as 'div'
---

<Dynamic
	class={joinClassList(SideBarClasses.sideBar, className)}
	data-c-sidebar-minimized={SideBarMinimized? '' : undefined}
	{...other}>
	{Astro.slots.has('header') &&
		<div
			class={joinClassList(SideBarClasses.header, headerClass)}
			{...headerOther}>
			<slot name="header"/>
		</div>
	}
	<div
		class={joinClassList(SideBarClasses.content, contentClass)}
		{...contentOther}>
		<slot />
	</div>
	{Astro.slots.has('footer') &&
		<div
			class={joinClassList(SideBarClasses.footer, footerClass)}
			{...footerOther}>
			<slot name="footer"/>
		</div>
	}
</Dynamic>