.c-sidebar {
	display: flex;
	flex-direction: column;
	gap: 4px;
	height: 100%;
	width: 280px;
	padding: 4px;
	max-width: 280px;
	max-height: 100%;
	overflow-x: hidden;

	&[data-c-sidebar-minimized] {
		width: 50px;
		max-width: 50px;
	}

	:root[data-animation=on] & {
		transition-property: width, max-width;
		transition-duration: .25s;
	}

	@media (prefers-reduced-motion: no-preference) {
		:root[data-animation=auto] & {
			transition-property: width, max-width;
			transition-duration: .25s;
		}
	}
}

.c-sidebar-content {
	flex: 1;
	overflow: auto;
	display: inherit;
	flex-direction: inherit;
	gap: inherit;
	height: inherit;
	width: 100%;
	max-width: inherit;
	max-height: 100%;
	overflow-x: hidden;
}

.c-sidebar-button.c-button {
	justify-content: flex-start;
	position: relative;

	&::before {
		content: '';
		display: block;
		background-color: rgb(var(--g-color-accent));
		position: absolute;
		left: 1px;
		width: 3px;
		top: 50%;
		opacity: 0;
		transform: translateY(-50%);
		height: 3px;
		border-radius: 999px;

		:root[data-animation=on] & {
			transition-duration: .2s;
			transition-property: height;
		}

		@media (prefers-reduced-motion: no-preference) {
			:root[data-animation=auto] & {
				transition-duration: .2s;
				transition-property: height;
			}
		}
	}

	&[data-c-sidebar-button-selected]::before {
		opacity: 1;
		height: max(50%, 3px);
	}
}

.c-sidebar-button-leading {
}

.c-sidebar-button-content {
	flex: 1;
	display: inherit;
	gap: inherit;

	.c-sidebar[data-c-sidebar-minimized] & {
		display: none;
	}
}

.c-sidebar-footer,
.c-sidebar-header {
	display: contents;
}