---
import { attrClassList } from '@/utils/attributes'

import {
	type SideBarButtonProps,
	SideBarClasses,
} from '.'
import Button from '@/native-components/Button/index.astro'
import './index.scss'

type Props = SideBarButtonProps

const {
	'class': className,
	SideBarButtonSelected,
	SideBarButtonLeadingAttr = {},
	SideBarButtonContentAttr = {},
	...other
} = Astro.props
const {'class': leadingClass, ...leadingOther} = SideBarButtonLeadingAttr
const {'class': contentClass, ...contentOther} = SideBarButtonContentAttr
---

<Button
	class={attrClassList(SideBarClasses.button, className)}
	data-c-sidebar-button-selected={SideBarButtonSelected? '' : undefined}
	{...other}>
	{Astro.slots.has('leading') &&
		<div
			class={attrClassList(SideBarClasses.buttonLeading, leadingClass)}
			{...leadingOther}>
			<slot name="leading"/>
		</div>
	}
	<div
		class={attrClassList(SideBarClasses.buttonContent, contentClass)}
		{...contentOther}>
		<slot />
	</div>
</Button>