@font-face {
    font-family: "FluentSystemIcons-Resizable";
    src: url("/icons/FluentSystemIcons-Resizable.woff2") format("woff2"),
         url("/icons/FluentSystemIcons-Resizable.woff") format("woff"),
         url("/icons/FluentSystemIcons-Resizable.ttf") format("truetype");
}

.icon {
    display: block;
    font-family: FluentSystemIcons-Resizable;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal !important;
    line-height: 1;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    
    &::-webkit-scrollbar {
        display: none;
    }

    &[data-inline] {
        display: inline;
        font-size: inherit;
    }
}