.notification-bar {
    --max-h: calc(100dvh - 16px);
    --max-w: min(720px, calc(100% - 16px));
    background-color: rgb(var(--color-on-sur));
    color: rgb(var(--color-sur));
    border: none;
    border-radius: 16px;
    width: max-content;
    box-shadow: var(--elevation1);
    left: 50%;
    max-height: var(--max-h);
    max-width: var(--max-w);
    opacity: 0;
    outline: none;
    overflow: hidden;
    bottom: 8px;
    top: auto;
    transition-duration: .3s, 0s, 0s, 0s, 0s, 0s;
    transition-property: all, top, right, bottom, left, transform;

    [data-corner=sharp] & {
        border-radius: 0;
    }

    [data-corner=semi-round] & {
        border-radius: 8px;
    }

    &::backdrop {
        background-color: transparent;
    }

    &[data-open] {
        transition-duration: .3s, 0s, 0s, 0s, 0s;
        transition-property: all, top, right, bottom, left;
    }

    &[data-move] {
        opacity: 1;
        transition-duration: .3s, 0s, 0s, 0s, 0s;
        transition-property: all, top, right, bottom, left;
    }

    > div {
        max-height: inherit;
        max-width: 100%;
        width: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;

        > .list {
            min-height: 0;
            padding: 16px;

            > .list-leading > .icon {
                font-size: 24px;
            }

            > .list-content {
                > .list-title {
                    font-weight: bold;

                    &:empty {
                        display: none;
                    }
                }

                > .list-subtitle {
                    color: rgb(var(--color-sur));
                }
            }
        }
    }
}

.notification-bar-actions {
    display: flex;
    width: 100%;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    background-color: rgba(var(--color-sur), var(--opacity1));
    border-top: 1px solid rgba(var(--color-sur), var(--opacity2));

    &:empty {
        display: none;
    }

    > * {
        flex: 1 1 100px;
        max-width: 340px;
    }
}