$SCREEN_WIDTH_SMALL: 650px;

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 16px 16px 16px;

	& section {
		max-width: 1440px;
		width: 100%;
	}

	& h1 {
		list-style: none;
		font-weight: normal;
		font-size: var(--g-font-size-m);
		padding-bottom: 8px;
	}

	& ul {
		list-style: none;
		max-width: 100%;
		display: grid;
		gap: 4px;
		grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));

		& button {
			padding: 4px;
			width: 100%;
			font-size: var(--g-font-size-xm);
		}
	}

}

.bodySkinTone {
	> label {
		gap: 0;
		border-width: 2px;

		&:has( > input:focus-visible) {
			outline: auto;
		}

		&:has( > input:checked) {
			border: 2px solid rgb(var(--g-color-accent));
		}
	}

	& input {
		appearance: none;
	}
}

.navigationSideBar {
	@media (max-width: $SCREEN_WIDTH_SMALL) {
		display: none !important;
	}
}