---
import Html from '@/layouts/Html/index.astro';
import Icon from '@/components/Icon/index.astro';
import LinkButton from '@/components/Button/LinkButton.astro';
import { ButtonVariant } from '@/components/Button';
import Appbar from '@/layouts/Appbar/index.astro';
import Main from '@/layouts/Main/index.astro';
import BottomBar from '@/layouts/BottomBar/index.astro';
import CSS from './_404.module.scss'
import { RoutesLinks } from '@/enums/links';
import logo from '@/assets/logo.svg';
import Splash from '@/layouts/Splash/index.astro';

export const prerender = true;
---

<Html>
	<Appbar/>
	<Main classList={[CSS.main]}>
		<h1><span>PAGE&nbsp;&nbsp;&nbsp;&nbsp;<br/>NOT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br/>FOUND</h1>
		<LinkButton href={RoutesLinks.home} variant={ButtonVariant.filled}>
			<Icon code={0xE8E2} filled/>
			Back to home
		</LinkButton>
	</Main>
	<BottomBar/>
	<Splash src={logo.src} alt={`Redmerah splash icon`} />
</Html>

<script is:inline src='/scripts/theme.js'/>
<script is:inline src='/scripts/platform.js'/>