---
import { RoutesLinks } from '@/enums/links'
import Html from '@/layouts/Html/index.astro'
import Icon from '@/components/Icon/index.astro'
import LinkButton from '@/components/Button/LinkButton.astro'
import Appbar from '@/layouts/Appbar/index.astro'
import Main from '@/layouts/Main/index.astro'
import BottomBar from '@/layouts/BottomBar/index.astro'
import CSS from './_404.module.scss'
import { ButtonVariant } from '@/components/Button'
import { IconCodes } from '@/enums/icons'

export const prerender = true
---

<Html title='404: Page not found • Redmerah'>
	<script is:inline src='/scripts/root-settings.min.js'/>
	<Appbar/>
	<Main classList={[CSS.main]}>
		<h1><span>PAGE&nbsp;&nbsp;&nbsp;&nbsp;<br/>NOT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br/>FOUND</h1>
		<LinkButton href={RoutesLinks.home} LinkButtonVariant={ButtonVariant.filled}>
			<Icon IconCode={IconCodes.home} IconFilled/>
			Back to home
		</LinkButton>
	</Main>
	<BottomBar/>
</Html>