@use '../styles/units.scss' as u;

.main {
	padding-bottom: u.Rem(64px);

	> h1 {
		font-size: max(min(20vmin, u.Rem(164px)), u.Rem(64px));
		padding-bottom: u.Rem(16px);

		> span {
			border-bottom: u.Rem(1px) solid;
		}
	}
}
