@use '../styles/units.scss' as u;

.apps {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	> div {
		width: u.Rem(1080px + 32px);
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		> :global(.c-button) {
			margin-top: u.Rem(24px);
		}
	}

	& ul {
		display: flex;
		flex-wrap: wrap;
		gap: u.Rem(16px);
		width: 100%;
		padding: 0 u.Rem(24px);
		list-style: none;

		> li {
			--border-angle: 0deg;
			--hue: 0;
			--color-accent-light: var(--g-color-accent-light);
			--color-on-accent-light: var(--g-color-on-accent-light);
			--color-accent-dark: var(--g-color-accent-dark);
			--color-on-accent-dark: var(--g-color-on-accent-dark);
			--g-color-accent: var(--color-accent-light);
			--g-color-on-accent: var(--color-on-accent-light);
			flex: 1 1 u.Rem(240px);
			border-radius: u.Rem(4px);
			padding: u.Rem(20px);
			display: flex;
			flex-direction: column;
			position: relative;
			overflow: hidden;
			background-color: rgb(var(--g-color-surface));
			border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity2));

			:root[data-theme="dark"] & {
				--g-color-accent: var(--color-accent-dark);
				--g-color-on-accent: var(--color-on-accent-dark);
			}

			:root[data-theme="auto"] & {
				@media (prefers-color-scheme: dark) {
					--g-color-accent: var(--color-accent-dark);
					--g-color-on-accent: var(--color-on-accent-dark);
				}
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: u.Rem(4px);
				background-color: hsl(var(--hue), 100%, 50%);
			}

			& * {
				position: relative;
				z-index: 2;
			}
		}
	}

	& img {
		width: u.Rem(112px);
		margin-bottom: u.Rem(16px);
	}

	& h3 {
		font-size: var(--g-font-size-xm);
		padding-bottom: u.Rem(8px);
	}

	& p {
		padding-bottom: u.Rem(16px);
	}
}

.body {
	width: 100%;
	max-width: 100%;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.features {
	margin-top: u.Rem(64px);
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	> div {
		width: u.Rem(1080px + 32px);
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		> ul {
			display: flex;
			flex-wrap: wrap;
			gap: u.Rem(32px);
			width: 100%;
			padding: 0 u.Rem(24px);
			list-style: none;

			> li {
				flex: 1 1 u.Rem(240px);
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				font-size: var(--g-font-size-m);

				@media (max-width: u.Rem(500px)) {
					font-size: var(--g-font-size-xxs);
				}

				> img {
					width: u.Rem(88px);
					margin-bottom: u.Rem(16px);
				}
			}
		}
	}


	& h3 {
		font-size: var(--g-font-size-xm);
		font-weight: bold;
		margin-bottom: u.Rem(4px);
		color: rgb(var(--g-color-accent));
		width: fit-content;
	}
}

.header {
	--g-color-accent: var(--g-color-accent-dark);
	--g-color-on-accent: var(--g-color-on-accent-dark);
	width: 100%;
	max-width: 100%;
	padding: u.Rem(58px + 8px) u.Rem(24px) u.Rem(24px) u.Rem(24px);
	background:
		url(/images/color-4158152_1920.jpg)
		no-repeat;
	background-size: cover;
	position: relative;
	top: u.Rem(-58px);
	display: flex;
	align-items: center;
	flex-direction: column;

	> div {
		width: u.Rem(1080px - 16px);
		max-width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: u.Rem(32px);

		> h1 {
			font-size: min(u.Rem(92px), 14dvw);
			margin-bottom: u.Rem(32px);
			font-weight: bolder;
			color: white;
			text-shadow: var(--g-elevation2);

			> span {
				cursor: default;
				transition-duration: var(--g-duration-transition);

				&:hover {
					color: rgb(var(--g-color-accent))
				}
			}
		}

		> div {
			width: u.Rem(360px);
			min-width: u.Rem(256px);
			max-width: 100%;

			& ul {
				list-style: none;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: u.Rem(12px);
				width: fit-content;
				margin-bottom: u.Rem(8px);
				background-color: rgba(var(--g-color-background), var(--g-opacity-glass));
				backdrop-filter: blur(var(--g-blur-glass));
				border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity2));
				padding: u.Rem(12px);
				border-radius: u.Rem(8px);

				& [data-css-more] {
					height: u.Rem(32px);
					padding: u.Rem(4px) u.Rem(10px);
					font-weight: bold;
					display: flex;
					border-radius: u.Rem(16px);
					align-items: center;
					background-color: rgb(var(--g-color-on-surface));
					color: rgb(var(--g-color-surface));
				}

				& img {
					width: u.Rem(32px);
				}
			}

			> p {
				font-size: var(--g-font-size-m);
				margin-bottom: u.Rem(12px);
				background-color: rgba(var(--g-color-background), var(--g-opacity-glass));
				backdrop-filter: blur(var(--g-blur-glass));
				border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity2));
				padding: u.Rem(8px) u.Rem(12px);
				border-radius: u.Rem(8px);
			}
		}
	}
}

.heading {
	width: 100%;
	font-size: var(--g-font-size-l);
	font-weight: normal;
	margin-bottom: u.Rem(32px);
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: u.Rem(2px);
		background-color: rgb(var(--g-color-on-surface));
		z-index: -1;
		top: 50%;
		left: 0;
		translate: 0 -50%;
	}

	> div {
		width: u.Rem(1080px - 16px);
		max-width: calc(100% - u.Rem(44px));

		> span {
			display: inline-block;
			background-color: rgb(var(--g-color-on-surface));
			color: rgb(var(--g-color-surface));
			padding: .2em 1em;
			border-radius: 1em;
			outline: u.Rem(8px) solid rgb(var(--g-color-background));
			outline-offset: 0;
		}
	}
}

.quote {
	font-size: var(--g-font-size-l);
	text-align: center;
	margin: u.Rem(64px) 0;

	& span {
		display: inline-block;
		position: relative;
		border-radius: u.Rem(4px);
		padding-bottom: max(u.Rem(2px), .1em);
	}
}

@keyframes textShine {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}