.apps {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	> h2 {
		font-size: 2rem;
		width: 69.5rem;
		padding: 0 1.5rem;
		max-width: 100%;
		margin-bottom: .5em;
	}

	> ul {
		width: 69.5rem;
		max-width: 100%;
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
		padding: 0 1.5rem;
		list-style: none;
	}

	& li {
		--hue: 0;
		--color-accent-light: var(--br-theme-color-accent-light);
		--color-on-accent-light: var(--br-theme-color-on-accent-light);
		--color-accent-dark: var(--br-theme-color-accent-dark);
		--color-on-accent-dark: var(--br-theme-color-on-accent-dark);
		--br-theme-color-accent: var(--color-accent-light);
		--br-theme-color-on-accent: var(--color-on-accent-light);
		border-radius: .5rem;
		padding: 1.25rem;
		padding-left: 1.5rem;
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-start;
		gap: 1rem;
		position: relative;
		overflow: hidden;
		background-color: rgb(var(--br-theme-color-surface));
		border: 1px solid rgba(var(--br-theme-color-on-surface), .32);
		outline-offset: 0px;
		transition-duration: var(--br-theme-duration-transition);
		transition-property: outline-offset;

		&:hover {
			outline-offset: 4px;
			border-color: transparent;
			outline: 2px solid rgb(var(--br-theme-color-accent));
		}

		br-theme[br\:theme-mode="dark"] & {
			--br-theme-color-accent: var(--color-accent-dark);
			--br-theme-color-on-accent: var(--color-on-accent-dark);
		}

		br-theme:is([br\:theme-mode="auto"],:not([br\:theme-mode])) & {
			@media (prefers-color-scheme: dark) {
				--br-theme-color-accent: var(--color-accent-dark);
				--br-theme-color-on-accent: var(--color-on-accent-dark);
			}
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: .25rem;
			height: calc(100% - 2.5rem);
			border-radius: 999px;
			width: .25rem;
			translate: 0 -50%;
			background-color: hsl(var(--hue), 100%, 50%);
		}

	}

	& div {
		&[data-css=group] {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		&[data-css=more] {
			margin-top: 1rem;
			width: 69.5rem;
			max-width: 100%;
			padding: 0 1.5rem;
			display: flex;
			justify-content: center;
		}
	}

	& img {
		width: 4rem;
	}

	& h3 {
		line-height: 1;
		font-size: 1.25rem;
		width: fit-content;
		margin-bottom: .5em;
	}

	& p {
		padding-bottom: 1rem;
		flex: 1;
		font-size: 0.875rem;
		text-align: justify;
	}
}

.body {
	width: 100%;
	max-width: 100%;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(var(--br-theme-color-background));
}

.features {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4rem;

	> h2 {
		font-size: 2rem;
		width: 69.5rem;
		padding: 0 1.5rem;
		max-width: 100%;
		margin-bottom: .5em;
	}

	> ul {
		width: 69.5rem;
		max-width: 100%;
		display: grid;
		gap: 1rem 2rem;
		grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
		padding: 0 1.5rem;
		list-style: none;
	}

	& li {
		display: flex;
		align-items: flex-start;
		gap: 1rem;
	}

	& div {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	& img {
		width: 4rem;
		margin-bottom: 1rem;
	}

	& h3 {
		line-height: 1;
		font-size: 1.25rem;
		width: fit-content;
		margin-bottom: .5em;
	}

	& p {
		padding-bottom: 1rem;
		text-align: justify;
	}
}

.hero {
	width: 100%;
	max-width: 100%;
	padding: 4rem 1.5rem;
	display: flex;
	padding-top: 8rem;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	position: relative;
	overflow: hidden;
	top: -2rem;
	z-index: 2;

	&::before {
		content: '';
		display: block;
		position: absolute;
		z-index: 9;
		height: 4rem;
		width: 100%;
		background: linear-gradient(to top,
			rgb(var(--br-theme-color-background)) 0%,
			transparent 100%
		);
		left: 0;
		bottom: 0
	}

	> h1 {
		font-size: 4.5rem;
		text-align: center;
		z-index: 4;

		@media (max-width: 32.5rem) {
			font-size: 12dvw;
		}
	}

	> p {
		font-size: 1.25rem;
		margin-top: 1em;
		max-width: 43.75rem;
		text-align: center;
		margin-bottom: 1em;
		z-index: 4;

		> span {
			color: rgb(var(--br-theme-color-accent));
			font-size: 1.5em;
			font-weight: bold;
			text-transform: capitalize;
		}
	}

	> a {
		transition-property: scale;
		transition-duration: var(--br-theme-duration-transition);
		backdrop-filter: blur(16px);
		-webkit-backdrop-filter: blur(16px);
		z-index: 4;

		&:hover {
			scale: 1.2
		}
	}

	> img {
		position: absolute;
		width: 4rem;
		pointer-events: none;
		transition-duration: .25s; // don't use global variable --br-theme-duration-transition
		transition-property: opacity;
		z-index: 3;

		br-theme[br\:animation=off] & {
			opacity: 0;
		}

		@media (prefers-reduced-motion: reduce) {
			br-theme:is([br\:animation=auto],:not([br\:animation])) & {
				opacity: 0;
			}
		}

		&[src="#"] {
			opacity: 0;
		}
	}
}

.quote {
	font-size: 2rem;
	text-align: center;
	margin: 4rem 0;

	& span {
		display: inline-block;
		position: relative;
		border-radius: .25rem;
		padding-bottom: max(0.125rem, .1em);
	}
}

@keyframes textShine {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}