@use '../styles/units.scss' as u;

.apps {
	display: flex;
	flex-wrap: wrap;
	gap: u.Rem(16px);

	> div {
		--border-angle: 0deg;
		--hue: 0;
		flex: 1 1 u.Rem(240px);
		border-radius: u.Rem(4px);
		padding: u.Rem(20px);
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;
		background-color: rgb(var(--g-color-surface));
		transition-duration: var(--g-duration-transition);
		border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity2));

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: u.Rem(4px);
			background-color: hsl(var(--hue), 100%, 50%);
		}

		&:hover {
			transform: translateY(u.Rem(-8px));
		}

		& * {
			position: relative;
			z-index: 2;
		}

		> :global(.c-button) {
			position: absolute;
			top: u.Rem(20px);
			right: u.Rem(20px);
		}
	}

	& img {
		width: u.Rem(112px);
		margin-bottom: u.Rem(16px);
	}

	& h3 {
		font-size: var(--g-font-size-xm);
		padding-bottom: u.Rem(8px);
	}

	& p {
		padding-bottom: u.Rem(16px);
	}
}

.body {
	width: u.Rem(1080px);
	max-width: 100%;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.features {
	width: u.Rem(840px);
	max-width: 100%;
	padding: u.Rem(16px) 0;
	border-radius: u.Rem(8px);
	border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity2));
	background-color: rgb(var(--g-color-surface));

	> h2 {
		font-size: var(--g-font-size-xxl);
		font-weight: 500;
		margin-bottom: u.Rem(24px);
		padding: 0 u.Rem(16px);
	}

	> ul {
		list-style: none;

		> li {
			display: flex;
			align-items: flex-start;
			gap: u.Rem(16px);
			font-size: var(--g-font-size-m);
			padding: 0 u.Rem(16px);

			@media (max-width: u.Rem(500px)) {
				font-size: var(--g-font-size-xxs);
			}

			&:not(:last-child) {
				border-bottom: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity2));
				padding-bottom: u.Rem(24px);
			}

			&:not(:last-child) {
				margin-bottom: u.Rem(24px);
			}

			> img {
				width: u.Rem(56px);
			}
		}
	}


	& h3 {
		font-size: var(--g-font-size-xm);
		font-weight: bold;
		margin-bottom: u.Rem(4px);
		color: rgb(var(--g-color-accent));
		width: fit-content;
	}
}

.header {
	width: u.Rem(1032px);
	max-width: 100%;
	padding: u.Rem(64px) u.Rem(16px) u.Rem(64px) u.Rem(16px);

	> h1 {
		font-size: min(u.Rem(56px), 10dvw);
		margin-bottom: u.Rem(32px);
		font-weight: bolder;

		> span {
			--color-gradient1: hsl(119, 100%, 50%);
			--color-gradient2: hsl(76, 100%, 50%);
			background: linear-gradient(to right, var(--color-gradient1), var(--color-gradient2));
			-webkit-background-clip: text;
			text-align: center;
			background-clip: text;
			-webkit-text-fill-color: transparent;
			text-fill-color: transparent;
			background-size: 500% auto;

			:root[data-animation=on] & {
				animation: textShine 2s ease-in-out infinite alternate;
			}

			@media (prefers-reduced-motion: no-preference) {
				:root[data-animation=auto] & {
					animation: textShine 2s ease-in-out infinite alternate;
				}
			}

			&[data-color=green] {
				--color-gradient1: hsl(120, 100%, 50%);
				--color-gradient2: hsl(200, 100%, 50%);
			}

			&[data-color=blue] {
				--color-gradient1: hsl(240, 100%, 50%);
				--color-gradient2: hsl(280, 100%, 50%);
			}

			&[data-color=red] {
				--color-gradient1: hsl(0, 100%, 50%);
				--color-gradient2: hsl(60, 100%, 50%);
			}
		}
	}

	> p {
		font-size: var(--g-font-size-m);
	}
}

.main {
	max-width: 100%;
	padding: 0 u.Rem(16px);
	display: flex;
	flex-direction: column;
	align-items: center;
}


a.more_apps {
	margin: u.Rem(32px) 0 u.Rem(64px) 0;
	border-radius: u.Rem(999px);
	padding: u.Rem(12px) u.Rem(24px);
	font-size: var(--g-font-size-m);
	gap: u.Rem(16px);
	outline: u.Rem(2px) solid transparent;
	color: #fff !important;
	outline-offset: 0;
	background: linear-gradient(45deg, #ff0000, #e003b0);
	transition-property: outline-color, scale, outline-offset;

	&:hover {
		outline-color: rgb(var(--g-color-accent));
		outline-offset: u.Rem(6px);

		> :global(.c-icon) {
			:root[data-animation=on] & {
				translate: u.Rem(12px) 0;
			}

			@media (prefers-reduced-motion: no-preference) {
				:root[data-animation=auto] & {
					translate: u.Rem(12px) 0;
				}
			}
		}
	}

	&:focus-visible {
		outline-color: rgb(var(--g-color-accent));

		> :global(.c-icon) {
			:root[data-animation=on] & {
				translate: u.Rem(12px) 0;
			}

			@media (prefers-reduced-motion: no-preference) {
				:root[data-animation=auto] & {
					translate: u.Rem(12px) 0;
				}
			}
		}
	}

	&:active {
		outline-color: rgb(var(--g-color-accent));
		scale: .9;
		outline-offset: u.Rem(6px);
	}

	> :global(.c-icon) {
		--c-icon-size: var(--g-font-size-xm);
		transition-duration: var(--g-duration-transition);
	}
}

.quote {
	font-size: var(--g-font-size-l);
	text-align: center;
	margin: u.Rem(64px) 0;

	& span {
		display: inline-block;
		position: relative;
		border-radius: u.Rem(4px);
		padding-bottom: max(u.Rem(2px), .1em);
	}
}

@keyframes textShine {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}