$small-screen: 650px;

.article {
    > :not(:first-child) {
        margin-top: 1em;
    }

    & :is(p, li) {
        text-align: justify;
    }

    & h2 {
        font-size: var(--font-size-m);
        font-weight: 500;

        &:target {
            color: rgb(var(--color-accent));
        }
    }

    & :is(ul, ol) {
        margin-left: 2em;
    }

    & a {
        text-decoration: underline;
        border: 1px solid transparent;
        color: rgb(var(--color-accent));
        transition: all .2s;
        padding: 0 .2em;
        border-radius: .2em;

        @media (hover:hover) {
            &:hover {
                background-color: rgba(var(--color-accent), var(--opacity3));
                border-color: rgba(var(--color-accent), var(--opacity2));
            }
        }

        &:active {
            border-color: rgba(var(--color-accent), var(--opacity2));
            background-color: rgba(var(--color-accent), var(--opacity1));
        }
    }
}

.body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    height: 100dvh;
    max-height: 100dvh;

    @media (max-width: $small-screen) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    > main {
        flex: 1;
        padding-left: 2px;
        height: inherit;
        overflow: auto;

        @media (max-width: $small-screen) {
            width: 100%;
            height: 40px + 8px;
            padding-left: 0;
        }
    }
}

.dialog {
    width: 720px;
}

.dragHandle {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;

    @media (hover: hover) {
        &:hover {
            color: rgb(var(--color-accent));
            cursor: ew-resize;

            > div {
                opacity: 1;
                background-color: rgb(var(--color-accent));
            }
        }
    }

    &:active {
        color: rgb(var(--color-accent));
        cursor: ew-resize;

        > div {
            opacity: 1;
            background-color: rgb(var(--color-accent));
        }
    }

    @media (max-width: $small-screen) {
        display: none !important;
    }

    > div {
        transition: all .2s;
        min-width: 4px;
        min-height: calc(100% - 20px);
        border-radius: 2px;
        margin: 0 2px;
        pointer-events: none !important;
        background-color: rgba(var(--color-on-surface), var(--opacity-inv3));

        [data-corner=sharp] {
            border-radius: 0;
        }

        @media (hover: hover) {
            opacity: 0;
        }
    }
}

.editor {
    --h: calc(100dvh - 48px);
    display: flex;
    height: var(--h);
    max-height: var(--h);

    @media (max-width: $small-screen) {
        --h: calc(100dvh - 92px);
    }
}

.flex {
    display: none !important;

    @media (max-width: $small-screen) {
        display: flex;
        align-items: center;
        font-size: var(--font-size-xxs);
        font-weight: 600;
        flex: 1;
    }
}

.input {
    --i-border-radius: 16px;
    background-color: rgb(var(--color-surface));
    border: 1px solid rgba(var(--color-on-surface), var(--opacity1));
    border-bottom: none;
    border-radius: var(--i-border-radius) var(--i-border-radius) 0 0;
    overflow: hidden;
    height: 100%;
    max-height: inherit;

    [data-corner=sharp] & {
        --i-border-radius: 0;
    }

    [data-corner=semi-round] & {
        --i-border-radius: 8px;
    }

    &[data-hide] {
        display: none !important;
    }

    &[data-only] {
        width: 100%;
        border-radius: var(--i-border-radius) 0 0 0;
    }

    &:focus-within {
        outline: 2px solid rgb(var(--color-accent));
    }

    @media (max-width: $small-screen) {
        border-radius: 0 !important;
        border-left: none;
        border-right: none;
    }

    > textarea {
        width: 100%;
        border: none;
        height: 100%;
        max-height: inherit;
        overflow: auto;
        padding: 10px 12px;
        font-size: var(--font-size);
        font-weight: normal;
        font-family: var(--font-family-monospace);
        resize: none;

        &:focus {
            outline: none;
        }

        &::placeholder {
            color: rgba(var(--color-on-surface), var(--opacity-inv3));
        }

        &:not([data-text-wrap]) {
            white-space: pre;
            scroll-padding-left: 12px;
            scroll-padding-right: 12px;
        }
    }
}

.logo {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuBar {
    padding: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;

    @media (max-width: $small-screen) {
        flex-direction: row;
        height: fit-content;
        justify-content: flex-start;
        width: 100%;
    }
}

.output {
    --o-border-radius: 16px;

    flex: 1;
    background-color: rgb(var(--color-surface));
    border: 1px solid rgba(var(--color-on-surface), var(--opacity1));
    border-bottom: none;
    border-right: none;
    border-radius: var(--o-border-radius) 0 0 0;
    max-height: 100%;
    height: 100%;
    overflow: hidden;

    [data-corner=sharp] & {
        --o-border-radius: 0;
    }

    [data-corner=semi-round] & {
        --o-border-radius: 8px;
    }

    @media (max-width: $small-screen) {
        border-radius: 0 !important;
        border-left: none;
    }

    > iframe {
        border: none;
        width: 100%;
        height: 100%;

        &[data-hide] {
            display: none !important;
        }

        @media print {
            display: block;
        }
    }

    > div {
        padding: 10px 12px;
        max-height: 100%;
        width: 100%;
        height: 100%;
        overflow: auto;
        font-family: var(--font-family-monospace);
        font-size: var(--font-size);
        white-space: pre-wrap;

        &[data-hide] {
            display: none !important;
        }

        @media (max-width: $small-screen) {
            border-radius: 0 !important;
        }
    }
}

.tabs {
    display: flex;
    gap: 8px;
    padding: 4px 0;

    &[data-one-pane] {
        gap: 4px;
    }

    @media (max-width: $small-screen) {
        padding: 0 4px 4px 4px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    > div {
        display: flex;
        gap: 4px;

        @media (max-width: $small-screen) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}