@use '../../styles/units.scss' as u;

.c-modal {
	--c-modal-left: 0;
	--c-modal-top: 0;
	position: fixed;
	background-color: rgba(var(--g-color-surface), var(--g-opacity-glass));
	backdrop-filter: blur(var(--g-blur-glass));
	border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity3));
	border-radius: u.Rem(8px);
	left: var(--c-modal-left);
	max-height: calc(100dvh - u.Rem(16px));
	max-width: calc(100% - u.Rem(16px));
	width: max-content;
	outline: none;
	overflow: hidden;
	top: var(--c-modal-top);
	box-shadow: var(--g-elevation3);

	:root[data-theme=dark] & {
		border: u.Rem(1px) solid rgba(0, 0, 0, var(--g-opacity-inv5));
		background-color: rgba(46, 46, 46, var(--g-opacity-glass));
	}
	:root[data-theme=auto] & {
		@media (prefers-color-scheme: dark) {
			border: u.Rem(1px) solid rgba(0, 0, 0, var(--g-opacity-inv5));
			background-color: rgba(46, 46, 46, var(--g-opacity-glass));
		}
	}

	&::backdrop {
		background-color: transparent;
	}

	&:not([data-c-modal-draggable]) > .c-modal-draghandle {
		display: none;
	}

	&[data-c-modal-dragging] {
		will-change: top, left;
	}

	&[data-c-modal-focus] > .c-modal-content {
		outline-color: rgb(var(--g-color-accent));
		outline-width: u.Rem(4px);
		outline-offset: u.Rem(-4px);
		outline-style: solid;

		:root[data-animation=on] & {
			animation: c-modal-focus 1s infinite;
		}

		@media (prefers-reduced-motion: no-preference) {
			:root[data-animation=auto] & {
				animation: c-modal-focus 1s infinite;
			}
		}
	}
}

.c-modal-content {
	position: relative;
	max-height: inherit;
	max-width: 100%;
	overflow: auto;
	width: 100%;
	border-radius: inherit;
}

.c-modal-draghandle {
	--c-modal-draghandle-border-radius: #{u.Rem(16px)};
	--c-modal-draghandle-width-base: calc(100% - (var(--c-modal-draghandle-border-radius) * 2));
	--c-modal-draghandle-width: calc(var(--c-modal-draghandle-width-base) + #{u.Rem(32px)});
	--c-modal-draghandle-width-hover: calc(var(--c-modal-draghandle-width-base) + #{u.Rem(8px)});

	touch-action: none;
	width: min(u.Rem(64px), var(--c-modal-draghandle-width));
	height: u.Rem(4px);
	position: absolute;
	top: u.Rem(4px);
	left: 50%;
	transform: translateX(-50%);
	box-shadow: var(--g-elevation2);
	touch-action: none !important;
	z-index: 5;
	border-radius: u.Rem(999px);
	background-color: rgb(var(--g-color-accent));
	transition-duration: var(--g-duration-transition);

	@media (hover: hover) {
		&:hover {
			cursor: grab;
			width: min(u.Rem(88px), var(--c-modal-draghandle-width-hover));
			height: u.Rem(8px);
		}
	}

	&:active {
		cursor: grabbing;
		height: u.Rem(8px);
		width: min(u.Rem(80px), calc(var(--c-modal-draghandle-width-hover) - u.Rem(16px)));
	}
}

@keyframes c-modal-focus {
	0% {outline-color: rgba(var(--g-color-on-surface), var(--g-opacity2))}
	10% {outline-color: rgb(var(--g-color-accent))}
	20% {outline-color: rgba(var(--g-color-on-surface), var(--g-opacity2))}
	30% {outline-color: rgb(var(--g-color-accent))}
	40% {outline-color: rgba(var(--g-color-on-surface), var(--g-opacity2))}
	50% {outline-color: rgb(var(--g-color-accent))}
	60% {outline-color: rgba(var(--g-color-on-surface), var(--g-opacity2))}
	70% {outline-color: rgb(var(--g-color-accent))}
	80% {outline-color: rgba(var(--g-color-on-surface), var(--g-opacity2))}
	90% {outline-color: rgb(var(--g-color-accent))}
	100% {outline-color: rgba(var(--g-color-on-surface), var(--g-opacity2))}
}