.c-modal {
	position: fixed;
	background-color: rgb(var(--g-color-surface));
	border: 1px solid rgba(var(--g-color-on-surface), var(--g-opacity3));
	box-sizing: content-box;
	border-radius: 12px;
	left: 0;
	max-height: calc(100dvh - 16px);
	max-width: calc(100% - 16px);
	opacity: 0;
	width: max-content;
	outline: none;
	overflow: hidden;
	top: 0;
	box-shadow: var(--g-elevation3);
	transition-property: opacity;

	:root[data-animation=on] & {
		transition-duration: .2s;
	}

	:root[data-corner=sharp] & {border-radius: 0}
	:root[data-corner=semi-round] & {border-radius: 8px}
	:root[data-corner=full-round] & {border-radius: 20px}
	:root[data-theme=dark] & {
		border: 1px solid rgba(0, 0, 0, var(--g-opacity-inv5));
		background-color: rgb(46, 46, 46);
	}
	:root[data-theme=system] & {
		@media (prefers-color-scheme: dark) {
			border: 1px solid rgba(0, 0, 0, var(--g-opacity-inv5));
			background-color: rgb(46, 46, 46);
		}
	}

	&::backdrop {
		background-color: transparent;
	}

	&[data-c-open] {
		opacity: 1;
	}

	&[data-c-open-done] {
		transition-property: all;
	}

	&[data-c-drag] {
		transition-property: all, top, left;

		:root[data-animation=on] & {
			transition-duration: .2s, 0s, 0s;
		}
	}

	&[data-c-focus] > div {
		outline-color: rgb(var(--g-color-accent));
		outline-width: 4px;
		outline-offset: -4px;
		outline-style: solid;

		:root[data-animation=on] & {
			animation: flyout-focus 1s infinite;
		}
	}

	> div {
		position: relative;
		max-height: inherit;
		max-width: 100%;
		overflow: auto;
		width: 100%;
		border-radius: inherit;
	}
}

.c-modal-drag-handle {
	--c-modal-drag-handle-border-radius: 16px;
	--c-modal-drag-handle-width-base: calc(100% - calc(var(--c-modal-drag-handle-border-radius) * 2));
	--c-modal-drag-handle-width: calc(var(--c-modal-drag-handle-width-base) + 32px);
	--c-modal-drag-handle-width-hover: calc(var(--c-modal-drag-handle-width-base) + 8px);

	width: min(64px, var(--c-modal-drag-handle-width));
	height: 4px;
	position: absolute;
	top: 4px;
	left: 50%;
	transform: translateX(-50%);
	box-shadow: var(--g-elevation2);
	touch-action: none !important;
	z-index: 5;
	border-radius: 999px;
	background-color: rgb(var(--g-color-accent));

	:root[data-animation=on] & {
		transition-duration: .2s;
	}

	:root[data-corner=sharp] & {
		--c-modal-drag-handle-border-radius: 0px;
		border-radius: 0px;
	}

	:root[data-corner=semi-round] & {
		--c-modal-drag-handle-border-radius: 8px;
	}

	:root[data-corner=full-round] & {
		--c-modal-drag-handle-border-radius: 20px;
	}

	@media (hover: hover) {
		&:hover {
			cursor: grab;
			width: min(88px, var(--c-modal-drag-handle-width-hover));
			height: 8px;
		}
	}

	&:active {
		cursor: grabbing;
		height: 8px;
		width: min(80px, calc(var(--c-modal-drag-handle-width-hover) - 16px));
	}
}

.c-modal-portal-placeholder {
	display: contents;

	// extra div of <Portal> by SolidJS
	> div {
		display: inherit;
	}
}