

.content {
	--percentage: 70%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	background-color: transparent !important;

	&::before {
		content: '';
		box-sizing: border-box;
		display: block;
		background: conic-gradient(
			from 270deg at center,
			rgb(var(--br-theme-color-accent)) 0% var(--percentage),
			rgb(var(--br-theme-color-surface)) var(--percentage) 100%
		);
		background-color: rgb(var(--br-theme-color-surface));
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		border-radius: max(8vmin, 2rem);
	}

	&::after {
		--border: max(2vmin, .5rem);
		content: '';
		box-sizing: border-box;
		display: block;
		background-color: rgb(var(--br-theme-color-surface));
		z-index: 2;
		position: absolute;
		width: calc(100% - var(--border) * 2);
		height: calc(100% - var(--border) * 2);
		border-radius: max(6vmin, 1.5rem);
	}

	> h1 {
		font-size: 20vmin;
		line-height: 1;
		font-weight: 900;
		position: relative;
		z-index: 3;
	}

	> [data-css=status] {
		color: #000;
		z-index: 3;
		font-weight: bold;
		border-radius: 9999999px;
		margin-top: max(4vmin, 1rem);
		padding: max(1.5vmin, .5rem) max(3vmin, 1rem);
		font-size: max(3vmin, 1.5rem);
		background: linear-gradient(
			to right,
			#FFFF00 0%,
			#00FFFF 50%,
			#FFFF00 100%
		);
		background-size: 500% auto;

		br-theme[br\:animation=on] & {
			animation: text-shine 2.5s ease-in-out infinite alternate;
		}

		@media (prefers-reduced-motion: no-preference) {
			br-theme:is([br\:animation=auto],:not([br\:animation])) & {
				animation: text-shine 2.5s ease-in-out infinite alternate;
			}
		}
	}
}

@keyframes text-shine {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

.main {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr min(75dvw, calc(100% - 4rem)) 1fr;
	grid-template-rows: 1fr min(75dvh, calc(100% - 4rem)) 1fr;
	gap: max(1vmin, .5rem);
	height: 100dvh;

	> div {
		background-color: rgba(var(--br-theme-color-on-surface), .12);
		height: 100%;
		border-radius: max(8vmin, 2rem);
	}
}