---
import Buttons from './_pages/_UIButtons.astro'
import CheckBox from './_pages/_UICheckBox.astro'
import CSS from '../_index.module.scss'
---

<main class={CSS.body}>
	<Buttons/>
	<CheckBox/>
</main>