---
import { joinClassList } from '@/utils/attributes'
import {type DrawerButtonProps, CDrawer} from '.'
import Button from '@/components/Button/index.astro'
import './index.scss'

type Props = DrawerButtonProps

const {
	'class': className,
	DrawerButtonSelected,
	...other
} = Astro.props

const cls = CDrawer.Classes
---

<Button
	class={joinClassList(cls.button, className)}
	data-c-drawer-button-selected={DrawerButtonSelected? '' : undefined}
	{...other}><slot/></Button>