@use '../../styles/units.scss' as u;

.c-drawer {
	max-width: u.Rem(280px);
	max-height: calc(100dvh - u.Rem(16px));
	height: calc(100dvh - u.Rem(16px));
	width: u.Rem(280px);
	min-width: u.Rem(280px);
	position: fixed;
	background-color: rgba(var(--g-color-surface), var(--g-opacity-glass));
	backdrop-filter: blur(var(--g-blur-glass));
	border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity3));
	border-radius: u.Rem(8px);
	left: u.Rem(8px);
	box-shadow: var(--g-elevation3);
	width: max-content;
	outline: none;
	overflow: hidden;
	top: u.Rem(8px);
	translate: calc(-100% - u.Rem(8px)) 0;
	transition-timing-function: var(--g-transition-spring-inverse);
	transition-property: display, overlay, translate;
	transition-duration: var(--g-duration-transition);
	transition-behavior: allow-discrete;

	&:popover-open {
		translate: 0 0;
		transition-timing-function: var(--g-transition-spring);
	}

	&::backdrop {
		background-color: transparent;
	}

	:root[data-theme=dark] & {
		border: u.Rem(1px) solid rgba(0, 0, 0, var(--g-opacity-inv5));
		background-color: rgba(46, 46, 46, var(--g-opacity-glass));
	}
	:root[data-theme=auto] & {
		@media (prefers-color-scheme: dark) {
			border: u.Rem(1px) solid rgba(0, 0, 0, var(--g-opacity-inv5));
			background-color: rgba(46, 46, 46, var(--g-opacity-glass));
		}
	}
}

@starting-style {
	.c-drawer{
		&:popover-open {
			translate: calc(-100% - u.Rem(8px)) 0;
		}

	}
}

.c-drawer-button.c-button {
	justify-content: flex-start;
	position: relative;

	&::before {
		content: '';
		display: block;
		background-color: rgb(var(--g-color-accent));
		position: absolute;
		left: u.Rem(1px);
		width: u.Rem(3px);
		top: 50%;
		opacity: 0;
		transform: translateY(-50%);
		height: u.Rem(3px);
		border-radius: u.Rem(999px);
		transition-property: height;
		transition-duration: var(--g-duration-transition);
	}

	&[data-c-drawer-button-selected]::before {
		opacity: 1;
		height: max(50%, u.Rem(3px));
	}
}

.c-drawer-container {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: flex-start;
	max-height: inherit;
	max-width: 100%;
	overflow: auto;
	gap: u.Rem(4px);
	border-radius: inherit;
	padding: u.Rem(4px);
	width: 100%;
	height: 100%;
}

.c-drawer-content {
	flex: 1;
	overflow: auto;
	display: inherit;
	flex-direction: inherit;
	gap: inherit;
	height: inherit;
	width: 100%;
	max-width: inherit;
	max-height: 100%;
}

.c-drawer-footer {
	display: contents;
}

.c-drawer-header {
	display: contents;
}