.drawer {
    background-color: rgb(var(--color-surface));
    border: none;
    border-radius: 0 12px 12px 0;
    width: 360px;
    height: var(--max-h);
    box-shadow: var(--elevation3);
    left: 0;
    max-height: 100dvh;
    max-width: min(360px, calc(100% - 80px));
    overflow: hidden;
    top: 0;
    outline: none;
    transform: translateX(-100%);
    transition-duration: .3s;

    [data-corner=sharp] & {
        border-radius: 0;
    }

    [data-corner=semi-round] & {
        border-radius: 0 8px 8px 0;
    }

    &::backdrop {
        background-color: transparent;
        transition-duration: .3s;
    }

    &[data-right] {
        left: auto;
        right: 0;
        transform: translateX(100%);
        border-radius: 12px 0 0 12px;

        [data-corner=semi-round] & {
            border-radius: 8px 0 0 8px;
        }
    }

    &[data-open] {
        transform: translateX(0%);

        &::backdrop {
            background-color: rgb(0 0 0 / var(--opacity-inv3));
        }
    }

    &[data-focus] > div {
        outline-color: rgb(var(--color-accent));
        outline-width: 4px;
        outline-offset: -4px;
        animation: flyout-focus 1s;
    }

    > div {
        max-height: inherit;
        max-width: 100%;
        width: 100%;
        overflow: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100dvh;
        outline: 1px solid rgba(var(--color-on-surface), var(--opacity2));
        outline-offset: -1px;
        border-radius: inherit;

        > div:empty {
            display: none;
        }
    }
}


.drawer-actions {
    align-items: center;
    background-color: rgb(var(--color-surface));
    border-top: 1px solid rgba(var(--color-on-surface), var(--opacity2));
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    padding: 16px;
    position: sticky;
    z-index: 10;

    > * {
        flex: 1 1 100px;
    }
}

.drawer-content {
    padding: 16px;
    flex: 1;
    
    > .btn {
        justify-content: flex-start;

        &:not(:last-child) {
            margin-bottom: 4px;
        }
    }
}

.drawer-header {
    background-color: rgb(var(--color-surface));
    font-size: var(--font-size-xm);
    font-weight: 500;
    padding: 16px 16px 0 16px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 8px;

    > div {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 8px;
    }
}