.c-modal.c-drawer {
	background-color: rgb(var(--g-color-surface)) !important;
	border-radius: 0 12px 12px 0;
	height: 100dvh;
	box-shadow: var(--g-elevation5);
	max-height: 100dvh;
	width: 280px;
	max-width: min(280px, calc(100% - 80px));
	opacity: 1;
	transform: translateX(-100%);

	:root[data-platform=mobile] & {
		width: 360px;
		max-width: min(360px, calc(100% - 80px));
	}
	:root[data-corner=sharp] & { border-radius: 0 }
	:root[data-corner=semi-round] & { border-radius: 0 8px 8px 0 }
	:root[data-corner=full-round] & { border-radius: 0 24px 24px 0 }

	&[data-c-right] {
		transform: translateX(100%);
		border-radius: 12px 0 0 12px;
		:root[data-corner=semi-round] & { border-radius: 8px 0 0 8px }
		:root[data-corner=full-round] & { border-radius: 24px 0 0 24px }
	}

	&::backdrop {
		transition-duration: .2s;
	}

	&[data-c-open]{
		transform: none;

		&::backdrop {
			background-color: rgba(0, 0, 0, var(--g-opacity-inv5));
		}
	}

	> div {
		overflow: hidden;
		display: flex;
		gap: 4px;
		flex-direction: column;
		height: 100%;
		align-items: flex-start;
	}
}

.c-drawer-footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 8px;

	&:empty {
		display: none;
	}
}

.c-drawer-content {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 8px;
	flex: 1;
	max-height: 100%;
	width: 100%;
	overflow: auto;
}

.c-drawer-header {
	width: 100%;
	font-size: var(--g-font-size-m);
	font-weight: 500;
	padding: 8px 8px 0 8px;
	min-height: 40px;
	display: flex;
	align-items: center;
	gap: 4px;

	&:empty {
		display: none;
	}
}

.c-btn.c-drawer-item {
	justify-content: flex-start;
	width: 100%;
	white-space: nowrap;

	&[data-c-selected] > .c-icon:first-child {
		color: rgb(var(--g-color-accent));
	}
}