---
import { joinClassList } from '@/utils/attributes'
import {type DrawerProps, CDrawer} from '.'
import './index.scss'

type Props = DrawerProps
const {
	'class': className,
	popover = 'auto',
	DrawerContainerAttr,
	DrawerHeaderAttr,
	DrawerContentAttr,
	DrawerFooterAttr,
	...other
} = Astro.props
const {'class': containerClass, ...containerOther} = DrawerContainerAttr ?? {}
const {'class': headerClass   , ...headerOther   } = DrawerHeaderAttr    ?? {}
const {'class': contentClass  , ...contentOther  } = DrawerContentAttr   ?? {}
const {'class': footerClass   , ...footerOther   } = DrawerFooterAttr    ?? {}

const cls = CDrawer.Classes
---

<div
	class={joinClassList(cls.drawer, className)}
	popover={popover}
	{...other}>
	<div
		class={joinClassList(cls.container, containerClass)}
		{...containerOther}>
		<div
			class={joinClassList(cls.header, headerClass)}
			{...headerOther}><slot name="header"/></div>
		<div
			class={joinClassList(cls.content, contentClass)}
			{...contentOther}><slot/></div>
		<div
			class={joinClassList(cls.footer, footerClass)}
			{...footerOther}><slot name="footer"/></div>
	</div>
</div>