.c-modal.c-datetime-picker {
	min-width: 320px;
	max-width: 320px;

	> div {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
	}
}

.c-datetime-picker-actions {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	padding: 12px;
	background-color: rgb(var(--g-color-background));
	border-top: 1px solid rgba(var(--g-color-on-surface), var(--g-opacity2));
}

.c-datetime-picker-days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 1px;
	padding: 0 12px 12px 12px;

	> .c-btn.c-square-btn {
		max-width: 100%;
	}
}

.c-datetime-picker-days-name {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 1px;
	min-height: 40px;
	max-height: 40px;
	padding: 12px 12px 1px 12px;
	align-items: center;

	:root[data-platform=desktop] & {
		min-height: 36px;
		max-height: 36px;
	}

	> p {
		min-width: 40px;
		max-width: 100%;
		text-align: center;
		font-size: var(--g-font-size-xs);
		color: rgb(var(--g-color-accent));

		:root[data-platform=desktop] & { min-width: 36px }
		:root[data-platform=mobile] & { font-weight: 500 }
	}
}

.c-datetime-picker-header {
	display: flex;
	align-items: center;
	gap: 1px;
	padding: 12px;

	> .c-btn:first-child {
		flex: 1;
		justify-content: flex-start;
	}
}

.c-datetime-picker-month {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1px;
	height: 100%;
	padding: 12px 12px 8px 12px;
}

.c-datetime-picker-time {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 8px;
	padding: 0 12px 12px 12px;
}

.c-datetime-picker-year {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1px;
	height: calc(100% - 4px);
	padding: 12px 12px 8px 12px;
}