@use '../../../styles/units.scss' as u;

$SMALL_SCREEN: u.Rem(650px);

.body {
	display: flex;
	height: 100%;
	gap: u.Rem(8px);

	@media (max-width: $SMALL_SCREEN) {
		flex-direction: column;
		gap: u.Rem(16px);
	}

	> div:not(.bodySlider) {
		width: 100%;
		padding: u.Rem(16px);
		padding-top: 0;
		display: flex;
		flex-direction: column;
		gap: u.Rem(4px);

		&:first-child {
			padding-right: 0;

			@media (max-width: $SMALL_SCREEN) {
				padding: u.Rem(16px) u.Rem(16px) 0 u.Rem(16px);
				min-width: 100% !important; // override inline style
				max-width: 100% !important; // override inline style
			}
		}

		&:last-child {
			padding-left: 0;

			@media (max-width: $SMALL_SCREEN) {
				padding: 0 u.Rem(16px) u.Rem(16px) u.Rem(16px);
			}
		}
	}

	& label {
		display: block;
	}

	& textarea {
		width: 100%;
		font-family: var(--g-font-family-monospace);
		flex: 1;
		font-size: var(--g-font-size-xs);
		resize: none;
		padding: u.Rem(8px) u.Rem(10px);
		border-radius: u.Rem(4px);
		background-color: rgba(var(--g-color-on-surface), var(--g-opacity2));
		border: u.Rem(2px) solid transparent;
		border-bottom-color: rgb(var(--g-color-accent));
		outline: none;

		&:focus {
			border-color: rgb(var(--g-color-accent));
		}

		:root[data-animation=on] & {
			transition-property: background-color, border-color;
			transition-duration: .25s;
		}

		@media (prefers-reduced-motion: no-preference) {
			:root[data-animation=auto] & {
				transition-property: background-color, border-color;
				transition-duration: .25s;
			}
		}

		@media (max-width: $SMALL_SCREEN) {
			min-height: calc(100dvh - u.Rem(164px));
		}

		&:hover:not(:focus) {
			--c: rgba(var(--g-color-accent), var(--g-opacity-inv5));
			border-top-color: var(--c);
			border-left-color: var(--c);
			border-right-color: var(--c);
		}

		&:not([data-text-wrap]) {
			white-space: pre;
			scroll-padding-left: u.Rem(8px);
			scroll-padding-right: u.Rem(8px);
		}
	}
}

.bodySlider {
	min-width: u.Rem(4px);
	max-width: u.Rem(4px);
	margin-top: u.Rem(24px);
	height: calc(100% - u.Rem(40px));
	opacity: 0;
	cursor: ew-resize;
	background-color: rgb(var(--g-color-accent));
	border-radius: u.Rem(999px);

	:root[data-animation=on] & {
		transition-property: opacity;
		transition-duration: .25s;
	}

	@media (prefers-reduced-motion: no-preference) {
		:root[data-animation=auto] & {
			transition-property: opacity;
			transition-duration: .25s;
		}
	}

	@media (max-width: $SMALL_SCREEN) {
		display: none;
	}

	&:hover {
		opacity: 1;
	}
}