.modal.date-picker {
	box-shadow: var(--elevation1);
	min-width: 320px;
	max-width: 320px;

	> div {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
	}
}

.date-picker-days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 1px;
	padding: 0 12px 12px 12px;

	> .btn.square-btn {
		max-width: 100%;
	}
}

.date-picker-days-name {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 1px;
	min-height: 40px;
	max-height: 40px;
	padding: 12px 12px 1px 12px;
	align-items: center;

	:root[data-platform=desktop] & {
		min-height: 36px;
		max-height: 36px;
	}

	> p {
		min-width: 40px;
		max-width: 100%;
		text-align: center;
		font-size: var(--font-size-xs);
		color: rgb(var(--color-accent));

		:root[data-platform=desktop] & { min-width: 36px }
		:root[data-platform=mobile] & { font-weight: 500 }
	}
}

.date-picker-header {
	display: flex;
	align-items: center;
	gap: 1px;
	padding: 12px;

	> .btn:first-child {
		flex: 1;
		justify-content: flex-start;
	}
}

.date-picker-month {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1px;
	padding: 12px;
	height: 100%;
}

.date-picker-year {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1px;
	padding: 12px;
	height: calc(100% - 4px);
}