---
import { attrClassList } from '@/utils/attributes'
import { ListClasses, type ListProps } from '.'

import './index.scss'

type Props = ListProps

const {
	'class': className,
	ListTagName         = 'div',
	ListLeadingAttr     = {},
	ListTrailingAttr    = {},
	ListContentAttr     = {},
	ListDescriptionAttr = {},
	...other
} = Astro.props
const {'class': leadingClassName    , ...leadingOther    } = ListLeadingAttr
const {'class': trailingClassName   , ...trailingOther   } = ListTrailingAttr
const {'class': contentClassName    , ...contentOther    } = ListContentAttr
const {'class': descriptionClassName, ...descriptionOther} = ListDescriptionAttr
const Dynamic = ListTagName as 'div'

---
<Dynamic class={attrClassList(ListClasses.list, className)} {...other}>
	<div class={attrClassList(ListClasses.leading, leadingClassName)} {...leadingOther}>
		<slot name='leading'/>
	</div>
	<div class={attrClassList(ListClasses.content, contentClassName)} {...contentOther}>
		<slot/>
		{Astro.slots.has('description') &&
			<div
				class={attrClassList(ListClasses.description, descriptionClassName)}
				{...descriptionOther}>
				<slot name='description'/>
			</div>
		}
	</div>
	<div class={attrClassList(ListClasses.trailing, trailingClassName)} {...trailingOther}>
		<slot name='trailing'/>
	</div>
</Dynamic>