---
import { attrClassList } from '@/utils/attributes'
import { ListClasses, type ListProps } from '.'

import './index.scss'

type Props = ListProps

const {
	'class': className,
	ListTagName      = 'div',
	ListLeadingAttr  = {},
	ListTrailingAttr = {},
	ListContentAttr  = {},
	ListSubtitleAttr = {},
	...other
} = Astro.props
const {'class': leadingClassName , ...leadingOther } = ListLeadingAttr
const {'class': trailingClassName, ...trailingOther} = ListTrailingAttr
const {'class': contentClassName , ...contentOther } = ListContentAttr
const {'class': subtitleClassName, ...subtitleOther} = ListSubtitleAttr
const Dynamic = ListTagName as 'div'

---
<Dynamic class={attrClassList(ListClasses.list, className)} {...other}>
	<div class={attrClassList(ListClasses.leading, leadingClassName)} {...leadingOther}>
		<slot name='leading'/>
	</div>
	<div class={attrClassList(ListClasses.content, contentClassName)} {...contentOther}>
		<slot/>
		{Astro.slots.has('subtitle') &&
			<div
				class={attrClassList(ListClasses.subtitle, subtitleClassName)}
				{...subtitleOther}>
				<slot name='subtitle'/>
			</div>
		}
	</div>
	<div class={attrClassList(ListClasses.trailing, trailingClassName)} {...trailingOther}>
		<slot name='trailing'/>
	</div>
</Dynamic>