---
import { attrClassList } from '@/utils/attributes'

import {
	ListClasses,
	type ListProps
} from '.'

import './index.scss'

type Props = ListProps
const {
	'class': className,
	ListVariant,
	ListTagName      = 'div',
	ListLeadingAttr  = {},
	ListTrailingAttr = {},
	ListContentAttr  = {},
	ListSubtitleAttr = {},
	...other
} = Astro.props
const {'class': leadingClass , ...leadingOther } = ListLeadingAttr
const {'class': trailingClass, ...trailingOther} = ListTrailingAttr
const {'class': contentClass , ...contentOther } = ListContentAttr
const {'class': subtitleClass, ...subtitleOther} = ListSubtitleAttr
const Dynamic = ListTagName as 'div'

---
<Dynamic
	class={attrClassList(ListClasses.list, className)}
	data-c-list-variant={ListVariant}
	{...other}>
	<div class={attrClassList(ListClasses.leading, leadingClass)} {...leadingOther}>
		<slot name='leading'/>
	</div>
	<div class={attrClassList(ListClasses.content, contentClass)} {...contentOther}>
		<slot/>
		{Astro.slots.has('subtitle') &&
			<div
				class={attrClassList(ListClasses.subtitle, subtitleClass)}
				{...subtitleOther}>
				<slot name='subtitle'/>
			</div>
		}
	</div>
	<div class={attrClassList(ListClasses.trailing, trailingClass)} {...trailingOther}>
		<slot name='trailing'/>
	</div>
</Dynamic>