---
import { ComboBoxClasses, type ComboBoxOptionProps } from '.'
import { joinClassList } from '@/utils/attributes'
import { ButtonClasses } from '../Button'
import './index.scss'

type Props = ComboBoxOptionProps
const {
	'class': className,
	...other
} = Astro.props
---
<option
	class={joinClassList(ButtonClasses.button, ComboBoxClasses.option, className)}
	{...other}>
	<slot />
</option>