---
import CSS from './index.module.scss'

type Props = astroHTML.JSX.HTMLAttributes & {
	classList?: string[]
	isDiv?: boolean
}

const { classList, isDiv, ...attr } = Astro.props
---

{ isDiv
	? <div class:list={[CSS.main, ...(classList ?? [])]} {...attr}><slot /></div>
	: <main class:list={[CSS.main, ...(classList ?? [])]} {...attr}><slot /></main>
}