.c-emojipicker {
	width: 280px;
}

.c-emojipicker-content {}

.c-emojipicker-divider {
	margin-bottom: 8px;
}

.c-emojipicker-emoji {
	padding: 0;
	height: min-content;
	font-size: 20px;
}

.c-emojipicker-form {
	display: contents;
}

.c-emojipicker-group {
	flex: 1;
	min-height: 186px;
	max-height: 186px;
	overflow: auto;
	gap: 4px;
	padding: 0 10px 10px 10px;
	grid-template-columns: repeat(auto-fill, minmax(32px, 1fr));
	grid-template-rows: repeat(6, 1fr);

	&:not([hidden]){
		display: grid;
	}
}

.c-emojipicker-group-recent {
	overflow: hidden;
}

.c-emojipicker-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4px 6px 8px 16px;
}

.c-emojipicker-header-button {}

.c-emojipicker-header-text {}

.c-emojipicker-search {
	margin: 0 16px 8px 16px;
	padding-right: 4px;

	> input {
		width: 100%;
		padding-right: 0;
	}
}

.c-emojipicker-search-button {}

.c-emojipicker-tab {
	position: relative;

	&[hidden] {
		display: none;
	}

	&::before {
		content: '';
		display: block;
		background-color: rgb(var(--g-color-accent));
		position: absolute;
		bottom: 0px;
		height: 3px;
		left: 50%;
		opacity: 0;
		transform: translateX(-50%);
		width: 3px;
		border-radius: 999px;

		:root[data-animation=on] & {
			transition-duration: .2s;
			transition-property: width;
		}

		@media (prefers-reduced-motion: no-preference) {
			:root[data-animation=auto] & {
				transition-duration: .2s;
				transition-property: width;
			}
		}
	}

	&[aria-selected=true]{
		color: rgb(var(--g-color-accent));

		&::before {
			opacity: 1;
			width: max(50%, 3px);
		}
	}
}

.c-emojipicker-tabs {
	display: flex;
	align-items: center;
	overflow: auto;
	padding: 0 6px;
	gap: 4px;
	margin-bottom: 8px;
}

.c-emojipicker-title {
	padding: 0 16px 8px 16px;
	font-size: var(--g-font-size-xs);
	font-weight: normal;
}

.c-emojipicker-tooltip {}