---
import Dialog from '@/components/Dialog/index.astro'
import Button from '@/components/Button/index.astro'
import LinkButton from '@/components/Button/LinkButton.astro'
import { ButtonVariant } from '@/components/Button/'
import { Links } from '../_scripts/_shared/_enums'
import { ElementIds } from '../_scripts/_shared/_ids'
---

<Dialog id={ElementIds.dlg_browseNotSupported} style="width:500px">
	<Fragment slot="header">Browser not supported</Fragment>
	<p>Battery API not fully supported in your browser. Some features may not function correctly.</p>
	<form method="dialog" slot="footer" style="display:contents">
		<Button ButtonVariant={ButtonVariant.tonal}>Close</Button>
		<LinkButton
			href={Links.compatibility}
			LinkButtonNewTab
			LinkButtonVariant={ButtonVariant.filled}>
			Check browser
		</LinkButton>
	</form>
</Dialog>