@use '_size.scss';

.notebook {
    min-width: 360px;
    max-width: 360px;
    height: 100%;
    padding: 8px 8px 0 0;
    transition-duration: .3s;
    overflow: hidden;
    
    &:not([data-expand]) {
        min-width: 0;
        max-width: 0;
        padding: 8px 0 0 0;
    }

    @media (max-width: size.$side_notebook_none) {
        display: none !important;
    }
    
    & textarea {
        height: calc(100dvh - 96px) !important;
        max-height: calc(100dvh - 96px);
        min-width: 360px - 32px !important;
        max-width: 360px - 32px !important;
    }
}