.c-checkbox {
	display: flex;
	font-size: var(--g-font-size-xs);
	gap: 4px;
	align-items: center;
	user-select: none;
	transition-duration: .3s;

	> input {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		display: contents;

		&:focus-visible + .c-btn {
			outline: auto;
		}
	}

	& * {
		pointer-events: none;
		user-select: none;
	}

	&[data-c-disabled] {
		color: rgba(var(--g-color-on-surface), var(--g-opacity5));
		cursor: not-allowed;

		& * {
			cursor: not-allowed;
		}
	}

	&:not([data-c-disabled]) {
		@media (hover: hover) {
			&:hover {
				cursor: pointer;

				& * {
					cursor: pointer;
				}

				> .c-btn {
					--g-background-color-opacity: var(--g-opacity1);
				}
			}
		}

		&:active > .c-btn {
			--g-background-color-opacity: var(--g-opacity0);
			--c-btn-border-opacity: var(--g-opacity1);
		}

		> .c-btn > div > .c-icon {
			color: rgb(var(--g-color-accent));
		}
	}
}