@use '../../styles/units.scss' as u;

.c-sidebar {
	display: flex;
	flex-direction: column;
	gap: u.Rem(4px);
	height: 100%;
	width: u.Rem(280px);
	padding: u.Rem(4px);
	max-width: u.Rem(280px);
	max-height: 100%;
	overflow-x: hidden;
	transition-property: width, max-width;
	transition-duration: var(--g-duration-transition);

	&[data-c-sidebar-minimized] {
		width: u.Rem(50px);
		max-width: u.Rem(50px);
	}
}

.c-sidebar-content {
	flex: 1;
	overflow: auto;
	display: inherit;
	flex-direction: inherit;
	gap: inherit;
	height: inherit;
	width: 100%;
	max-width: inherit;
	max-height: 100%;
	overflow-x: hidden;
}

.c-sidebar-button.c-button {
	justify-content: flex-start;
	position: relative;

	&::before {
		content: '';
		display: block;
		background-color: rgb(var(--g-color-accent));
		position: absolute;
		left: u.Rem(1px);
		width: u.Rem(3px);
		top: 50%;
		opacity: 0;
		transform: translateY(-50%);
		height: u.Rem(3px);
		border-radius: u.Rem(999px);
		transition-property: height;
		transition-duration: var(--g-duration-transition);
	}

	&[data-c-sidebar-button-selected]::before {
		opacity: 1;
		height: max(50%, u.Rem(3px));
	}
}

.c-sidebar-button-leading {
}

.c-sidebar-button-content {
	flex: 1;
	display: inherit;
	gap: inherit;

	.c-sidebar[data-c-sidebar-minimized] & {
		display: none;
	}
}

.c-sidebar-footer,
.c-sidebar-header {
	display: contents;
}