---
import { joinClassList } from '@/utils/attributes'
import {type SideBarButtonProps, CSideBar} from '.'
import Button from '@/components/Button/index.astro'
import './index.scss'

type Props = SideBarButtonProps

const {
	'class': className,
	SideBarButtonSelected,
	SideBarButtonLeadingAttr = {},
	SideBarButtonContentAttr = {},
	...other
} = Astro.props
const {'class': leadingClass, ...leadingOther} = SideBarButtonLeadingAttr
const {'class': contentClass, ...contentOther} = SideBarButtonContentAttr

const cls = CSideBar.Classes
---

<Button
	class={joinClassList(cls.Button, className)}
	data-c-sidebar-button-selected={SideBarButtonSelected? '' : undefined}
	{...other}>
	{Astro.slots.has('leading') && <div
		class={joinClassList(cls.ButtonLeading, leadingClass)}
		{...leadingOther}><slot name="leading"/></div>
	}
	<div
		class={joinClassList(cls.ButtonContent, contentClass)}
		{...contentOther}><slot /></div>
</Button>