.dialog {
    --max-w: min(720px, calc(100% - 16px));
    --max-h: calc(100dvh - 16px);
    background-color: rgb(var(--color-sur));
    border: none;
    border-radius: 16px;
    width: max-content;
    box-shadow: var(--elevation3);
    left: 50%;
    max-height: var(--max-h);
    max-width: var(--max-w);
    opacity: 0;
    outline: 1px solid rgba(var(--color-on-sur), var(--opacity2));
    overflow: hidden;
    top: 50%;
    transform: translate(-50%, calc(-50% - 12px));
    transition: all .3s var(--transition-spring);

    [data-corner=sharp] & {
        border-radius: 0;
    }

    [data-corner=semi-round] & {
        border-radius: 8px;
    }

    [data-corner=full-round] & {
        border-radius: 44px;
    }

    &::backdrop {
        background-color: transparent;
        transition: all .3s var(--transition-spring);
    }

    &[data-open] {
        opacity: 1;
        transform: translate(-50%, -50%);

        &::backdrop {
            background-color: rgb(0 0 0 / var(--opacity-inv3));
        }
    }

    > div {
        max-height: inherit;
        max-width: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > div:empty {
            display: none;
        }
    }
}


.dialog-actions {
    width: 100%;
    align-items: center;
    background-color: rgba(var(--color-on-sur), var(--opacity1));
    border-top: 1px solid rgba(var(--color-on-sur), var(--opacity2));
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: flex-end;
    padding: 24px;

    > * {
        flex: 1 1 100px;
        max-width: 340px;
    }
}

.dialog-content {
    padding: 24px;
    flex: 1;
    max-height: 100%;
    overflow: auto;
}

.dialog-header {
    width: 100%;
    font-size: var(--font-size-xm);
    font-weight: 500;
    padding: 24px 24px 0 24px;
    display: flex;
    align-items: center;
    gap: 8px;

    &:not(:empty) + .dialog-content {
        padding-top: 8px !important;
    }

    > .btn {
        right: -10px;
    }
}