.c-modal.c-dialog {
	background-color: rgb(var(--g-color-surface)) !important;
	border-radius: 16px;
	width: max-content;
	box-shadow: var(--g-elevation5);
	transform: translate(-50%, -50%);
	transition-duration: .3s;

	:root[data-corner=sharp] & { border-radius: 0 }
	:root[data-corner=semi-round] & { border-radius: 8px }
	:root[data-corner=full-round] & { border-radius: 44px }

	&::backdrop {
		transition-duration: .3s;
	}

	&[data-c-open] {
		&::backdrop {
			background-color: rgba(0, 0, 0, var(--g-opacity-inv5));
		}
	}

	> div {
		overflow: hidden;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		> div:empty {
			display: none;
		}
	}
}

.c-dialog-actions {
	align-items: center;
	background-color: rgb(var(--g-color-background));
	border-top: 1px solid rgba(var(--g-color-on-surface), var(--g-opacity2));
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: flex-end;
	padding: 24px;

	> * {
		flex: 1 1 100px;
		max-width: 340px;

		&:first-child:last-child {
			max-width: 100%;
		}
	}
}

.c-dialog-content {
	padding: 24px;
	flex: 1;
	max-height: 100%;
	width: 100%;
	overflow: auto;
}

.c-dialog-header {
	width: 100%;
	font-size: var(--g-font-size-m);
	font-weight: 500;
	padding: 24px 24px 0 24px;
	display: flex;
	align-items: center;
	gap: 8px;

	&:not(:empty) + .c-dialog-content {
		padding-top: 8px !important;
	}
}