---
import { joinClassList } from '@/utils/attributes'
import {type TextFieldProps, CTextField} from '.'
import './index.scss'

type Props = TextFieldProps
const {
	'class': className,
	TextFieldInputAttr    = {},
	TextFieldLeadingAttr  = {},
	TextFieldTrailingAttr = {},
	...other
} = Astro.props
const {'class': inputClass   , type: inputType = "text", ...inputOther} = TextFieldInputAttr
const {'class': leadingClass , ...leadingOther } = TextFieldLeadingAttr
const {'class': trailingClass, ...trailingOther} = TextFieldTrailingAttr

const cls = CTextField.Classes
---

<div
	class={joinClassList(cls.Textfield, className)}
	{...other}>
	<div
		class={joinClassList(cls.Leading, leadingClass)}
		{...leadingOther}><slot name="leading"/></div>
	<input
		type={inputType}
		class={joinClassList(cls.Input, inputClass)}
		{...inputOther}
	/>
	<div
		class={joinClassList(cls.Trailing, trailingClass)}
		{...trailingOther}><slot name="trailing"/></div>
</div>