@use '../../styles/units.scss' as u;

.c-textfield {
	display: flex;
	align-items: center;
	gap: u.Rem(8px);
	min-height: u.Rem(32px);
	border-radius: u.Rem(4px);
	background-color: rgba(var(--g-color-on-surface), var(--g-opacity2));
	border: u.Rem(2px) solid transparent;
	border-bottom-color: rgb(var(--g-color-accent));
	transition-property: background-color, border-color;
	transition-duration: var(--g-duration-transition);

	&:has( > .c-textfield-input:focus:read-write) {
		border-color: rgb(var(--g-color-accent));
	}

	&:has( > .c-textfield-input:not(:is(:read-only,:disabled)):user-invalid) {
		border-color: rgb(var(--g-color-error));
	}

	&:has( > .c-textfield-input:is(:read-only,:disabled)) {
		border-bottom-color: rgba(var(--g-color-on-surface), var(--g-opacity5));
	}

	&:has( > .c-textfield-input:read-write) {
		&:has( > .c-textfield-input:hover) {
			background-color: rgba(var(--g-color-on-surface), var(--g-opacity1));
		}

		&:has( > .c-textfield-input:active) {
			background-color: rgba(var(--g-color-on-surface), var(--g-opacity0));
		}
	}
}

.c-textfield-button {
	padding: 0 u.Rem(4px);
	min-height: u.Rem(24px);
}

.c-textfield-input {
	width: 100%;
	flex: 1;
	font-size: var(--g-font-size-xs);
	border: none;
	padding: 0 u.Rem(10px);
	outline: none;
	background-color: transparent;
	height: 100%;
	min-height: u.Rem(28px);

	&[type=number] {
		padding: 0 u.Rem(4px) 0 u.Rem(10px);
	}

	&::placeholder {
		color: rgba(var(--g-color-on-surface), .5);
	}
}

.c-textfield-leading {
	display: contents;
}

.c-textfield-trailing {
	display: contents;
}