---
import { joinClassList } from '@/utils/attributes'
import {type TextFieldButtonProps, CTextField} from '.'
import Button from '@/components/Button/index.astro'
import './index.scss'

type Props = TextFieldButtonProps
const {
	'class': className,
	...other
} = Astro.props

const cls = CTextField.Classes
---

<Button
	class={joinClassList(cls.button, className)}
	{...other}><slot/></Button>