@use '../../../styles/units.scss' as u;

$SCREEN_WIDTH_SMALL: u.Rem(700px);

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	max-height: 100%;
	overflow: auto;
	background-color: rgb(var(--g-color-surface));
	border-radius: u.Rem(8px) 0 0 0;
	border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity3));
	border-bottom: none;
	border-right: none;

	@media (max-width: $SCREEN_WIDTH_SMALL) {
		border: none;
		background-color: transparent;
	}
}

.bodyPage {
	width: 100%;
	height: 100%;
	overflow: auto;

	&[hidden] {
		display: none !important;
	}
}

.navigationSideBar {
	@media (max-width: $SCREEN_WIDTH_SMALL) {
		display: none !important;
	}
}

.pageGenerate {
	padding: u.Rem(16px);

	@media (max-width: $SCREEN_WIDTH_SMALL) {
		padding-top: u.Rem(8px);
		display: flex;
		flex-direction: column;
		align-items: center;

		> div {
			flex-direction: column;
			align-items: center;

			> div {
				position: relative;
				flex-direction: row !important;
				align-items: center !important;
				width: auto !important;

				> p {
					position: absolute;
					right: calc(100% + u.Rem(8px));
				}
			}
		}
	}

	& textarea {
		field-sizing: content;
		resize: none;

		@supports not (field-sizing: content) {
			resize: vertical;
		}
	}

	& canvas {
		min-width: u.Rem(280px);
		min-height: u.Rem(280px);
		max-width: u.Rem(280px);
		max-height: u.Rem(280px);
		border-radius: u.Rem(4px);
		box-shadow: var(--g-elevation2);
	}
}

.pageScan {
	padding: u.Rem(16px);

	@media (max-width: $SCREEN_WIDTH_SMALL) {
		padding-top: u.Rem(8px)
	}

	& img {
		width: min(u.Rem(280px), 100%);
		border-radius: u.Rem(4px);
		margin-top: u.Rem(16px);
	}

	& label {
		margin-top: u.Rem(8px);
	}

	& textarea {
		margin-top: u.Rem(2px);
		max-width: min(100%, u.Rem(720px));
		field-sizing: content;
		resize: none;

		@supports not (field-sizing: content) {
			resize: vertical;
		}
	}
}