---
import { GlobalElementIds } from '@/enums/ids'
---
<style lang="scss">
	@use '../../styles/units.scss' as u;

	.splash {
		z-index: 999;
		width: 100%;
		height: 100dvh;
		background-color: rgb(var(--g-color-background));
		position: fixed;
		left: 0;
		top: 0;
		flex-direction: column;
		gap: u.Rem(32px);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.splash > :global(svg) {
		width: u.Rem(108px) !important;
		height: u.Rem(108px) !important;
		animation: img-splash-start 1s var(--g-transition-spring);
	}

	.loading-indicator {
		display: block;
		width: u.Rem(108px) * 1.5;
		height: u.Rem(4px);
		max-width: calc(100% - u.Rem(32px));
		border-radius: u.Rem(4px);
		background-color: rgb(var(--g-color-accent));
		animation: loading 1s ease-in-out infinite;

		:root[data-animation=off] & {
			display: none;
		}

		@media (prefers-reduced-motion: reduce) {
			display: none;
		}
	}

	@keyframes loading {
		0% {
			clip-path: xywh(0 0 0 100% round u.Rem(4px));
		}
		50% {
			clip-path: xywh(0 0 100% 100% round u.Rem(4px));
		}
		100% {
			clip-path: xywh(100% 0 100% 100% round u.Rem(4px));
		}
	}
</style>
<div
	class="splash"
	id={GlobalElementIds.Splash}>
	<slot />
	<span class="loading-indicator"/>
</div>
<script>
	import { AnimationEasing } from "@/enums/animation"
	import { GlobalElementIds } from "@/enums/ids"
	import { isAnimationAllowed } from "@/utils/animation"

	window.addEventListener('load', () => {
		const splashRef = document.getElementById(GlobalElementIds.Splash)
		if (!splashRef) {
			return
		}

		if (!isAnimationAllowed()) {
			splashRef.remove()
			return
		}

		splashRef.animate({
			opacity: [1, 0],
		}, {duration: 800, easing: AnimationEasing.Spring}).finished.then(() => {
			splashRef.remove()
		})
	})
</script>