@use '../../../../styles/units.scss' as u;

.body {
	padding: u.Rem(8px) 0 0 0;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	> div {
		width: u.Rem(1080px);
		max-width: 100%;
		padding-top: u.Rem(16px);
	}
}

.bodyList {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr;
	width: u.Rem(1080px);
	max-width: 100%;
	padding: u.Rem(16px);

	&:not([data-text-wrap]) textarea {
		white-space: pre;
		scroll-padding-left: u.Rem(8px);
		scroll-padding-right: u.Rem(8px);
	}

	> li {
		overflow: auto;
		padding: u.Rem(16px);
		border: 1px solid rgba(var(--g-color-on-surface), var(--g-opacity2));
		border-radius: u.Rem(8px);
		background-color: rgb(var(--g-color-surface));
		position: relative;
		transition-duration: var(--g-duration-transition);

		&:not(:first-child) {
			margin-top: u.Rem(8px);
		}

		&::after {
			content: '';
			position: absolute;
			left: u.Rem(4px);
			top: 50%;
			opacity: 0;
			translate: 0 -50%;
			width: u.Rem(4px);
			height: calc(100% - u.Rem(16px * 2));
			border-radius: 999px;
			background-color: rgb(var(--g-color-accent));
			transition-duration: var(--g-duration-transition);
		}

		&:focus-within {
			padding-left: u.Rem(24px);

			&::after {
				left: u.Rem(4px);
				opacity: 1;
			}
		}

		> textarea {
			width: 100%;
			min-height: u.Rem(32px);
			font-family: var(--g-font-family-monospace);
			font-size: var(--g-font-size-xs);
			resize: none;
			field-sizing: content;
			padding: u.Rem(6px) u.Rem(10px);
			border-radius: u.Rem(4px);
			background-color: rgba(var(--g-color-on-surface), var(--g-opacity2));
			border: u.Rem(2px) solid transparent;
			border-bottom-color: rgb(var(--g-color-accent));
			outline: none;
			transition-property: background-color, border-color;
			transition-duration: var(--g-duration-transition);

			@supports not (field-sizing: content) {
				resize: vertical;
				height: calc(5lh + calc(u.Rem(6px) * 2) + calc(u.Rem(2px) * 2));
			}

			&:focus {
				border-color: rgb(var(--g-color-accent));
			}

			&:hover:not(:focus) {
				--c: rgba(var(--g-color-accent), var(--g-opacity-inv5));
				border-top-color: var(--c);
				border-left-color: var(--c);
				border-right-color: var(--c);
			}
		}

		> output {
			display: flex;
			margin-top: u.Rem(16px);
			width: 100%;
			overflow-x: auto;
			overflow-y: hidden;
			padding: 0 u.Rem(10px)
		}

		> div {
			margin-top: u.Rem(16px);
			display: flex;
			gap: u.Rem(4px);
		}

		& math {
			font-family: Cambria Math,TeX Gyre Pagella Math,XITS Math,math;
		}
	}
}