$side_navigation_none: 680px;

.app :global(.c-app-body) {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(var(--g-color-surface));
	border: 1px solid rgba(var(--g-color-on-surface), var(--g-opacity1));
	border-bottom: none;
	border-right: none;
	border-radius: 16px 0 0 0;

	:root[data-corner=sharp] & { border-radius: 0 }
	:root[data-corner=semi-round] & { border-radius: 8px 0 0 0 }
	:root[data-corner=full-round] & { border-radius: 20px 0 0 0 }

	@media (max-width: $side_navigation_none) {
		border-radius: 0 !important;
		border-left: none;
	}
}

.body_page {
	width: 820px;
	max-width: 100%;
	padding: 24px;

	@media (max-width: $side_navigation_none) {
		padding: 16px;
	}

	> h1 {
		font-size: var(--g-font-size-xxd);
		margin-bottom: 8px;

		@media (max-width: 500px) {
			font-size: var(--g-font-size-l);
		}
	}

	> :not(h1) {
		margin-bottom: 16px;
	}
}

.body_playground {
	padding: 16px;
	margin-top: 32px;
	border: 1px solid rgba(var(--g-color-on-surface), var(--g-opacity-border));
	border-radius: 8px;
	background-color: rgb(var(--g-color-background));
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	align-items: center;

	:root[data-corner=sharp] & { border-radius: 0 }
	:root[data-corner=semi-round] & { border-radius: 4px }
	:root[data-corner=full-round] & { border-radius: 20px }
}

.body_playground_options {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.side_navigation {
	@media (max-width: $side_navigation_none) {
		display: none !important;
	}
}