---
import Buttons from './_pages/_UIButtons.astro'
import CheckBox from './_pages/_UICheckBox.astro'
import TextField from './_pages/_UITextField.astro'
import ColorPicker from './_pages/_UIColorPicker.astro'
import Icon from './_pages/_UIIcon.astro'
import List from './_pages/_UIList.astro'
import Popover from './_pages/_UIPopover.astro'
import Modal from './_pages/_UIModal.astro'
import ComboBox from './_pages/_UIComboBox.astro'
import Tooltip from './_pages/_UITooltip.astro'
import Menu from './_pages/_UIMenu.astro'
import EmojiPicker from './_pages/_UIEmojiPicker.astro'
import Drawer from './_pages/_UIDrawer.astro'
import Dialog from './_pages/_UIDialog.astro'
import DatePicker from './_pages/_UIDatePicker.astro'
import CSS from '../_index.module.scss'
---

<main class={CSS.body}>
	<EmojiPicker/>
	<Buttons/>
	<CheckBox/>
	<TextField/>
	<ColorPicker/>
	<Icon/>
	<List/>
	<Dialog/>
	<Popover/>
	<Modal/>
	<ComboBox/>
	<Tooltip/>
	<Menu/>
	<Drawer/>
	<DatePicker/>
</main>