#tooltip {
    align-items: center;
    border-radius: 8px;
    border: none;
    box-shadow: var(--elevation1);
    display: flex;
    inset: unset;
    color: rgb(var(--color-surface));
    background-color: rgb(var(--color-on-surface));
    max-height: calc(100dvh - 16px);
    max-width: calc(100% - 16px);
    opacity: 0;
    padding: 6px 8px;
    font-size: var(--font-size-s);
    font-weight: 500;
    outline: 1px solid rgba(var(--color-surface), var(--opacity2));
    outline-offset: -1px;
    overflow: hidden;
    pointer-events: none;
    width: fit-content;
    height: fit-content;
    position: fixed;
    transition-duration: .3s,   0s,  0s,        0s,      0s,  0s;
    transition-property: all, left, top, transform, padding, gap;
    white-space: pre-wrap;
    z-index: 99;

    [data-corner=sharp] & {
        border-radius: 0;
    }

    [data-corner=semi-round] & {
        border-radius: 4px;
    }

    [data-corner=full-round] & {
        border-radius: 14px;
    }

    &[data-open] {
        transition-duration: .3s, 0s, 0s;
        transition-property: all, left, top;
    }

    &[data-move] {
        opacity: 1;
    }

    &.tooltip-keyboard-shortcuts {
        padding: 6px 6px 6px 12px;
        gap: 4px;

        &-only {
            padding: 6px;
            gap: 4px;
        }

        > span {
            padding-right: 8px;
        }
    }

    &:is(.tooltip-keyboard-shortcuts, .tooltip-keyboard-shortcuts-only) > kbd {
        border-radius: 2px;
        background-color: rgba(var(--color-surface), var(--opacity3));
        border: 1px solid rgba(var(--color-surface), var(--opacity2));
        padding: 0 .4em;
        box-shadow: 0 .15em 0 rgba(var(--color-surface), var(--opacity-inv5));
    }
}