#c-text-tooltip {
	align-items: center;
	border-radius: 4px;
	border: none;
	box-shadow: var(--g-elevation2);
	display: flex;
	inset: unset;
	color: rgb(var(--g-color-surface));
	background-color: rgb(var(--g-color-on-surface));
	max-height: calc(100dvh - 16px);
	max-width: calc(100% - 16px);
	opacity: 0;
	padding: 6px 8px;
	font-size: var(--g-font-size-s);
	font-weight: 500;
	outline: 1px solid rgba(var(--g-color-surface), var(--g-opacity2));
	outline-offset: -1px;
	overflow: hidden;
	pointer-events: none;
	width: fit-content;
	height: fit-content;
	position: fixed;
	white-space: pre-wrap;
	position: fixed;
	z-index: 99;
	transition-property: opacity;
	transition-duration: .3s;
	transition-timing-function: var(--g-transition-spring-bounce);

	:root[data-corner=sharp] & { border-radius: 0 }
	:root[data-corner=full-round] & { border-radius: 14px }

	&[data-c-open] {
		opacity: 1;
	}
}

.c-popover.c-rich-tooltip {
	box-shadow: var(--g-elevation3);

	> div {
		padding: 12px;
		font-size: var(--g-font-size-xs);
	}
}

.c-tooltip {
	display: contents;
}