#tooltip {
    align-items: center;
    border-radius: 8px;
    border: none;
    box-shadow: var(--elevation1);
    display: flex;
    inset: unset;
    color: rgb(var(--color-sur));
    background-color: rgb(var(--color-on-sur));
    max-height: calc(100dvh - calc(var(--popover-margin) * 2));
    max-width: calc(100dvw - calc(var(--popover-margin) * 2));
    opacity: 0;
    padding: 8px;
    font-size: var(--font-size-s);
    line-height: var(--font-size-s);
    outline: none;
    overflow: hidden;
    pointer-events: none;
    width: fit-content;
    height: fit-content;
    position: fixed;
    transition: all .2s, left 0s, top 0s, transform 0s, padding 0s, gap 0s;
    white-space: pre;
    z-index: var(--z-index-tooltip);
    
    &[data-open] {
        transition: all .2s, left 0s, top 0s;
    }
    
    &[data-move] {
        opacity: 1;
    }

    &.tooltip-keyboard-shortcuts { 
        padding: 6px 6px 6px 12px;
        gap: 4px;

        &-only {
            padding: 6px;
            gap: 4px;
        }

        > span {
            padding-right: 8px;
        }
    }

    &:is(.tooltip-keyboard-shortcuts, .tooltip-keyboard-shortcuts-only) > kbd {
        border-radius: 2px;
        background-color: rgba(var(--color-sur), var(--opacity3));
        border: 1px solid rgba(var(--color-sur), var(--opacity2));
        padding: 0 .4em;
        box-shadow: 0 .15em 0 rgba(var(--color-sur), var(--opacity-inv5));
    }
}
