@use '../../../styles/units.scss' as u;

.body {
	width: 100%;
	height: 100%;
	padding: u.Rem(24px);
	max-height: 100%;
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	> h1 {
		font-size: min(u.Rem(256px), 32dvw);
		background: linear-gradient(
			to right,
			#ff7a00 20%,
			#85fa00 30%,
			#01cd7f 70%,
			#ff7a00 80%
		);
		-webkit-background-clip: text;
		text-align: center;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-fill-color: transparent;
		background-size: 500% auto;

		:root[data-animation=on] & {
			animation: textShine 5s ease-in-out infinite alternate;
		}

		@media (prefers-reduced-motion: no-preference) {
			:root[data-animation=auto] & {
				animation: textShine 5s ease-in-out infinite alternate;
			}
		}
	}

	> p {
		margin-top: u.Rem(16px);
		text-align: center;
	}
}

.bodyStatus {
	margin-top: u.Rem(16px);
	background-color: rgba(var(--g-color-accent), var(--g-opacity3));
	padding: u.Rem(4px) u.Rem(12px);
	min-height: u.Rem(32px);
	border-radius: u.Rem(4px);
	display: flex;
	align-items: center;
	gap: u.Rem(8px);
	font-size: var(--g-font-size-xs);
	border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity1));
	transition-duration: var(--g-duration-transition);

	> :global(.c-icon) {
		color: rgb(var(--g-color-accent));
	}
}

@keyframes textShine {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}