.footer {
    padding: 0 32px 64px 32px;

    > p {
        text-align: center;
        color: rgb(var(--color-accent));
        font-weight: bold;
        text-shadow: var(--elevation1);
    }

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding-top: 8px;
        flex-wrap: wrap;
    }

    & a {
        display: inline-block;
        border-bottom: 2px solid rgb(var(--color-accent));
        padding-top: 8px;
        transition-duration: .3s;

        @media (hover: hover) {
            &:hover {
                color: rgb(var(--color-accent));
                padding-top: 0;
                padding-bottom: 8px;
            }
        }

        &:active {
            color: rgb(var(--color-accent));
            padding-top: 0;
            padding-bottom: 8px;
            border-bottom-style: dashed;
            letter-spacing: 1px;
        }
    }
}