---
import { ThemeData } from '@/enums/theme'
import '@/styles/variables.scss'
import '@/styles/animations.scss'
import '@/styles/index.scss'

type Props = {
    title?: string
    description?: string
    lang?: string
    theme?: ThemeData
}

const {
    title = 'Redmerah - Get most of your useful tools here',
    description = 'Get most of your useful tools here',
    lang = 'en',
    theme = ThemeData.system
} = Astro.props
---

<html lang={ lang } data-theme={ theme }>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta name="description" content={ description }>
        <title>{ title }</title>
        <slot name="favicon">
            <link rel="shortcut icon" type="image/ico" href="/favicon/favicon.ico" />
            <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
            <link rel="manifest" href="/favicon/site.webmanifest">
        </slot>
        <slot name="open-graph-protocol" />
    </head>
    <body>
        <slot />
    </body>
</html>