.actions {
    justify-content: flex-end;
    gap: 4px;
}

.appbar {
    display: flex;
    justify-content: space-between;
    padding: 8px 8px 0 8px;
    gap: 8px;
    width: 100%;
    top: 0;
    background-color: rgb(var(--color-background));
    z-index: 9;

    @media (max-width: 500px) {
        display: flex;
        justify-content: space-between;
    }

    > div {
        display: flex;
        align-items: center;
    }
}

.generate_icon {
    &[data-rotate] {
        animation: rotate-animation 1s infinite linear;
    }
}

@keyframes rotate-animation {
    to {
        rotate: 360deg;
    }
}

.logo {
    font-weight: 600;
    gap: 8px !important;
    white-space: nowrap;
    padding-right: 8px;

    & img {
        width: 24px;
        margin: 0 8px;
        aspect-ratio: 1;
    }
}

.textfield_menu_item {
    padding: 8px 12px;

    &:not(:last-child) {
        padding-bottom: 0;
    }
}