@use '_size.scss';

.control {
    padding: 8px 8px 8px 0;
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: size.$side_navigation_none) {
        padding: 8px;
    }

    &[data-randomizer=string] {
        @media (max-width: 560px) {
            display: grid;
            grid-template-columns: 1fr 1fr;

            & :global(.textfield) {
                width: 100% !important;
            }
        }
    }

    &[data-randomizer=numbers] {
        @media (max-width: 500px) {
            display: grid;
            grid-template-columns: 1fr 1fr;

            & :global(.textfield) {
                width: 100% !important;
            }
        }
    }

    &[data-randomizer=colors] {
        > :global(.textfield) {
            width: min(100%, 164px);
        }

        @media (max-width: 700px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 12px;

            > :global(.textfield) {
                width: 100% !important;
            }
        }
    }

    &[data-randomizer=words] {
        @media (max-width: 500px) {
            display: grid;
            grid-template-columns: 1fr 1fr;

            & :global(.textfield) {
                width: 100% !important;
            }
        }
    }

    &[data-randomizer=selection] {
        @media (max-width: 500px) {
            display: grid;
            grid-template-columns: 1fr 1fr;

            & :global(.textfield) {
                width: 100% !important;
            }
        }
    }

    &[data-randomizer=teams] {
        @media (max-width: 500px) {
            display: flex;
            flex-wrap: wrap;

            > * {
                flex: 1 1 150px;
            }
        }
    }
}

.string_custom_character {
    padding: 8px 12px;
}