.body {
    width: 100%;
    max-width: 100%;
    display: flex;
    height: calc(100dvh - 48px);
    max-height: calc(100dvh - 48px);
}

.delete_list {
    border: 2px solid rgb(var(--color-accent));
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-top: 8px;
}

.main {
    max-height: 100%;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.view_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    > div {
        border: 1px solid rgba(var(--color-on-surface), var(--opacity-border));
        padding: 0 12px;
        min-height: 32px;
        border-radius: 8px;
        font-size: var(--font-size-xs);
        display: flex;
        align-items: center;
        white-space: nowrap;

        [data-corner=sharp] & {
            border-radius: 0;
        }
    
        [data-corner=semi-round] & {
            border-radius: 4px;
        }
    
        [data-corner=full-round] & {
            border-radius: 20px;
        }
    }
}