---
import Html from '@/layouts/Html/index.astro'
import Appbar from '@/layouts/Appbar/index.astro'
import BottomBar from '@/layouts/BottomBar/index.astro'
import Main from '@/layouts/Main/index.astro'
import Splash from '@/layouts/Splash/index.astro'
import { CSSClasses } from './_styles/_css'
import { RoutesLinks } from '@/enums/links'
---

<Html title="Privacy Policy • Redmerah" description="Putting you in control. Redmerah respects your privacy with no data collection. Discover your control options in our detailed privacy policy.">
	<Splash>
		<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_536_18)">
				<rect y="10" width="8" height="22" rx="2" fill="#FF1414"/>
				<path d="M14.1504 19.4785C12.7754 18.4093 12.0879 17.8747 12.0142 17.4068C11.9505 17.0018 12.1036 16.5932 12.4224 16.3179C12.7906 16 13.6786 16 15.4544 16H29.9394C30.6607 16 31.0213 16 31.2968 16.1336C31.5391 16.251 31.7362 16.4385 31.8596 16.669C32 16.9311 32 17.2743 32 17.9605V29.2243C32 30.5454 32 31.2059 31.7161 31.5421C31.4693 31.8344 31.0954 32.0031 30.7013 32C30.2481 31.9963 29.7105 31.5783 28.6354 30.7423L14.1504 19.4785Z" fill="url(#paint0_linear_536_18)"/>
				<rect x="22" width="8" height="22" rx="2" transform="rotate(90 22 0)" fill="url(#paint1_linear_536_18)"/>
				<path d="M31.0477 3.02574C31.6985 2.0423 32.0239 1.55059 31.9986 1.14307C31.9766 0.788019 31.8005 0.460331 31.5166 0.246004C31.1908 0 30.6011 0 29.4219 0H11.9496C11.2672 0 10.926 0 10.6653 0.132816C10.436 0.249644 10.2496 0.43606 10.1328 0.665348C10 0.926014 10 1.26724 10 1.9497V28.3519C10 30.2994 10 31.2731 10.3413 31.6271C10.636 31.9329 11.0688 32.0632 11.4833 31.9709C11.9633 31.864 12.5007 31.052 13.5754 29.4279L31.0477 3.02574Z" fill="#FF1414"/>
			</g>
			<defs>
				<linearGradient id="paint0_linear_536_18" x1="32.7513" y1="31.9802" x2="8.79067" y2="11.6166" gradientUnits="userSpaceOnUse">
					<stop offset="0.388321" stop-color="#E80000"/>
					<stop offset="1" stop-color="#820000"/>
				</linearGradient>
				<linearGradient id="paint1_linear_536_18" x1="25.9481" y1="22" x2="25.9481" y2="-6.43077" gradientUnits="userSpaceOnUse">
					<stop offset="0.239659" stop-color="#E80000"/>
					<stop offset="1" stop-color="#820000"/>
				</linearGradient>
				<clipPath id="clip0_536_18">
					<rect width="32" height="32" fill="white"/>
				</clipPath>
			</defs>
		</svg>
	</Splash>
	<Appbar route={RoutesLinks.privacy}/>
	<Main>
		<article class={CSSClasses.article}>
			<h1>🛡️<br/>Privacy Policy</h1>
			<p>At Redmerah, accessible from <a href="https://redmerah.com">https://redmerah.com</a>, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Redmerah and how we use it.</p>
			<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
			<section>
				<h2 id="Log-Files"><a href="#Log-Files">Log Files</a></h2>
				<p>Redmerah follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information. Our Privacy Policy was created with the help of the <a href="https://www.privacypolicyonline.com/privacy-policy-generator/">Privacy Policy Generator</a>.</p>
			</section>
			<section>
				<h2 id="Privacy-Policies"><a href="#Privacy-Policies">Privacy Policies</a></h2>
				<p>You may consult this list to find the Privacy Policy for each of the advertising partners of Redmerah.</p>
				<p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on Redmerah, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
				<p>Note that Redmerah has no access to or control over these cookies that are used by third-party advertisers.</p>
			</section>
			<section>
				<h2 id='Third-Party-Privacy-Policies'><a href="#Third-Party-Privacy-Policies">Third Party Privacy Policies</a></h2>
				<p>Redmerah's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>
				<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites. What Are Cookies?</p>
			</section>
			<section>
				<h2 id="Childrens-Information"><a href="#Childrens-Information">Children's Information</a></h2>
				<p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
				<p>Redmerah does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
			</section>
			<section>
				<h2 id="Online-Privacy-Policy-Only"><a href="#Online-Privacy-Policy-Only">Online Privacy Policy Only</a></h2>
				<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Redmerah. This policy is not applicable to any information collected offline or via channels other than this website.</p>
			</section>
			<section>
				<h2 id="Consent"><a href="#Consent">Consent</a></h2>
				<p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
			</section>
		</article>
	</Main>
	<BottomBar/>
	<script src="./_scripts/_index.ts"/>
</Html>
