---
import Html from '@/layouts/Html/index.astro'
import Appbar from '@/layouts/Appbar/index.astro'
import BottomBar from '@/layouts/BottomBar/index.astro'
import Main from '@/layouts/Main/index.astro'
import Splash from '@/layouts/Splash/index.astro'
import { CSSClasses } from './_styles/_css'
import { RoutesLinks } from '@/enums/links'
---

<Html title="Privacy Policy • Redmerah" description="Putting you in control. Redmerah respects your privacy with no data collection. Discover your control options in our detailed privacy policy.">
	<Splash>
		<svg width="512" height="512" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_864_188)">
				<path d="M256 320V240C256 222.327 241.673 208 224 208C206.327 208 192 222.327 192 240V464C192 478.91 192 486.365 189.564 492.246C186.316 500.087 180.087 506.316 172.246 509.564C166.365 512 158.91 512 144 512V512C129.09 512 121.635 512 115.754 509.564C107.913 506.316 101.684 500.087 98.4359 492.246C96 486.365 96 478.91 96 464V240C96 169.308 153.308 112 224 112C294.692 112 352 169.308 352 240V320C352 343.016 352.037 357.876 352.812 369.25C353.559 380.194 354.829 384.378 355.656 386.375C360.528 398.131 369.869 407.472 381.625 412.344C383.622 413.171 387.806 414.441 398.75 415.188C399.166 415.216 399.586 415.243 400.011 415.27C416.056 416.266 424.079 416.764 429.607 419.361C437.289 422.97 442.625 428.648 445.75 436.538C448 442.216 448 449.478 448 464V464C448 479.086 448 486.63 445.427 492.653C442.092 500.457 435.2 507.05 427.256 510.035C421.125 512.339 414.085 512.026 400.006 511.402C397.324 511.283 394.728 511.14 392.219 510.969C376.39 509.889 360.548 507.509 344.906 501.031C309.622 486.416 281.584 458.378 266.969 423.094C260.491 407.452 258.111 391.61 257.031 375.781C255.981 360.383 256 341.703 256 320Z" fill="url(#paint0_linear_864_188)"/>
				<rect x="32" y="32" width="448" height="288" rx="64" fill="#7A0000" stroke="#FF1414" stroke-width="64"/>
			</g>
			<defs>
				<linearGradient id="paint0_linear_864_188" x1="288" y1="288" x2="288" y2="512" gradientUnits="userSpaceOnUse">
					<stop stop-color="#A30000"/>
					<stop offset="1" stop-color="#FF1414"/>
				</linearGradient>
				<clipPath id="clip0_864_188">
					<rect width="512" height="512" fill="white"/>
				</clipPath>
			</defs>
		</svg>
	</Splash>
	<Appbar route={RoutesLinks.privacy}/>
	<Main>
		<article class={CSSClasses.article}>
			<h1>Privacy Policy</h1>
			<p>At Redmerah, accessible from <a href="https://redmerah.com">https://redmerah.com</a>, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Redmerah and how we use it.</p>
			<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>
			<section>
				<h2 id="Log-Files"><a href="#Log-Files">Log Files</a></h2>
				<p>Redmerah follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information. Our Privacy Policy was created with the help of the <a href="https://www.privacypolicyonline.com/privacy-policy-generator/">Privacy Policy Generator</a>.</p>
			</section>
			<section>
				<h2 id="Privacy-Policies"><a href="#Privacy-Policies">Privacy Policies</a></h2>
				<p>You may consult this list to find the Privacy Policy for each of the advertising partners of Redmerah.</p>
				<p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on Redmerah, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
				<p>Note that Redmerah has no access to or control over these cookies that are used by third-party advertisers.</p>
			</section>
			<section>
				<h2 id='Third-Party-Privacy-Policies'><a href="#Third-Party-Privacy-Policies">Third Party Privacy Policies</a></h2>
				<p>Redmerah's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>
				<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites. What Are Cookies?</p>
			</section>
			<section>
				<h2 id="Childrens-Information"><a href="#Childrens-Information">Children's Information</a></h2>
				<p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
				<p>Redmerah does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
			</section>
			<section>
				<h2 id="Online-Privacy-Policy-Only"><a href="#Online-Privacy-Policy-Only">Online Privacy Policy Only</a></h2>
				<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Redmerah. This policy is not applicable to any information collected offline or via channels other than this website.</p>
			</section>
			<section>
				<h2 id="Consent"><a href="#Consent">Consent</a></h2>
				<p>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</p>
			</section>
		</article>
	</Main>
	<BottomBar/>
	<script src="./_scripts/_index.ts"/>
</Html>
