---
import { ElementIds } from '../../_scripts/_shared/_ids'
import { CSSClasses } from '../../_styles/_css'
---

<div
	id={ElementIds.bodyClock}
	class={[CSSClasses.bodyPage, CSSClasses.bodyPageClock].join(' ')}
	role="tabpanel">
	<h2 id={ElementIds.bodyClockTime}>{new Date().toLocaleTimeString('en', {hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: false})}</h2>
	<p id={ElementIds.bodyClockDate}>{new Date().toLocaleDateString('en', {year: 'numeric', month: 'long', day: 'numeric', weekday: 'long'})}</p>
</div>