@use '../../styles/units.scss' as u;

.desktop_only {
	@media (max-width: u.Rem(540px)) {
		display: none !important;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: sticky;
	z-index: 100;
	top: 0;

	> div {
		display: flex !important;
		gap: u.Rem(8px);
		align-items: flex-start;
		width: u.Rem(1080px);
		max-width: 100%;
		padding: u.Rem(8px);
	}

	& [data-css-float] {
		display: flex;
		align-items: center;
		gap: u.Rem(4px);
		background-color: rgba(var(--g-color-background), .5);
		backdrop-filter: blur(var(--g-blur-glass));
		padding: u.Rem(4px);
		border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity2));
		border-radius: 8px;
		box-shadow: var(--g-elevation2);

		&:empty {
			display: none;
		}
	}
}

.mobile_only {
	@media (min-width: u.Rem(541px)) {
		display: none !important;
	}
}