.desktop_only {
	@media (max-width: 540px) {
		display: none !important;
	}
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	position: sticky;
	z-index: 100;
	top: 0;
	background-color: rgba(var(--g-color-background), var(--g-opacity-glass));
	backdrop-filter: blur(var(--g-blur-glass));

	> div {
		display: flex !important;
		gap: 4px;
		align-items: center;
		width: 1080px;
		max-width: 100%;
		padding: 8px;
	}

	& nav {
		display: flex;
		align-items: center;
		gap: 4px;
		flex: 1;
		justify-content: flex-end;
	}
}

.mobile_only {
	@media (min-width: 541px) {
		display: none !important;
	}
}