@use '../../styles/units.scss' as u;

.c-combobox {
	accent-color: rgb(var(--g-color-accent));
	appearance: base-select;
	padding: u.Rem(4px) u.Rem(10px);
	border: u.Rem(1px) solid transparent;
	display: flex;
	background-color: transparent;
	align-items: center;
	border-radius: var(--g-border-radius4);
	display: flex;
	gap: u.Rem(8px);
	font-size: var(--g-font-size-xs);
	line-height: normal;
	justify-content: center;
	min-height: u.Rem(32px);
	scrollbar-width: none;
	user-select: none;
	-ms-overflow-style: none;
	transition-property: border-color;
	transition-duration: var(--g-duration-transition);

	&[multiple] {
		padding: u.Rem(4px) u.Rem(0px);
	}

	& * {
		user-select: none;
	}

	&:disabled {
		filter: grayscale(1) opacity(0.5);
		cursor: not-allowed;

		& * {
			cursor: not-allowed;
		}
	}

	&:not(:disabled){
		&:not([data-c-combobox-variant=filled],[data-c-combobox-variant=outlined]) {
			border: u.Rem(2px) solid transparent;
		}

		&:open {
			background-color: rgba(var(--g-color-on-surface), var(--g-opacity2));

			&[data-c-combobox-variant=filled] {
				background-color: rgba(var(--g-color-accent), var(--g-opacity-inv3));
			}

			&[data-c-combobox-variant=tonal] {
				background-color: rgba(var(--g-color-on-surface), var(--g-opacity1));
			}

			&:not([data-c-combobox-variant=filled]) {
				border-color: rgb(var(--g-color-accent));
			}
		}

		&:hover {
			background-color: rgba(var(--g-color-on-surface), var(--g-opacity2));
			cursor: pointer;
		}

		&:active {
			background-color: rgba(var(--g-color-on-surface), var(--g-opacity1));
		}
	}

	&[data-c-combobox-variant=filled] {
		background-color: rgb(var(--g-color-accent));
		color: rgb(var(--g-color-on-accent));

		&:not(:disabled){
			&:hover {
				background-color: rgba(var(--g-color-accent), var(--g-opacity-inv3));
			}

			&:active {
				background-color: rgba(var(--g-color-accent), var(--g-opacity-inv5));
			}
		}
	}

	&[data-c-combobox-variant=tonal] {
		background-color: rgba(var(--g-color-on-surface), var(--g-opacity2));

		&:not(:disabled){
			&:hover {
				background-color: rgba(var(--g-color-on-surface), var(--g-opacity1));
			}

			&:active {
				background-color: rgba(var(--g-color-on-surface), var(--g-opacity0));
			}
		}
	}

	&[data-c-combobox-variant=outlined] {
		border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity-border));
	}

	&::picker-icon {
		color: rgb(var(--g-color-accent));
		width: u.Rem(20px);
		height: u.Rem(20px);
		text-align: center;
		transition-property: rotate;
		transition-duration: var(--g-duration-transition);
	}

	&:open::picker-icon {
		rotate: 180deg;
	}
}

.c-combobox::picker(select) {
	appearance: base-select;
	background-color: rgba(var(--g-color-surface), var(--g-opacity-glass));
	backdrop-filter: blur(var(--g-blur-glass));
	border: u.Rem(1px) solid rgba(var(--g-color-on-surface), var(--g-opacity3));
	box-shadow: var(--g-elevation3);
	border-radius: var(--g-border-radius8);
	padding: u.Rem(4px) u.Rem(0px);
	opacity: 0;
	translate: u.Rem(0px) u.Rem(-12px);
	margin: u.Rem(8px) u.Rem(0px);
	position-try: most-block-size flip-block;
	transition-timing-function: var(--g-transition-spring-bounce-inverse);

	:root[data-theme=dark] & {
		border: u.Rem(1px) solid rgba(0, 0, 0, var(--g-opacity-inv5));
		background-color: rgba(46, 46, 46, var(--g-opacity-glass));
	}
	:root[data-theme=auto] & {
		@media (prefers-color-scheme: dark) {
			border: u.Rem(1px) solid rgba(0, 0, 0, var(--g-opacity-inv5));
			background-color: rgba(46, 46, 46, var(--g-opacity-glass));
		}
	}

	:root[data-animation=on] & {
		transition-property: display, overlay, opacity, translate;
		transition-duration: var(--g-duration-transition);
		transition-behavior: allow-discrete;
	}

	@media (prefers-reduced-motion: no-preference) {
		:root[data-animation=auto] & {
			transition-property: display, overlay, opacity, translate;
			transition-duration: var(--g-duration-transition);
			transition-behavior: allow-discrete;
		}
	}

	&:popover-open {
		opacity: 1;
		translate: 0 0;
		transition-timing-function: var(--g-transition-spring-bounce);
	}
}


@starting-style {
	.c-combobox::picker(select):popover-open {
		opacity: 0;
		translate: u.Rem(0px) u.Rem(-12px);
	}
}

.c-combobox-option {
	accent-color: rgb(var(--g-color-accent));
	padding: u.Rem(0px) u.Rem(8px);
	justify-content: flex-start;
	margin: u.Rem(0px) u.Rem(4px);
	min-height: u.Rem(28px);
	width: calc(100% - u.Rem(8px));
	white-space: nowrap;
	position: relative;

	&::before {
		content: '';
		display: block;
		background-color: rgb(var(--g-color-accent));
		position: absolute;
		left: u.Rem(1px);
		width: u.Rem(3px);
		top: 50%;
		opacity: 0;
		transform: translateY(-50%);
		height: u.Rem(3px);
		border-radius: u.Rem(999px);
		transition-property: height;
		transition-duration: var(--g-duration-transition);
	}

	&:checked {
		background-color: rgba(var(--g-color-on-surface), var(--g-opacity2));

		&:not(:disabled) {
			&:hover {
				background-color: rgba(var(--g-color-on-surface), var(--g-opacity1));
			}

			&:active {
				background-color: rgba(var(--g-color-on-surface), var(--g-opacity0));
			}
		}

		&::before {
			height: max(50%, u.Rem(3px));
			opacity: 1;
		}
	}

	&::checkmark {
		display: none;
	}

	&:not(:first-of-type) {
		margin-top: u.Rem(4px);
	}
}