---
import UIAngle from './_pages/_UIAngle.astro'
import UILength from './_pages/_UILength.astro'
import UITime from './_pages/_UITime.astro'
import { CSSClasses } from '../_styles/_css'
---

<main class={CSSClasses.body}>
	<UIAngle/>
	<UILength/>
	<UITime/>
</main>