@use '../../styles/units.scss' as u;

.c-slider {
	--c-slider-percent: 0%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: u.Rem(200px);
	height: u.Rem(20px);
	background-color: transparent;
	cursor: pointer;

	&:disabled {
		filter: grayscale(1) opacity(0.5);

		&::-webkit-slider-thumb {
			border-width: u.Rem(4px) !important;
		}

		&::-moz-range-thumb {
			border-width: u.Rem(4px) !important;
		}
	}

	&:not(:disabled) {
		@media (hover: hover) {
			&:hover::-webkit-slider-runnable-track {
				opacity: var(--g-opacity-inv2);
			}

			&:hover::-moz-range-track {
				opacity: var(--g-opacity-inv2);
			}
		}

		&:active::-webkit-slider-runnable-track {
			opacity: 1;
		}

		&:active::-moz-range-track {
			opacity: 1;
		}
	}

	&::-webkit-slider-runnable-track {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		height: u.Rem(4px);
		border-radius: u.Rem(999px);
		background: linear-gradient(
			to right,
			rgb(var(--g-color-accent)) var(--c-slider-percent),
			rgba(var(--g-color-on-surface), var(--g-opacity5)) var(--c-slider-percent)
		);
		transition-property: opacity;
		transition-duration: var(--g-duration-transition);
	}

	&::-moz-range-track {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		height: u.Rem(4px);
		border-radius: u.Rem(999px);
		background: linear-gradient(
			to right,
			rgb(var(--g-color-accent)) var(--c-slider-percent),
			rgba(var(--g-color-on-surface), var(--g-opacity5)) var(--c-slider-percent)
		);
		transition-property: opacity;
		transition-duration: var(--g-duration-transition);
	}

	&::-webkit-slider-thumb {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		border: u.Rem(4px) solid rgba(var(--g-color-surface), var(--g-opacity-inv2));
		box-sizing: border-box;
		border-radius: 50%;
		height: u.Rem(20px);
		width: u.Rem(20px);
		position: relative;
		bottom: u.Rem(8px);
		box-shadow: var(--g-elevation2);
		background: rgb(var(--g-color-accent));
		transition-property: border-width;
		transition-duration: var(--g-duration-transition);

		@media (hover: hover) {
			&:hover {
				border-width: u.Rem(3px);
			}
		}

		&:active {
			border-width: u.Rem(5px);
		}
	}


	// same as ::-webkit-slider-thumb. idk why chrome (137) wont let me
	// do `&::-webkit-slider-thumb,&::-moz-range-thumb`.
	&::-moz-range-thumb {
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		border: u.Rem(4px) solid rgba(var(--g-color-surface), var(--g-opacity-inv2));
		box-sizing: border-box;
		border-radius: 50%;
		height: u.Rem(19px);
		width: u.Rem(19px);
		position: relative;
		bottom: u.Rem(8px);
		box-shadow: var(--g-elevation2);
		background: rgb(var(--g-color-accent));
		transition-property: border-width;
		transition-duration: var(--g-duration-transition);

		@media (hover: hover) {
			&:hover {
				border-width: u.Rem(3px);
			}
		}

		&:active {
			border-width: u.Rem(5px);
		}
	}
}
